﻿@using TAM.EFaktur.Web.Models.Donation
@{
    var validation = (DonationValidation)ViewData["ValidationDonation"];
    var header = (DonationHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Donation</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formCreate">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JENIS_SUMBANGAN)
                        {
                            <input id="txtCreateJENIS_SUMBANGAN" name="txtCreateJENIS_SUMBANGAN" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateJENIS_SUMBANGAN" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BENTUK_SUMBANGAN)
                        {
                            <input id="txtCreateBENTUK_SUMBANGAN" name="txtCreateBENTUK_SUMBANGAN" type="text" class="form-control" maxlength="50" />
                        }
                        else
                        {
                            <input id="txtCreateBENTUK_SUMBANGAN" type="text" class="form-control" maxlength="50" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NILAI_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NILAI_SUMBANGAN)
                        {
                            <input id="txtCreateNILAI_SUMBANGAN" name="txtCreateNILAI_SUMBANGAN" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateNILAI_SUMBANGAN" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL_SUMBANGAN)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtCreateTANGGAL_SUMBANGAN">
                                <input id="txtCreateTANGGAL_SUMBANGAN" name="txtCreateTANGGAL_SUMBANGAN" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtCreateTANGGAL_SUMBANGAN" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_LEMBAGA_PENERIMA)
                        {
                            <input id="txtCreateNAMA_LEMBAGA_PENERIMA" name="txtCreateNAMA_LEMBAGA_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateNAMA_LEMBAGA_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NPWP_LEMBAGA_PENERIMA)
                        {
                            <input id="txtCreateNPWP_LEMBAGA_PENERIMA" name="txtCreateNPWP_LEMBAGA_PENERIMA" type="text" class="form-control _mask-npwp" />
                        }
                        else
                        {
                            <input id="txtCreateNPWP_LEMBAGA_PENERIMA" type="text" class="form-control _mask-npwp" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT_LEMBAGA)
                        {
                            <textarea id="txtCreateALAMAT_LEMBAGA" name="txtCreateALAMAT_LEMBAGA" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                        else
                        {
                            <textarea id="txtCreateALAMAT_LEMBAGA" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_TELP_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO_TELP_LEMBAGA)
                        {
                            <input id="txtCreateNO_TELP_LEMBAGA" name="txtCreateNO_TELP_LEMBAGA" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" />
                        }
                        else
                        {
                            <input id="txtCreateNO_TELP_LEMBAGA" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.SARANA_PRASARANA_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.SARANA_PRASARANA_INFRASTRUKTUR)
                        {
                            <input id="txtCreateSARANA_PRASARANA_INFRASTRUKTUR" name="txtCreateSARANA_PRASARANA_INFRASTRUKTUR" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateSARANA_PRASARANA_INFRASTRUKTUR" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.LOKASI_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.LOKASI_INFRASTRUKTUR)
                        {
                            <input id="txtCreateLOKASI_INFRASTRUKTUR" name="txtCreateLOKASI_INFRASTRUKTUR" type="text" class="form-control" maxlength="200" />
                        }
                        else
                        {
                            <input id="txtCreateLOKASI_INFRASTRUKTUR" type="text" class="form-control" maxlength="200" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BIAYA_PEMBANGUNAN_INFRASTRUKTUR)
                        {
                            <input id="txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" name="txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.IZIN_MENDIRIKAN_BANGUNAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.IZIN_MENDIRIKAN_BANGUNAN)
                        {
                            <input id="txtCreateIZIN_MENDIRIKAN_BANGUNAN" name="txtCreateIZIN_MENDIRIKAN_BANGUNAN" type="text" class="form-control" maxlength="200" />
                        }
                        else
                        {
                            <input id="txtCreateIZIN_MENDIRIKAN_BANGUNAN" type="text" class="form-control" maxlength="200" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NOMOR_REKENING)
                        {
                            <input id="txtCreateNOMOR_REKENING" name="txtCreateNOMOR_REKENING" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" />
                        }
                        else
                        {
                            <input id="txtCreateNOMOR_REKENING" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_REKENING_PENERIMA)
                        {
                            <input id="txtCreateNAMA_REKENING_PENERIMA" name="txtCreateNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_BANK)
                        {
                            <input id="txtCreateNAMA_BANK" name="txtCreateNAMA_BANK" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateNAMA_BANK" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                @*<div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No KTP</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            @if (validation.NO_KTP)
                            {
                                <input id="txtCreateNO_KTP" name="txtCreateNO_KTP" type="text" class="form-control" maxlength="16" />
                            }
                            else
                            {
                                <input id="txtCreateNO_KTP" type="text" class="form-control" maxlength="16" />
                            }
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnCreate">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formCreate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtCreateJENIS_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.JENIS_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateBENTUK_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.BENTUK_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNILAI_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.NILAI_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateTANGGAL_SUMBANGAN: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNAMA_LEMBAGA_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_LEMBAGA_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNPWP_LEMBAGA_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NPWP_LEMBAGA_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateALAMAT_LEMBAGA: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT_LEMBAGA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNO_TELP_LEMBAGA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO_TELP_LEMBAGA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateSARANA_PRASARANA_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.SARANA_PRASARANA_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtCreateLOKASI_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.LOKASI_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtCreateIZIN_MENDIRIKAN_BANGUNAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.IZIN_MENDIRIKAN_BANGUNAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNOMOR_REKENING: {
                    validators: {
                        notEmpty: {
                            message: '@header.NOMOR_REKENING is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNAMA_REKENING_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_REKENING_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNAMA_BANK: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_BANK is required and can\'t be empty'
                        }
                    }
                },
                //txtCreateNO_KTP: {
                //    validators: {
                //        notEmpty: {
                //            message: 'No KTP is required and can\'t be empty'
                //        }
                //    }
                //},
            }
        });

        $('[name="txtCreateTANGGAL_SUMBANGAN"]').on('blur', function (e) {
            if ($("#txtCreateTANGGAL_SUMBANGAN").val() != "") {
                $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateTANGGAL_SUMBANGAN');
            }
        });

        $('#dtCreateTANGGAL_SUMBANGAN').on('dp.change dp.show', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateTANGGAL_SUMBANGAN');
        });

        $('[name="txtCreateNPWP_LEMBAGA_PENERIMA"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateNPWP_LEMBAGA_PENERIMA');
        });

        $('[name="txtCreateNILAI_SUMBANGAN"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateNILAI_SUMBANGAN');
        });

        $('[name="txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR');
        });
    });

    $("#btnCreate").click(function () {
        var validator = $('#formCreate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglSumbangan = $("#txtCreateTANGGAL_SUMBANGAN").val().split("-");
            var tanggalSumbangan = new Date(+txtTglSumbangan[2], txtTglSumbangan[1] - 1, +txtTglSumbangan[0]);

            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var dataDonation = {
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                JENIS_SUMBANGAN: $("#txtCreateJENIS_SUMBANGAN").val(),
                BENTUK_SUMBANGAN: $("#txtCreateBENTUK_SUMBANGAN").val(),
                NILAI_SUMBANGAN: $("#txtCreateNILAI_SUMBANGAN").val().replaceAll(",", ""),
                TANGGAL_SUMBANGAN: tanggalSumbangan,
                NAMA_LEMBAGA_PENERIMA: $("#txtCreateNAMA_LEMBAGA_PENERIMA").val(),
                NPWP_LEMBAGA_PENERIMA: $("#txtCreateNPWP_LEMBAGA_PENERIMA").val(),
                ALAMAT_LEMBAGA: $("#txtCreateALAMAT_LEMBAGA").val(),
                NO_TELP_LEMBAGA: $("#txtCreateNO_TELP_LEMBAGA").val(),
                SARANA_PRASARANA_INFRASTRUKTUR: $("#txtCreateSARANA_PRASARANA_INFRASTRUKTUR").val(),
                LOKASI_INFRASTRUKTUR: $("#txtCreateLOKASI_INFRASTRUKTUR").val(),
                BIAYA_PEMBANGUNAN_INFRASTRUKTUR: $("#txtCreateBIAYA_PEMBANGUNAN_INFRASTRUKTUR").val().replaceAll(",", ""),
                IZIN_MENDIRIKAN_BANGUNAN: $("#txtCreateIZIN_MENDIRIKAN_BANGUNAN").val(),
                NOMOR_REKENING: $("#txtCreateNOMOR_REKENING").val(),
                NAMA_REKENING_PENERIMA: $("#txtCreateNAMA_REKENING_PENERIMA").val(),
                NAMA_BANK: $("#txtCreateNAMA_BANK").val()//,
                //NO_KTP: $("#txtCreateNO_KTP").val()
            };

            $.ajax({
                type: "POST",
                url: URLInsert,
                data: {
                    data: JSON.stringify(dataDonation)
                },
                beforeSend: function () {
                    $('#btnCreate').button('loading');
                    if (DEBUG) {
                        console.log('Save Start');
                    }
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                    if (DEBUG) {
                        console.log('Save Success');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                    msgError("An error has occured");
                },
                complete: function () {
                    $('#btnCreate').button('reset');
                    if (DEBUG) {
                        console.log('Save Done');
                    }
                    onGet(1);
                    $('#btnCancel').click();
                }
            });
        }
    });
</script>