﻿@using TAM.EFaktur.Web.Models.Donation
@{
    var data = (Donation)ViewData["Update"];
    var validation = (DonationValidation)ViewData["ValidationDonation"];
    var header = (DonationHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Donation</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formUpdate">
        <input type="hidden" value="@data.DONATION_ID" id="hdUpdateDONATION_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JENIS_SUMBANGAN)
                        {
                            <input id="txtUpdateJENIS_SUMBANGAN" name="txtUpdateJENIS_SUMBANGAN" type="text" class="form-control" maxlength="100" value="@data.JENIS_SUMBANGAN" />
                        }
                        else
                        {
                            <input id="txtUpdateJENIS_SUMBANGAN" type="text" class="form-control" maxlength="100" value="@data.JENIS_SUMBANGAN" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BENTUK_SUMBANGAN)
                        {
                            <input id="txtUpdateBENTUK_SUMBANGAN" name="txtUpdateBENTUK_SUMBANGAN" type="text" class="form-control" maxlength="50" value="@data.BENTUK_SUMBANGAN" />
                        }
                        else
                        {
                            <input id="txtUpdateBENTUK_SUMBANGAN" type="text" class="form-control" maxlength="50" value="@data.BENTUK_SUMBANGAN" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NILAI_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NILAI_SUMBANGAN)
                        {
                            <input id="txtUpdateNILAI_SUMBANGAN" name="txtUpdateNILAI_SUMBANGAN" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.NILAI_SUMBANGAN)" />
                        }
                        else
                        {
                            <input id="txtUpdateNILAI_SUMBANGAN" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.NILAI_SUMBANGAN)" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL_SUMBANGAN)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtUpdateTANGGAL_SUMBANGAN">
                                <input id="txtUpdateTANGGAL_SUMBANGAN" name="txtUpdateTANGGAL_SUMBANGAN" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL_SUMBANGAN)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtUpdateTANGGAL_SUMBANGAN" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL_SUMBANGAN)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_LEMBAGA_PENERIMA)
                        {
                            <input id="txtUpdateNAMA_LEMBAGA_PENERIMA" name="txtUpdateNAMA_LEMBAGA_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_LEMBAGA_PENERIMA" />
                        }
                        else
                        {
                            <input id="txtUpdateNAMA_LEMBAGA_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_LEMBAGA_PENERIMA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NPWP_LEMBAGA_PENERIMA)
                        {
                            <input id="txtUpdateNPWP_LEMBAGA_PENERIMA" name="txtUpdateNPWP_LEMBAGA_PENERIMA" type="text" class="form-control _mask-npwp" value="@data.NPWP_LEMBAGA_PENERIMA" />
                        }
                        else
                        {
                            <input id="txtUpdateNPWP_LEMBAGA_PENERIMA" type="text" class="form-control _mask-npwp" value="@data.NPWP_LEMBAGA_PENERIMA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT_LEMBAGA)
                        {
                            <textarea id="txtUpdateALAMAT_LEMBAGA" name="txtUpdateALAMAT_LEMBAGA" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT_LEMBAGA</textarea>
                        }
                        else
                        {
                            <textarea id="txtUpdateALAMAT_LEMBAGA" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT_LEMBAGA</textarea>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_TELP_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO_TELP_LEMBAGA)
                        {
                            <input id="txtUpdateNO_TELP_LEMBAGA" name="txtUpdateNO_TELP_LEMBAGA" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NO_TELP_LEMBAGA" />
                        }
                        else
                        {
                            <input id="txtUpdateNO_TELP_LEMBAGA" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NO_TELP_LEMBAGA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.SARANA_PRASARANA_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.SARANA_PRASARANA_INFRASTRUKTUR)
                        {
                            <input id="txtUpdateSARANA_PRASARANA_INFRASTRUKTUR" name="txtUpdateSARANA_PRASARANA_INFRASTRUKTUR" type="text" class="form-control" maxlength="100" value="@data.SARANA_PRASARANA_INFRASTRUKTUR" />
                        }
                        else
                        {
                            <input id="txtUpdateSARANA_PRASARANA_INFRASTRUKTUR" type="text" class="form-control" maxlength="100" value="@data.SARANA_PRASARANA_INFRASTRUKTUR" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.LOKASI_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.LOKASI_INFRASTRUKTUR)
                        {
                            <input id="txtUpdateLOKASI_INFRASTRUKTUR" name="txtUpdateLOKASI_INFRASTRUKTUR" type="text" class="form-control" maxlength="200" value="@data.LOKASI_INFRASTRUKTUR" />
                        }
                        else
                        {
                            <input id="txtUpdateLOKASI_INFRASTRUKTUR" type="text" class="form-control" maxlength="200" value="@data.LOKASI_INFRASTRUKTUR" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BIAYA_PEMBANGUNAN_INFRASTRUKTUR)
                        {
                            <input id="txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" name="txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.BIAYA_PEMBANGUNAN_INFRASTRUKTUR)" />
                        }
                        else
                        {
                            <input id="txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.BIAYA_PEMBANGUNAN_INFRASTRUKTUR)" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.IZIN_MENDIRIKAN_BANGUNAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.IZIN_MENDIRIKAN_BANGUNAN)
                        {
                            <input id="txtUpdateIZIN_MENDIRIKAN_BANGUNAN" name="txtUpdateIZIN_MENDIRIKAN_BANGUNAN" type="text" class="form-control" maxlength="200" value="@data.IZIN_MENDIRIKAN_BANGUNAN" />
                        }
                        else
                        {
                            <input id="txtUpdateIZIN_MENDIRIKAN_BANGUNAN" type="text" class="form-control" maxlength="200" value="@data.IZIN_MENDIRIKAN_BANGUNAN" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NOMOR_REKENING)
                        {
                            <input id="txtUpdateNOMOR_REKENING" name="txtUpdateNOMOR_REKENING" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" />
                        }
                        else
                        {
                            <input id="txtUpdateNOMOR_REKENING" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_REKENING_PENERIMA)
                        {
                            <input id="txtUpdateNAMA_REKENING_PENERIMA" name="txtUpdateNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" />
                        }
                        else
                        {
                            <input id="txtUpdateNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_BANK)
                        {
                            <input id="txtUpdateNAMA_BANK" name="txtUpdateNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" />
                        }
                        else
                        {
                            <input id="txtUpdateNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" />
                        }
                    </div>
                </div>
                @*<div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No KTP</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            @if (validation.NO_KTP)
                            {
                                <input id="txtUpdateNO_KTP" name="txtUpdateNO_KTP" type="text" class="form-control" maxlength="16" value="@data.NO_KTP" />
                            }
                            else
                            {
                                <input id="txtUpdateNO_KTP" type="text" class="form-control" maxlength="16" value="@data.NO_KTP" />
                            }
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnUpdate">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formUpdate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtUpdateJENIS_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.JENIS_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateBENTUK_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.BENTUK_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNILAI_SUMBANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.NILAI_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateTANGGAL_SUMBANGAN: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL_SUMBANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNAMA_LEMBAGA_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_LEMBAGA_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNPWP_LEMBAGA_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NPWP_LEMBAGA_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateALAMAT_LEMBAGA: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT_LEMBAGA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNO_TELP_LEMBAGA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO_TELP_LEMBAGA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateSARANA_PRASARANA_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.SARANA_PRASARANA_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateLOKASI_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.LOKASI_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR: {
                    validators: {
                        notEmpty: {
                            message: '@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateIZIN_MENDIRIKAN_BANGUNAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.IZIN_MENDIRIKAN_BANGUNAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNOMOR_REKENING: {
                    validators: {
                        notEmpty: {
                            message: '@header.NOMOR_REKENING is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNAMA_REKENING_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_REKENING_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNAMA_BANK: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_BANK is required and can\'t be empty'
                        }
                    }
                },
                //txtUpdateNO_KTP: {
                //    validators: {
                //        notEmpty: {
                //            message: 'No KTP is required and can\'t be empty'
                //        }
                //    }
                //},
            }
        });

        $('[name="txtUpdateTANGGAL_SUMBANGAN"]').on('blur', function (e) {
            if ($("#txtUpdateTANGGAL_SUMBANGAN").val() != "") {
                $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateTANGGAL_SUMBANGAN');
            }
        });

        $('#dtUpdateTANGGAL_SUMBANGAN').on('dp.change dp.show', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateTANGGAL_SUMBANGAN');
        });

        $('[name="txtUpdateNPWP_LEMBAGA_PENERIMA"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateNPWP_LEMBAGA_PENERIMA');
        });

        $('[name="txtUpdateNILAI_SUMBANGAN"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateNILAI_SUMBANGAN');
        });

        $('[name="txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR');
        });
    });

    $("#btnUpdate").click(function () {
        var validator = $('#formUpdate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {

            //process save data
            var txtTglSumbangan = $("#txtUpdateTANGGAL_SUMBANGAN").val().split("-");
            var tanggalSumbangan = new Date(+txtTglSumbangan[2], txtTglSumbangan[1] - 1, +txtTglSumbangan[0]);

            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var dataDonation = {
                DONATION_ID: $("#hdUpdateDONATION_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                JENIS_SUMBANGAN: $("#txtUpdateJENIS_SUMBANGAN").val(),
                BENTUK_SUMBANGAN: $("#txtUpdateBENTUK_SUMBANGAN").val(),
                NILAI_SUMBANGAN: $("#txtUpdateNILAI_SUMBANGAN").val().replaceAll(",", ""),
                TANGGAL_SUMBANGAN: tanggalSumbangan,
                NAMA_LEMBAGA_PENERIMA: $("#txtUpdateNAMA_LEMBAGA_PENERIMA").val(),
                NPWP_LEMBAGA_PENERIMA: $("#txtUpdateNPWP_LEMBAGA_PENERIMA").val(),
                ALAMAT_LEMBAGA: $("#txtUpdateALAMAT_LEMBAGA").val(),
                NO_TELP_LEMBAGA: $("#txtUpdateNO_TELP_LEMBAGA").val(),
                SARANA_PRASARANA_INFRASTRUKTUR: $("#txtUpdateSARANA_PRASARANA_INFRASTRUKTUR").val(),
                LOKASI_INFRASTRUKTUR: $("#txtUpdateLOKASI_INFRASTRUKTUR").val(),
                BIAYA_PEMBANGUNAN_INFRASTRUKTUR: $("#txtUpdateBIAYA_PEMBANGUNAN_INFRASTRUKTUR").val().replaceAll(",", ""),
                IZIN_MENDIRIKAN_BANGUNAN: $("#txtUpdateIZIN_MENDIRIKAN_BANGUNAN").val(),
                NOMOR_REKENING: $("#txtUpdateNOMOR_REKENING").val(),
                NAMA_REKENING_PENERIMA: $("#txtUpdateNAMA_REKENING_PENERIMA").val(),
                NAMA_BANK: $("#txtUpdateNAMA_BANK").val()//,
                //NO_KTP: $("#txtUpdateNO_KTP").val()
            };

            $.ajax({
                type: "POST",
                url: URLUpdate,
                data: {
                    data: JSON.stringify(dataDonation)
                },
                beforeSend: function () {
                    $('#btnUpdate').button('loading');
                    if (DEBUG) {
                        console.log('Save Start');
                    }
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                    if (DEBUG) {
                        console.log('Save Success');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                    msgError("An error has occured");
                },
                complete: function () {
                    $('#btnUpdate').button('reset');
                    if (DEBUG) {
                        console.log('Save Done');
                    }
                    onGet(1);
                    $('#btnCancel').click();
                }
            });
        }
    });
</script>