﻿@using TAM.EFaktur.Web.Models.Donation
@{
    var data = (Donation)ViewData["Delete"];
    var header = (DonationHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="formDelete">
        <input type="hidden" value="@data.DONATION_ID" id="hdUpdateDONATION_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteJENIS_SUMBANGAN" name="txtDeleteJENIS_SUMBANGAN" type="text" class="form-control" maxlength="100" value="@data.JENIS_SUMBANGAN" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteBENTUK_SUMBANGAN" name="txtDeleteBENTUK_SUMBANGAN" type="text" class="form-control" maxlength="50" value="@data.BENTUK_SUMBANGAN" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NILAI_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNILAI_SUMBANGAN" name="txtDeleteNILAI_SUMBANGAN" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.NILAI_SUMBANGAN)" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL_SUMBANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class='input-group input-group-xs _datepicker' id="dtDeleteTANGGAL_SUMBANGAN">
                            <input id="txtDeleteTANGGAL_SUMBANGAN" name="txtDeleteTANGGAL_SUMBANGAN" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL_SUMBANGAN)" readonly />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNAMA_LEMBAGA_PENERIMA" name="txtDeleteNAMA_LEMBAGA_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_LEMBAGA_PENERIMA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP_LEMBAGA_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNPWP_LEMBAGA_PENERIMA" name="txtDeleteNPWP_LEMBAGA_PENERIMA" type="text" class="form-control _mask-npwp" value="@data.NPWP_LEMBAGA_PENERIMA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <textarea id="txtDeleteALAMAT_LEMBAGA" name="txtDeleteALAMAT_LEMBAGA" class="form-control" maxlength="200" style="height:80px;" readonly>@data.ALAMAT_LEMBAGA</textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_TELP_LEMBAGA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNO_TELP_LEMBAGA" name="txtDeleteNO_TELP_LEMBAGA" type="tel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NO_TELP_LEMBAGA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.SARANA_PRASARANA_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteSARANA_PRASARANA_INFRASTRUKTUR" name="txtDeleteSARANA_PRASARANA_INFRASTRUKTUR" type="text" class="form-control" maxlength="100" value="@data.SARANA_PRASARANA_INFRASTRUKTUR" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.LOKASI_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteLOKASI_INFRASTRUKTUR" name="txtDeleteLOKASI_INFRASTRUKTUR" type="text" class="form-control" maxlength="200" value="@data.LOKASI_INFRASTRUKTUR" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteBIAYA_PEMBANGUNAN_INFRASTRUKTUR" name="txtDeleteBIAYA_PEMBANGUNAN_INFRASTRUKTUR" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.BIAYA_PEMBANGUNAN_INFRASTRUKTUR)" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.IZIN_MENDIRIKAN_BANGUNAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteIZIN_MENDIRIKAN_BANGUNAN" name="txtDeleteIZIN_MENDIRIKAN_BANGUNAN" type="text" class="form-control" maxlength="200" value="@data.IZIN_MENDIRIKAN_BANGUNAN" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNOMOR_REKENING" name="txtDeleteNOMOR_REKENING" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNAMA_REKENING_PENERIMA" name="txtDeleteNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNAMA_BANK" name="txtDeleteNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" readonly />
                    </div>
                </div>
                @*<div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No KTP</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input id="txtDeleteNO_KTP" name="txtDeleteNO_KTP" type="text" class="form-control" maxlength="16" value="@data.NO_KTP" readonly />
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $("#btnDelete").click(function (e) {
        //process save data
        var txtTglSumbangan = $("#txtDeleteTANGGAL_SUMBANGAN").val().split("-");
        var tanggalSumbangan = new Date(+txtTglSumbangan[2], txtTglSumbangan[1] - 1, +txtTglSumbangan[0]);

        var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
        var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

        var dataDonation = {
            DONATION_ID: $("#hdUpdateDONATION_ID").val(),
            DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

            THN_PAJAK: $("#ddlTHN_PAJAK").val(),
            NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
            TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
            TGL_PENANDATANGAN: tglPenandatangan,
            JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

            JENIS_SUMBANGAN: $("#txtDeleteJENIS_SUMBANGAN").val(),
            BENTUK_SUMBANGAN: $("#txtDeleteBENTUK_SUMBANGAN").val(),
            NILAI_SUMBANGAN: $("#txtDeleteNILAI_SUMBANGAN").val().replaceAll(",", ""),
            TANGGAL_SUMBANGAN: tanggalSumbangan,
            NAMA_LEMBAGA_PENERIMA: $("#txtDeleteNAMA_LEMBAGA_PENERIMA").val(),
            NPWP_LEMBAGA_PENERIMA: $("#txtDeleteNPWP_LEMBAGA_PENERIMA").val(),
            ALAMAT_LEMBAGA: $("#txtDeleteALAMAT_LEMBAGA").val(),
            NO_TELP_LEMBAGA: $("#txtDeleteNO_TELP_LEMBAGA").val(),
            SARANA_PRASARANA_INFRASTRUKTUR: $("#txtDeleteSARANA_PRASARANA_INFRASTRUKTUR").val(),
            LOKASI_INFRASTRUKTUR: $("#txtDeleteLOKASI_INFRASTRUKTUR").val(),
            BIAYA_PEMBANGUNAN_INFRASTRUKTUR: $("#txtDeleteBIAYA_PEMBANGUNAN_INFRASTRUKTUR").val().replaceAll(",", ""),
            IZIN_MENDIRIKAN_BANGUNAN: $("#txtDeleteIZIN_MENDIRIKAN_BANGUNAN").val(),
            NOMOR_REKENING: $("#txtDeleteNOMOR_REKENING").val(),
            NAMA_REKENING_PENERIMA: $("#txtDeleteNAMA_REKENING_PENERIMA").val(),
            NAMA_BANK: $("#txtDeleteNAMA_BANK").val()//,
            //NO_KTP: $("#txtDeleteNO_KTP").val()
        };

        $.ajax({
            type: "POST",
            url: URLDelete,
            data: {
                data: JSON.stringify(dataDonation)
            },
            beforeSend: function () {
                $('#btnDelete').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnDelete').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    });
</script>