﻿@using TAM.EFaktur.Web.Models.Donation

@{
    List<Donation> list = (List<Donation>)ViewData["List"];
    DonationHeaderTemplate header = (DonationHeaderTemplate)ViewData["Header"];
}

<div id="gridDonation">
    <div class="table-responsive">
        <table class="table table-striped table-bordered fixed-columns" id="donationTable">
            <thead>
                <tr>
                    @if (ViewBag.IsManual == "True")
                    {
                        <th class="fixed-column"></th>
                    }
                    <th onclick="sortItem(1)" style="cursor:pointer">@header.JENIS_SUMBANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">@header.BENTUK_SUMBANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">@header.NILAI_SUMBANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">@header.TANGGAL_SUMBANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">@header.NAMA_LEMBAGA_PENERIMA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">@header.NPWP_LEMBAGA_PENERIMA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">@header.ALAMAT_LEMBAGA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(8)" style="cursor:pointer">@header.NO_TELP_LEMBAGA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(9)" style="cursor:pointer">@header.SARANA_PRASARANA_INFRASTRUKTUR &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(10)" style="cursor:pointer">@header.LOKASI_INFRASTRUKTUR &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(11)" style="cursor:pointer">@header.BIAYA_PEMBANGUNAN_INFRASTRUKTUR &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(12)" style="cursor:pointer">@header.IZIN_MENDIRIKAN_BANGUNAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(13)" style="cursor:pointer">@header.NOMOR_REKENING &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(14)" style="cursor:pointer">@header.NAMA_REKENING_PENERIMA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(15)" style="cursor:pointer">@header.NAMA_BANK &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th onclick="sortItem(15)" style="cursor:pointer">No KTP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                </tr>
            </thead>
            <tbody>
                @if (list != null && list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        <tr>
                            @if (ViewBag.IsManual == "True")
                            {
                                <td class="text-center fixed-column">
                                    <a href="javascript:void(0);" id="btnEditHeader_@item.DONATION_ID" onclick="ShowEditHeader('@item.DONATION_ID')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:void(0);" id="btnDeleteHeader_@item.DONATION_ID" onclick="ShowDeleteHeader('@item.DONATION_ID')" class="btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            }
                            <td>@item.JENIS_SUMBANGAN</td>
                            <td>@item.BENTUK_SUMBANGAN</td>
                            <td>@string.Format("{0:n0}", item.NILAI_SUMBANGAN)</td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.TANGGAL_SUMBANGAN)</td>
                            <td>@item.NAMA_LEMBAGA_PENERIMA</td>
                            <td>@item.NPWP_LEMBAGA_PENERIMA</td>
                            <td style="white-space: pre-wrap;">@item.ALAMAT_LEMBAGA</td>
                            <td>@item.NO_TELP_LEMBAGA</td>
                            <td>@item.SARANA_PRASARANA_INFRASTRUKTUR</td>
                            <td>@item.LOKASI_INFRASTRUKTUR</td>
                            <td>@item.BIAYA_PEMBANGUNAN_INFRASTRUKTUR</td>
                            <td>@item.IZIN_MENDIRIKAN_BANGUNAN</td>
                            <td>@item.NOMOR_REKENING</td>
                            <td>@item.NAMA_REKENING_PENERIMA</td>
                            <td>@item.NAMA_BANK</td>
                            @*<td>@item.NO_KTP</td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-8">
            @Html.Partial("_UIPaging")
        </div>
        <div class="col-xs-4 text-right">
            <div class="btn-group-sm">
                @if (ViewBag.IsManual == "True")
                {
                    <button type="button" class="btn btn-primary" id="btnSubmit" onclick="Submit()">Submit</button>
                }
                <button type="button" class="btn btn-default" id="btnBack" onclick="BackToList()">Back To List</button>
            </div>
        </div>
    </div>
</div>