﻿@using TAM.EFaktur.Web.Models.Donation
@{
    ViewBag.Title = "Dashboard e-Nominative";
    var data = (Donation)ViewData["InsetUpdateDonation"];
}
@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }

        .form-horizontal .form-group {
            min-height: 40px;
        }
    </style>
}
<form role="form" class="form-horizontal" id="SaveHeaderDonation">
    <input type="hidden" id="hdDASHBOARD_ID" value="@data.DASHBOARD_ID" />
    <input type="hidden" id="hdIsManual" value="@ViewBag.IsManual" />
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tahun Pajak</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlTHN_PAJAK" name="ddlTHN_PAJAK" class="form-control"></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nama Penandatangan</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <input id="txtNAMA_PENANDATANGAN" name="txtNAMA_PENANDATANGAN" type="text" class="form-control" maxlength="100" value="@data.NAMA_PENANDATANGAN" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tmp & Tgl. Penandatangan</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <input id="txtTMP_PENANDATANGAN" name="txtTMP_PENANDATANGAN" type="text" class="form-control" maxlength="50" value="@data.TMP_PENANDATANGAN" />
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker' id="dtTGL_PENANDATANGAN">
                        <input id="txtTGL_PENANDATANGAN" name="txtTGL_PENANDATANGAN" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TGL_PENANDATANGAN)" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Jabatan Penandatangan</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @if (data.PositionSignature == true)
                    {
                        <input id="txtJABATAN_PENANDATANGAN" name="txtJABATAN_PENANDATANGAN" type="text" class="form-control" maxlength="100" value="@data.JABATAN_PENANDATANGAN" />
                    }
                    else
                    {
                        <input id="txtJABATAN_PENANDATANGAN" type="text" class="form-control" maxlength="100" value="@data.JABATAN_PENANDATANGAN" readonly />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="_line-br"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-inline">
                <label>
                    Show per page
                    <select class="form-control input-xs" id="ddlPageSizeDonation">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                    </select>
                </label>
            </div>
        </div>
        @if (ViewBag.IsManual == "True")
        {
            <div class="col-xs-12 col-sm-6 text-right">
                <div class="btn-group-sm">
                    @*@Html.Partial("_UITotalSelectedIndicator")
                        &nbsp;*@
                    <div class="btn-group btn-group-sm">
                        <a href="javascript:void(0);" id="btnAddHeader" onclick="ShowAddHeader()" class="btn btn-danger">Add</a>
                    </div>
                    <div class="btn-group btn-group-sm">
                        @Html.ActionLink("Upload", "PopupUpload", "Donation", new { dashboardId = data.DASHBOARD_ID }, new { @class = "modal-link btn btn-warning" })
                    </div>
                </div>
            </div>
        }
    </div>

    @Html.Partial("_SimpleGrid")
</form>
@Html.Partial("_Javascript")
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>


<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="PageModalLabel" aria-hidden="false" id="ModalHeader">
    @*style="z-index:1051" data-keyboard="false" data-backdrop="static">*@
    <div class="modal-dialog modal-lg modal-vertical-centered" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div id="AddEditHeaders"></div>
        </div>
    </div>
</div>