﻿<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group form-group-xs">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Faktur Type / Tax Invoice Number</label>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <select class="form-control" onchange="fakturType()" id="ddlFakturType" required>
                    <option value="Non eFaktur">Non eFaktur</option>
                    <option value="eFaktur">eFaktur</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-8">
                <input id="txtInvoiceNumber" type="text" class="form-control" name="InvoiceNumber"/>
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Tax Invoice Date</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <div class='input-group input-group-xs _datepicker'>
                    <input id="txtInvoiceDate" type="text" class="form-control" name="InvoiceDate" placeholder="dd-MM-yyyy" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Supplier NPWP</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtSupplierNPWP" type="text" class="form-control _mask-npwp" required name="SupplierNPWP" />
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Supplier Name</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtSupplierName" type="text" class="form-control" required name="SupplierName" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Supplier Address</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtSupplierAddress" class="form-control" rows="3" name="SupplierAddress" />
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Buyer NPWP</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtBuyerNPWP" type="text" class="form-control _mask-npwp" name="BuyerNPWP"/>
            </div>
        </div>
        <div class="form-group form-group-xs">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">VAT Amount</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtVATAmount" type="text" class="form-control" name="VATAmount" />
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">VAT Base Amount</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtVATBaseAmount" type="text" class="form-control" name="VATBaseAmount" />
            </div>
        </div>
        <div class="form-group form-group-xs ">
            <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted required">Total PPnBM</label>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtTotalPPNBM" type="text" class="form-control" name="TotalPPNBM" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("lookupIdddlKDTransaksi").value = "";
    document.getElementById("lookupNameddlKDTransaksi").value = "";

    function fakturType() {
        var faktur = document.getElementById("ddlFakturType").value;
        var masking = document.getElementById("txtInvoiceNumber");
        var warning = 'Are you sure you want to Input eFaktur Data?';

        if (faktur == "Non eFaktur") {
            if (faktur == "Non eFaktur") {
                $("#txtInvoiceNumber").unmask();
                $("#txtInvoiceNumber").val('');

                $('#h4Id').text("Input Tax Invoice Only For Tax Invoice Without QR Code");
            }
            else {
                $("#txtInvoiceNumber").mask(charMaskNoFaktur);
                $("#txtInvoiceNumber").val('');

                $('#h4Id').text("Input Tax Invoice Only When DJP Server Error");
            }
        }
        else if (confirm(warning)) {
            if (faktur == "eFaktur") {
                $("#txtInvoiceNumber").mask(charMaskNoFaktur);
                $("#txtInvoiceNumber").val('');

                $('#h4Id').text("Input Tax Invoice Only When DJP Server Error");
            }
            else {
                $("#txtInvoiceNumber").unmask();
                $("#txtInvoiceNumber").val('');

                $('#h4Id').text("Input Tax Invoice Only For Tax Invoice Without QR Code");
            }
        }
        else {
            document.getElementById("ddlFakturType").value = "Non eFaktur";
            $("#txtInvoiceNumber").unmask();
            $("#txtInvoiceNumber").val('');

            $('#h4Id').text("Input Tax Invoice Only For Tax Invoice Without QR Code");
        }
    }
</script>