﻿@*<script type="text/javascript" src="@Url.Content("~/Content/js/jquery.maskMoney.js")"></script>*@
<script src="~/Content/js/utility.js"></script>
<script type="text/javascript">
    var VATIn = {};
    var btnId = {};
    var VATInDetails = [];


    $(document).ready(function () {
        //submit normal
        $("button").click(function (event) {
            btnId = event.target.id
        });
            $("#inputVATInForm")
           .bootstrapValidator({
               live: 'enabled',
               fields: {
                   InvoiceNumber: {
                       validators: {
                           notEmpty: {
                               message: 'The Invoice Number is required and can\'t be empty'
                           }
                       }
                   },
                   InvoiceDate: {
                       validators: {
                           notEmpty: {
                               message: 'The Invoice Date is required and can\'t be empty'
                           }
                       }
                   },
                   SupplierNPWP: {
                       validators: {
                           notEmpty: {
                               message: 'The Supplier NPWP is required and can\'t be empty'
                           }
                       }
                   },
                   SupplierName: {
                       validators: {
                           notEmpty: {
                               message: 'Supplier Name is required and can\'t be empty'
                           }
                       }
                   },
                   SupplierAddress: {
                       validators: {
                           notEmpty: {
                               message: 'Supplier Address is required and can\'t be empty'
                           }
                       }
                   },
                   BuyerNPWP: {
                       validators: {
                           notEmpty: {
                               message: 'Buyer NPWP is required and can\'t be empty'
                           }
                       }
                   },
                   VATBaseAmount: {
                       validators: {
                           notEmpty: {
                               message: 'VAT Base Amount is required and can\'t be empty'
                           },
                           //integer: {
                           //    message: 'VAT Base Amount requires a valid number'
                           //},
                           //greaterThan: {
                           //    inclusive: false,
                           //    message: 'VAT Base Amount must be greater than zero',
                           //    value: 0
                           //}
                           callback: {
                               message: null,
                               callback: function (value, validator, $field) {
                                   if (value != "") {
                                       if (value == 0 || value.indexOf("-") != -1) {
                                           return {
                                               valid: false,
                                               message: 'VAT Base Amount must be greater than zero'
                                           };
                                       }
                                   }
                                   return true;
                               }
                           }
                       }
                   },
                   VATAmount: {
                       validators: {
                           notEmpty: {
                               message: 'VAT Amount is required and can\'t be empty'
                           },
                           //integer: {
                           //    message: 'VAT Amount requires a valid number'
                           //},
                           //greaterThan: {
                           //    inclusive: false,
                           //    message: 'VAT Base Amount must be greater than zero',
                           //    value: 0
                           //}
                           callback: {
                               message: null,

                               callback: function (value, validator, $field) {
                                   if (value != "") {
                                       if (value == 0 || value.indexOf("-") != -1) {
                                           return {
                                               valid: false,
                                               message: 'VAT Amount must be greater than zero'
                                           };
                                       }
                                   }
                                   return true;
                               }
                           }
                       }
                   },
                   TotalPPNBM: {
                       validators: {
                           notEmpty: {
                               message: 'Total PPNBM is required and can\'t be empty'
                           }
                           //,
                           //integer: {
                           //    message: 'Total PPNBM requires a valid number'
                           //}
                       }
                   },
                   FakturType: {
                       validators: {
                           notEmpty: {
                               message: 'The Transaction Type Code Must be Choosed'
                           }
                       }
                   }
               }
           })
           .on('success.form.bv', function (e, data) {
               // On success validate
               // Prevent form submission
               e.preventDefault();

               //alert(btnId);
               var warning = 'Are you sure you want to save the data?';
               var isInvoiceDateValid = true;
               if (confirm(warning)) {
                   VATIn = {
                       FakturType: $("#ddlFakturType").text(),
                       InvoiceNumberFull: $("#txtInvoiceNumber").val(),
                       InvoiceDate: $("#txtInvoiceDate").val(),
                       SupplierNPWP: $("#txtSupplierNPWP").val(),
                       SupplierName: $("#txtSupplierName").val(),
                       SupplierAddress: $("#txtSupplierAddress").val(),
                       NPWPLawanTransaksi: $("#txtBuyerNPWP").val(),
                       VATBaseAmount: $("#txtVATBaseAmount").val().replace(/,/g, ""),
                       VATAmount: $("#txtVATAmount").val().replace(/,/g, ""),
                       JumlahPPnBM: $("#txtTotalPPNBM").val().replace(/,/g, ""),
                       VATInDetails: VATInDetails
                   };
                   $.ajax({
                       type: "POST",
                       url: "@Html.Toyota().Page.GetActionUrl("ValidateInvoiceDateManual")",
                       data: {
                       data: JSON.stringify(VATIn),
                       },
                   success: function (result) {
                       if (result.ResultCode) {
                           isInvoiceDateValid = alert(result.ResultDesc);
                           ClearForm();
                       }
                       else {
                           $('#btnSaveReplace').removeAttr('disabled');
                           $('#btnSubmit').removeAttr('disabled');
                       }
                       if (isInvoiceDateValid) {
                           if (btnId == "btnSubmit") {
                               onSubmit();
                           }
                           else {
                               onSubmitRepeat();
                           }
                       }
                   }
               });
           }
           });
    });
        //submit repeat

        //custom revalidate for datetimepicker
        $('[name="InvoiceDate"]')
        .on('blur', function (e) {
            // Revalidate the date when user blur out from input type text
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'InvoiceDate');
        });

        //custom revalidate for masking
        $('[name="InvoiceNumber"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'InvoiceNumber');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="InvoiceNumber"]').val().indexOf('_') > -1) {
                $('[name="InvoiceNumber"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'InvoiceNumber');
        });

        $('[name="FakturType"]')
        .on('keypress', function (e) {
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'FakturType');
        })
        .on('blur', function (e) {
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'FakturType');
        });

        //custom revalidate for masking
        $('[name="SupplierNPWP"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="SupplierNPWP"]').val().indexOf('_') > -1) {
                $('[name="SupplierNPWP"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        });

        //custom revalidate for masking
        $('[name="BuyerNPWP"]')
        .on('keypress', function (e) {
            // Revalidate the date when user change it
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'BuyerNPWP');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="BuyerNPWP"]').val().indexOf('_') > -1) {
                $('[name="BuyerNPWP"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'BuyerNPWP');
        });

        //custom revalidate for masking
        $('[name="VATAmount"]')
            .on('blur', function (e) {
                var date = $("#txtInvoiceDate").val();
                var datatax = getTax("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralTax", date);



                var tryParse = parseFloat($('[name="VATAmount"]').val());
            var vatBaseAmountString = '';
                if (tryParse != 'NaN') {
                    var value = tryParse * 100 / parseFloat(datatax);
                    vatBaseAmountString = Math.floor(value);
            }

            $('[name="VATBaseAmount"]').val(vatBaseAmountString);

            // Revalidate the VATBaseAmount when user change it
            $('#inputVATInForm').bootstrapValidator('revalidateField', 'VATBaseAmount');
        });

        $('[name="VATAmount"]').inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 0,
            autoGroup: true,
            //prefix: '$',
            rightAlign: false,
            oncleared: function () {  }
        });

        $('[name="VATBaseAmount"]').inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 0,
            autoGroup: true,
            //prefix: '$',
            rightAlign: false,
            oncleared: function () { }
        });

        $('[name="TotalPPNBM"]').inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 0,
            autoGroup: true,
            //prefix: '$',
            rightAlign: false,
            oncleared: function () {  }
        });

    $('#btnClearItems').click(function () {
        var warning = 'Are you sure you want to clear selected items?';
        if (confirm(warning)) {
            $('tbody tr').each(function (i) {
                if ($(this).find('.check').is(':checked')) {
                    var thisRowNum = $(this).find('.RowNum').html();
                    for (var i = 0; i < VATInDetails.length; i++) {
                        if (VATInDetails[i].RowNum == thisRowNum) {
                            VATInDetails.splice(i, 1);
                            break;
                        }
                    }
                }
            });
            onBindGrid();
        }
    });

    $('#btnClear').click(function () {
        var warning = 'Are you sure you want to clear this form?';
        if (confirm(warning)) {
            ClearForm();
        }
    });


    function onBindGrid() {
        $('tbody').empty();
        if (VATInDetails.length > 0) {
            $.each(VATInDetails, function (i, item) {
                item.RowNum = i + 1;
                var row = "<tr>";
                row += "<td class='text-center'><a href='@Url.Action("PopupDetail")/"+ item.RowNum +"' class='modal-link btn btn-primary btn-xs btn-edit' title='Edit'><i class='fa fa-edit'></i></a></td>"
                row += "<td class='text-center'><input id='chkGrid" + item.RowNum + "' type='checkbox' class='check' onchange='javascript:checkGrid(this.id)'/></td>";
                row += "<td class='RowNum'>" + item.RowNum + "</td>";
                row += "<td>" + item.UnitName + "</td>";
                row += "<td class='text-right'>" + numeral(item.UnitPrice).format(currencyFormat) + "</td>";
                row += "<td>" + numeral(item.Quantity).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.TotalPrice).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.Discount).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.DPP).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.PPN).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.TarifPPNBM).format(currencyFormat) + "</td>";
                row += "<td class='text-right'>" + numeral(item.PPNBM).format(currencyFormat) + "</td>";
                row += "</tr>";
                $('tbody').append(row);
            });
        }
        else {
            var row = "<tr>";
            row += "<td class='danger' colspan='12'><b class='padding-5'>No Record</b></td>";
            row += "</tr>";
            $('tbody').append(row);
        }
        $("#countCheckedItems").html(0);
        $('#countTotalItems').html(VATInDetails.length);
    }

    function onBlurDpp() {
       
            var date = $("#txtInvoiceDate").val();
        

        var datatax = getTax("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralTax", date);
        var tryParse = parseFloat($('#txtDPP').val());
            var vatBaseAmountString = '';
                if (tryParse != 'NaN') {
                    var value = tryParse *  parseFloat(datatax)/100;
                    vatBaseAmountString = Math.floor(value);
            }

        $('#txtPPN').val(vatBaseAmountString);

           
        };

    function ClearForm() {
        VATIn = {};
        VATInDetails = [];

        $("#txtInvoiceNumber").val('');
        $("#txtInvoiceDate").val('');
        $("#txtSupplierNPWP").val('');
        $("#txtSupplierName").val('');
        $("#txtSupplierAddress").val('');
        $("#txtBuyerNPWP").val('');
        $("#txtVATBaseAmount").val('');
        $("#txtVATAmount").val('');
        $("#txtTotalPPNBM").val('');
        $("#ddlFakturType").val('Non eFaktur');
        $("#txtInvoiceNumber").unmask();
        $("#txtInvoiceNumber").val('');

        // trigger bootstrap validator to resetForm on ClearForm
        $('#inputVATInForm').bootstrapValidator('resetForm');
        onBindGrid();
        $('#btnSaveReplace').button('reset');
        $('#btnSubmit').button('reset');
    }

    function ClearFormRepeat() {
        VATIn = {};
        VATInDetails = [];

        $("#txtInvoiceNumber").val('');
        $("#txtInvoiceDate").val('');
        $("#txtVATBaseAmount").val('');
        $("#txtVATAmount").val('');
        $("#txtTotalPPNBM").val('');

        // trigger bootstrap validator to resetForm on ClearForm
        $('#inputVATInForm').bootstrapValidator('resetForm');
        onBindGrid();
        $('#btnSaveReplace').button('reset');
        $('#btnSubmit').button('reset');
    }

    //Ajax POST/GET Method
    function onSubmit() {

        VATIn = {
            FakturType    : $("#ddlFakturType :selected").text(),
            InvoiceNumberFull   : $("#txtInvoiceNumber").val(),
            InvoiceDate         : $("#txtInvoiceDate").val(),
            SupplierNPWP        : $("#txtSupplierNPWP").val(),
            SupplierName        : $("#txtSupplierName").val(),
            SupplierAddress     : $("#txtSupplierAddress").val(),
            NPWPLawanTransaksi  : $("#txtBuyerNPWP").val(),
            VATBaseAmount       : $("#txtVATBaseAmount").val().replace(/,/g, ""),
            VATAmount           : $("#txtVATAmount").val().replace(/,/g, ""),
            JumlahPPnBM         : $("#txtTotalPPNBM").val().replace(/,/g, ""),
            VATInDetails        : VATInDetails
        };

        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("Insert")",
            data: {
                data: JSON.stringify(VATIn),
            },
            beforeSend: function () {
                $('#btnSubmit').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    ClearForm();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log(result.ResultDesc);
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSubmit').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
            }
        });
    }

    //onSubmit Repeat
    function onSubmitRepeat() {

        VATIn = {
            FakturType    : $("#ddlFakturType :selected").text(),
            InvoiceNumberFull   : $("#txtInvoiceNumber").val(),
            InvoiceDate         : $("#txtInvoiceDate").val(),
            SupplierNPWP        : $("#txtSupplierNPWP").val(),
            SupplierName        : $("#txtSupplierName").val(),
            SupplierAddress     : $("#txtSupplierAddress").val(),
            NPWPLawanTransaksi  : $("#txtBuyerNPWP").val(),
            VATBaseAmount       : $("#txtVATBaseAmount").val().replace(/,/g, ""),
            VATAmount           : $("#txtVATAmount").val().replace(/,/g, ""),
            JumlahPPnBM         : $("#txtTotalPPNBM").val().replace(/,/g, ""),
            VATInDetails        : VATInDetails
        };

        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("Insert")",
            data: {
            data: JSON.stringify(VATIn),
            },
        beforeSend: function () {
            $('#btnSaveReplace').button('loading');
            if (DEBUG) {
                console.log('Save Start');
            }
        },
        success: function (result) {
            if (result.ResultCode) {
                msgOk(result.ResultDesc);
                ClearFormRepeat();
            }
            else {
                msgError(result.ResultDesc);
            }
            if (DEBUG) {
                console.log(result.ResultDesc);
            }

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            if (DEBUG) {
                console.log("error: " + errorThrown);
            }
            msgError("An error has occured");
        },
        complete: function () {
            //$('#btnSaveReplace').button('');
            $('#btnSaveReplace').button('reset');
            if (DEBUG) {
                console.log('Save Done');
            }
        }
    });
    }
</script>