﻿@using TAM.EFaktur.Web.Models.WHT


@{
    List<WHTDashboardViewModel> DownloadExists = (List<WHTDashboardViewModel>)ViewData["DownloadExistsList"];
}

<div>File already downloaded, are you sure want to download?</div>

        <div style="display:none" class="table-responsive">
            <table id="TableDownloadExists" class="table table-striped table-bordered">
                <thead>
                    <tr>


                        <th>Tax Article</th>
                        <th>NPWP</th>
                        <th>Nama</th>
                        <th>eBupot Reference No</th>
                    </tr>
                </thead>
                <tbody>
                    @if (DownloadExists != null && DownloadExists.Count > 0)
                    {
                        foreach (WHTDashboardViewModel isExists in DownloadExists)
                        {
                            <tr>

                                <td>@isExists.TaxArticle</td>
                                <td>@isExists.NPWPPenjual</td>
                                <td>@isExists.NamaPenjual</td>
                                <td>@isExists.eBupotReferenceNo</td>


                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="danger" colspan="4"><b class="padding-5">No Record</b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

