﻿@using TAM.EFaktur.Web.Models.WHT


@{
    List<WHTDashboardViewModel> WHTListerr = (List<WHTDashboardViewModel>)ViewData["EbupotErrorList"];
}

<div class="table-responsive">
    <table id="TableErrEbupot" class="table table-striped table-bordered">
        <thead>
            <tr>


                <th>Tax Article</th>
                <th>NPWP</th>
                <th>Nama</th>
                <th>eBupot Reference No</th>
                <th>Error Massage</th>
            </tr>
        </thead>
        <tbody>
            @if (WHTListerr != null && WHTListerr.Count > 0)
            {
                foreach (WHTDashboardViewModel err in WHTListerr)
                {
            <tr>

                <td>@err.TaxArticle</td>
                <td>@err.NPWPPenjual</td>
                <td>@err.NamaPenjual</td>
                <td>@err.eBupotReferenceNo</td>
                <td>@err.ErrorData</td>


            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="5"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>

