﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Withholding Tax Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'  onclick="EnabledbtnSearch()">
                        <input id="txtTanggalBuktiPotongFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker' onclick="EnabledbtnSearch()">
                        <input id="txtTanggalBuktiPotongTo" type="text" class="form-control" placeholder="To"  />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlStatusInvoice" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtInvoiceNumber" type="text" class="form-control" readonly />
                        <input id="lookupInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtInvoiceDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtInvoiceDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">eBupot Reference No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtEBupotReferenceNo" type="text" class="form-control" readonly />
                        <input id="lookupEBupotReferenceNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupEBupotReferenceNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierName" type="text" class="form-control" readonly />
                        <input id="lookupSupplierName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupSupplierName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Original Supplier Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtOriSupplierName" type="text" class="form-control" readonly />
                        <input id="lookupOriSupplierName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupOriSupplierName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierNPWP" type="text" class="form-control" placeholder="00.000.000.0-000.000" readonly />
                        <input id="lookupSupplierNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupSupplierNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Period Month</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlMasa">
                        <option value=""></option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Period Year</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTahun"></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Withholding Tax Based Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlWHTBaseAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtWHTBaseAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Withholding Tax Tarif</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlTaxTarif">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtTaxTarif" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Withholding Tax Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlWHTAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtWHTAmount" />
                </div>
            </div>
            @*<div class="form-group form-group-xs _searchCriteria">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class='input-group input-group-xs _datepicker'>
                    <input id="txtTanggalPenerimaanFrom" type="text" class="form-control" placeholder="From" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class='input-group input-group-xs _datepicker'>
                    <input id="txtTanggalPenerimaanTo" type="text" class="form-control" placeholder="To" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Recorded By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordedBy" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">WHT Based GL Account</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtGL" type="text" class="form-control" readonly />
                        <input id="lookupGL" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupGL" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Additional Information</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxAdditional" type="text" class="form-control" readonly />
                        <input id="lookupTaxAdditional" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupTaxAdditional" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            @*<div class="form-group form-group-xs">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PDF Status</label>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <select class="form-control" id="ddlPDFStatus" multiple></select>
            </div>
        </div>*@
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Withholding Tax Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtWHTNumber" type="text" class="form-control" placeholder="" readonly />
                        <input id="lookupWHTNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupWHTNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Article</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxArticle" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlJenisPajak" multiple></select>
                </div>
            </div>



            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">MAP Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlMapCode" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SPT Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlSPTType" multiple></select>
                </div>
            </div>


            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtPVNumber" type="text" class="form-control" readonly />
                        <input id="lookupPVNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupPVNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Created By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlPVCreatedBy" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP Document Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtNomorDocSAP" type="text" class="form-control" readonly />
                        <input id="lookupNomorDocSAP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupNomorDocSAP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Posting Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtPostingDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtPostingDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlApprovalStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtAppDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtAppDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtAppRecordTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtAppRecordTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Description</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtAppDesc" type="text" class="form-control" readonly />
                        <input id="lookupAppDesc" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupAppDesc" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlDownloadStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PDF Withholding Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlpdfwht">
                        <option hidden></option>
                        <option value="AND WT.PDFWithholding is not null">Exist</option>
                        <option value="AND WT.PDFWithholding is null">Not Exist</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Batch File Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtBatchFileName" type="text" class="form-control" readonly />
                        <input id="lookupBatchFileName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupBatchFileName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            @*Add by DA, untuk filtering  Description*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Description</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtDescription" type="text" class="form-control" readonly />
                        <input id="lookupDescription" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupDescription" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            @*<div type="hidden" class="form-group form-group-xs _searchCriteria">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">eBupot Number</label>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="input-group input-group input-group-xs">
                    <input id="txtEBupotNumber" type="text" class="form-control" readonly />
                    <input id="lookupEBupotNumber" type="hidden" />
                    <span class="input-group-btn">
                        <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "WHT", new { Id = "lookupEBupotNumber" })"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>*@

            @*ADD AD Filter Color*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">EFaktur Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlEFakturStatus" multiple>
                    </select>
                </div>
            </div>
            @*END*@


        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch"  data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBoxWHT();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //Clear TextBox
    var start = new Date().getFullYear() - 20;
    var end = new Date().getFullYear() + 20;
    var options = "<option value=\"\"></option>";
    for (var year = start ; year <= end; year++) {
        options += "<option value=\"" + year + "\">" + year + "</option>";
    }
    document.getElementById("ddlTahun").innerHTML = options;

    function clearTextBoxWHT() {
        document.getElementById("txtReceiveFileDateFrom").value = "";
        document.getElementById("txtReceiveFileDateTo").value = "";
        document.getElementById("txtReceiveFileTimeFrom").value = "";
        document.getElementById("txtReceiveFileTimeTo").value = "";
        document.getElementById("txtDownloadDateFrom").value = "";
        document.getElementById("txtDownloadDateTo").value = "";
        document.getElementById("txtPostingDateFrom").value = "";
        document.getElementById("txtPostingDateTo").value = "";
        //document.getElementById("txtTanggalPenerimaanFrom").value = "";
        //document.getElementById("txtTanggalPenerimaanTo").value = "";
        document.getElementById("txtTanggalBuktiPotongFrom").value = "";
        document.getElementById("txtTanggalBuktiPotongTo").value = "";
        document.getElementById("txtWHTNumber").value = "";
        document.getElementById("txtSupplierNPWP").value = "";
        document.getElementById("txtSupplierName").value = "";
        document.getElementById("txtOriSupplierName").value = "";
        document.getElementById("txtInvoiceNumber").value = "";
        //document.getElementById("txtTaxArticle").value = "";
        //document.getElementById("txtJenisPajak").value = "";
        document.getElementById("txtTaxAdditional").value = "";
        document.getElementById("txtPostingDateFrom").value = "";
        document.getElementById("txtPostingDateTo").value = "";
        //document.getElementById("txtSPTType").value = "";
        document.getElementById("txtNomorDocSAP").value = "";
        //document.getElementById("txtPVCreatedBy").value = "";
        document.getElementById("txtTaxTarif").value = "";
        document.getElementById("txtWHTBaseAmount").value = "";
        document.getElementById("txtWHTAmount").value = "";
        document.getElementById("txtNomorDocSAP").value = "";
        document.getElementById("txtPVNumber").value = "";
        //document.getElementById("txtPDFWht").value = "";
        document.getElementById("txtGL").value = "";
        document.getElementById("txtBatchFileName").value = "";

        //add by DA, utk textboxnya
        document.getElementById("txtDescription").value = "";

        document.getElementById("txtAppDesc").value = "";
        document.getElementById("txtAppDateFrom").value = "";
        document.getElementById("txtAppDateTo").value = "";
        document.getElementById("txtAppRecordTimeFrom").value = "";
        document.getElementById("txtAppRecordTimeTo").value = "";
        //document.getElementById("txtEBupotNumber").value = "";
        document.getElementById("txtEBupotReferenceNo").value = "";
        
       

        $("#ddlStatusInvoice").multiselect("clearSelection");
        document.getElementById("lookupIdddlStatusInvoice").value = "";
        document.getElementById("lookupNameddlStatusInvoice").value = "";

        $("#ddlRecordStatus").multiselect("clearSelection");
        document.getElementById("lookupIdddlRecordStatus").value = "";
        document.getElementById("lookupNameddlRecordStatus").value = "";

        //add  by DA, clear record status
        $("#ddlRecordedBy").multiselect("clearSelection");
        document.getElementById("lookupNameddlRecordedBy").value = "";
        //

        $("#ddlDownloadStatus").multiselect("clearSelection");
        document.getElementById("lookupIdddlDownloadStatus").value = "";
        document.getElementById("lookupNameddlDownloadStatus").value = "";

        $("#ddlApprovalStatus").multiselect("clearSelection");
        document.getElementById("lookupIdddlApprovalStatus").value = "";
        document.getElementById("lookupNameddlApprovalStatus").value = "";

        $("#ddlTaxArticle").multiselect("clearSelection");
        document.getElementById("lookupIdddlTaxArticle").value = "";
        document.getElementById("lookupNameddlTaxArticle").value = "";

        $("#ddlJenisPajak").multiselect("clearSelection");
        document.getElementById("lookupIdddlJenisPajak").value = "";
        document.getElementById("lookupNameddlJenisPajak").value = "";

        $("#ddlSPTType").multiselect("clearSelection");
        document.getElementById("lookupIdddlSPTType").value = "";
        document.getElementById("lookupNameddlSPTType").value = "";

        $("#ddlPVCreatedBy").multiselect("clearSelection");
        document.getElementById("lookupIdddlPVCreatedBy").value = "";
        document.getElementById("lookupNameddlPVCreatedBy").value = "";
        $("#ddlMapCode").multiselect("clearSelection");
        document.getElementById("ddlMapCode").value = "";
     
            document.getElementById("lookupIdddlMapCode").value = "";
        document.getElementById("ddlpdfwht").value = "";
        document.getElementById("ddlMasa").value = "";
        document.getElementById("ddlTahun").value = "";
        document.getElementById("ddlWHTBaseAmountOperator").value = "";
        document.getElementById("ddlWHTAmountOperator").value = "";
        document.getElementById("ddlTaxTarif").value = "";

        document.getElementById("txtInvoiceDateFrom").value = "";
        document.getElementById("txtInvoiceDateTo").value = "";

        document.getElementById("lookupInvoiceNumber").value = "";
        document.getElementById("lookupSupplierName").value = "";
        document.getElementById("lookupOriSupplierName").value = "";
        document.getElementById("lookupSupplierNPWP").value = "";
        document.getElementById("lookupGL").value = "";
        document.getElementById("lookupTaxAdditional").value = "";
        document.getElementById("lookupWHTNumber").value = "";
        document.getElementById("lookupPVNumber").value = "";
        document.getElementById("lookupNomorDocSAP").value = "";
        document.getElementById("lookupAppDesc").value = "";
        document.getElementById("lookupBatchFileName").value = "";
        //ADD by DA
        document.getElementById("lookupDescription").value = "";
        //
        //document.getElementById("lookupEBupotNumber").value = "";
        document.getElementById("lookupEBupotReferenceNo").value = "";
        document.getElementById("ddlEFakturStatus").value = "";

        //ADD AD COlor
        $('#ddlEFakturStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlEFakturStatus").value = "";
        document.getElementById("lookupNameddlEFakturStatus").value = "";
        //document.getElementById("lookupEFakturStatusdllEFakturStatus").value = "";
        //END
       
        //$("ddlMasa").multiselect("clearSelection");
        //$("ddlTahun").multiselect("clearSelection");

        //add by DA utk validasi color
        document.getElementById("btnSearch").disabled = false;
    }
</script>
