﻿@using TAM.EFaktur.Web.Models.WHT
@using TAM.EFaktur.Web.Models

@{
    List<WHTDashboardViewModel> WHTList = (List<WHTDashboardViewModel>)ViewData["WHTListDashboard"];
}

<div class="table-responsive _table-flow">
    <table class="table table-striped table-bordered table-condensed fixed-columns" id="DashboardWHT" style="width: auto !important;">
        <thead>
            <tr>
                <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                <th class="fixed-column _col" onclick="sortItem(11)" style="cursor:pointer">Tax Article &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(4)" style="cursor:pointer">WHT Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                @*<th class="fixed-column _col" onclick="sortItem(36)" style="cursor:pointer">eBupot Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                <th class="fixed-column _col" onclick="sortItem(10)" style="cursor:pointer">Invoice Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(6)" style="cursor:pointer">Supplier Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(33)" style="cursor:pointer">Original Supplier Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(5)" style="cursor:pointer">Supplier NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(34)" style="cursor:pointer">Accumulated WHT Based &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(7)" style="cursor:pointer">WHT Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(9)" style="cursor:pointer">WHT Tarif &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(8)" style="cursor:pointer">WHT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(26)" style="cursor:pointer">Description &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(35)" style="cursor:pointer">Invoice Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(1)" style="cursor:pointer">Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(37)" style="cursor:pointer">eBupot Reference No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(12)" style="cursor:pointer">Tax Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(38)" style="cursor:pointer">MAP Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(14)" style="cursor:pointer">SPT Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(19)" style="cursor:pointer">WHT Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(17)" style="cursor:pointer">Tax Period Month &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(18)" style="cursor:pointer">Tax Period Year &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(13)" style="cursor:pointer">Additional Information &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                @*<th onclick="sortItem(20)" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(30)" style="cursor:pointer">Receive File Time &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                <th onclick="sortItem(2)" style="cursor:pointer">PV Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(25)" style="cursor:pointer">PV Created By &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(15)" style="cursor:pointer">SAP Document Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(16)" style="cursor:pointer">Posting Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(21)" style="cursor:pointer">Download Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(22)" style="cursor:pointer">Download Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(32)" style="cursor:pointer">Record Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(29)" style="cursor:pointer">Record Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(23)" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(23)" style="cursor:pointer">Receive File Time &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(26)" style="cursor:pointer">Approval Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(27)" style="cursor:pointer">Approval Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(28)" style="cursor:pointer">Approval Description &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(24)" style="cursor:pointer">WHT Based GL Account &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(3)" style="cursor:pointer">PDF WHT Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(31)" style="cursor:pointer">Batch File Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th>E-faktur Status&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

            </tr>
        </thead>
        <tbody>
            @if (WHTList != null && WHTList.Count > 0)
            {
                foreach (WHTDashboardViewModel WHT in WHTList)
                {
            <tr>
                <td class="text-center fixed-column">
                    <input id="@string.Format("chkGrid{0}", WHT.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                    <input type="hidden" class="WHTId" value="@WHT.Id" />
                </td>
                <td class="fixed-column">@WHT.TaxArticle</td>
                <td class="fixed-column">@WHT.NomorBuktiPotong</td>
                @*<td class="fixed-column">@WHT.eBupotNumber</td>*@
                <td class="fixed-column WHtStatusInvoice">@WHT.StatusInvoice</td>
                <td class="fixed-column">@WHT.NamaPenjual</td>
                <td>@WHT.NamaPenjualOriginal</td>
                <td>@WHT.NPWPPenjual</td>
                <td>@WHT.AccumulatedWHTBase.FormatViewCurrency()</td>
                <td class="text-right">@WHT.JumlahDPP.FormatViewCurrency()</td>
                <td class="text-right">@WHT.Tarif%</td>
                <td class="text-right">@WHT.JumlahPPH.FormatViewCurrency()</td>
                <td>@WHT.Description</td>
                <td>@WHT.InvoiceDate.FormatViewDate()</td>

                <td class="fixed-column-hide">@WHT.NomorInvoice</td>
                <td class="WHteBupotReferenceNo">@WHT.eBupotReferenceNo</td>

                <td>@WHT.JenisPajak</td>
                <td>@WHT.MapCode</td>
                <td>@WHT.SPTType</td>
                <td>@WHT.TanggalBuktiPotong.FormatViewDate()</td>
                <td>
                    @if (@WHT.MasaPajak == null)
                    {
                        @WHT.MasaPajak
                    }
                    else if (WHT.MasaPajak.Length == 1)
                    {
                        @String.Format("{0}{1}", "0", WHT.MasaPajak);
                    }
                    else
                    {
                        @WHT.MasaPajak
                    }
                </td>
                <td>@WHT.TahunPajak</td>
                <td>@WHT.TaxAdditionalInfo</td>
                @*<td>@WHT.TanggalPenerimaan.FormatViewDate()</td>
        <td>
            @if (WHT.TanggalPenerimaan != DateTime.MinValue) //!dat.HasValue apabila datetimenullable
            {
                @WHT.TanggalPenerimaan.FormatViewTime()
            }
        </td>*@
                <td>@WHT.NomorPV</td>
                <td>@WHT.PVCreatedBy</td>
                <td>@WHT.NomorDocSAP</td>
                <td>@WHT.PostingDate.FormatViewDate()</td>
                <td class="fixed-column-hide WHTDownloadStatus">@WHT.DownloadStatus</td>
                <td>
                    @if (WHT.CsvTime.HasValue)
                    {
                        @Html.Raw(WHT.CsvTime.Value.FormatViewDate());
                    }
                </td>
                <td>@WHT.RecordStatus</td>
                <td>@WHT.RecordTime.FormatViewDate()</td>
                <td>@WHT.CreatedOn.FormatViewDate()</td>
                <td>
                    @if (WHT.CreatedOn != DateTime.MinValue) //!dat.HasValue apabila datetimenullable
                    {
                        @WHT.CreatedOn.FormatViewTime()
                    }
                </td>
                <td class="fixed-column-hide WHtApprovalStatus">@WHT.ApprovalStatus</td>
                <td>@WHT.ApprovalDate.FormatViewDate()</td>
                <td>@WHT.ApprovalDesc</td>
                <td>@WHT.RelatedGLAccount</td>
                <td>
                    <div style='text-align:center;width:fit-content;margin: auto;'>
                        @WHT.PDFWithholding
                    </div>
                </td>
                <td>@WHT.BatchFileName</td>
                <td>
                    <div style='text-align:center;width:fit-content;margin: auto;'>
                        @if (WHT.EFakturStatus.Contains("|"))
                        {
                            <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@WHT.EFakturStatus.Split('|')[0];width:10px;min-height: 20px;' title='@WHT.EFakturStatus.Split('|')[1]'></p>
                        }
                        else
                        {
                            <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@WHT.EFakturStatus;width:10px;min-height: 20px;' title='@WHT.EFakturStatus'></p>

                        }
                    </div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="31"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-12 bottom-margin-20">
        @Html.Partial("_UIPaging")
    </div>
</div>
<script>
    function DownloadFilePDF(url) {
        alert(url);
        window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")";
    }
</script>
<script>
    function pageurl(url)
    {
        window.Location = url;
    };
</script>
