﻿@{
    ViewBag.Title = "WHTDashboard";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}
@if (ViewBag.IsAuthPage)
{
    @Html.Partial("_SearchCriteria")

    <div class="_line-br"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Partial("_UIPageSize")
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <div class="form-group form-group-xs">
                @Html.Partial("_UITotalSelectedIndicator")

                *@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "PrintPDF"))
                {
                    <button id="btnPrint" type="button" class="btn btn-primary btn-sm">Print Withholding PDF</button>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "SyncElvisWHT") || Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "Delete") || Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DeleteDraft"))
                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning" id="btnAction" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Action</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @*@if (Html.Toyota().Authorization.IsAuthorizedToAccessFunction("VATInManualInput"))
                                {
                                    <li>@Html.ActionLink("Manual Input Non e-Faktur", null, "VATInManualInput", null, null)</li>
                                }*@
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DeleteDraft"))
                            {
                                <li><a style="cursor:pointer" onclick="DeleteDraft()">Delete Withholding Tax</a></li>
                            }
                            else if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "Delete"))
                            {
                                <li><a style="cursor:pointer" onclick="Delete()">Delete Withholding Tax</a></li>
                            }
                        </ul>
                    </div>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadESPT") ||
         Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadPDF") ||
         Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadReport") ||
         Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadOriginal"))
                {
                    <div class="btn-group btn-group-sm">
                        <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadESPT"))
                            {
                                @*<li><a href="#" onclick="DownloadESPT('csv')">Convert eSPT csv</a></li>*@
                                <li><a href="#" onclick="FindeBupotReferenceNo('csv')">Convert eSPT csv</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "ConverteBupotFile"))
                            {
                                <li><a href="#" onclick="getEbupotData('xlsEbupot');">Convert eBupot File</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadeBupotFile"))
                            {
                                <li><a href="#" onclick="Download('pdf')">Withholding PDF</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadOriginal"))
                            {
                                <li><a href="#" onclick="Download('xls')">Original Data/File</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "DownloadReport"))
                            {
                                <li><a href="#" onclick="Download('xlsreport')">Report</a></li>
                            }

                        </ul>
                    </div>
                }

                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadApprovalStatus") ||
         Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadWHTFile"))
                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning">Upload</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @*@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadApprovalStatus"))
                                {
                                    <li>@Html.ActionLink("Approval Status", "PopupUploadApprovalStatus", "WHT", null, new { @class = "modal-link" })</li>
                                }*@

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadApprovalStatus"))
                            {
                                <li>@Html.ActionLink("Approval Status", "PopupUploadEbupotApproval", "WHT", null, new { @class = "modal-link" })</li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadWHTFile"))
                            {
                                <li>@Html.ActionLink("Upload WHT File", "PopupUploadWHTFile", "WHT", null, new { @class = "modal-link" })</li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadApprovalStatus"))
                            {
                                <li>@Html.ActionLink("Upload eBupot File", "PopupUploadWHTEBupotFile", "WHT", null, new { @class = "modal-link" })</li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadeBupotApproval"))
                            {
                                <li>@Html.ActionLink("Upload eBupot Approval", "PopupUploadEBupotFile", "WHT", null, new { @class = "modal-link" })</li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadeBupotNIK"))
                            {
                                <li>@Html.ActionLink("Upload NIK", "PopupUploadNIK", "WHT", null, new { @class = "modal-link" })</li>
                            }




                            @*@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("WHT", "UploadApprovalStatus"))
                                {
                                    <li>@Html.ActionLink("Upload eBupot Approval", "PopupUploadEbupotApproval", "WHT", null, new { @class = "modal-link" })</li>
                                }*@
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    @*<div class="modal fade bd-example-modal-lg" id="datanotvalid" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    ...
                </div>
            </div>
        </div>*@
    <!-- Modal -->



    <div id="gridWHT">
        @Html.Partial("_SimpleGrid")
    </div>



    <div class="modal fade" id="datanotvalid" tabindex="-1" role="dialog"
         aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h5 class="modal-title">Error Validation</h5>
                </div>
                <div class="modal-body">

                    @Html.Partial("_ErrGrid")

                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>*@
            </div>
        </div>
    </div>
    <div class="modal fade" id="dataIsDownload" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download Exists</h5>

                </div>
                <div class="modal-body">

                    @Html.Partial("_DownloadExistsGrid")

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="NextDownloadEbupotData('xlsEbupot');" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>

}
    @section BodyScript{
        <script type="text/javascript">
        $(document).ready(function () {
            @if (!ViewBag.IsAuthPage) {
                    @:window.location.replace("/");
            }
            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });
        });
        </script>
    }
    @Html.Partial("_Javascript")
