﻿@using TAM.EFaktur.Web.Models.Category_Nominative
@using TAM.EFaktur.Web.Models

@{
    Category CategoryNominative = (Category)ViewData["DeleteCategory"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Delete Category</h4>
    <hr />

    <form role="form" class="form-horizontal" id="DeleteCategoryForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCategoryCodeDelete" name="CategoryCode" type="text" class="form-control" maxlength="10" readonly value="@CategoryNominative.CategoryCode" readonly/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNominativeTypeDelete" name="NominativeType" type="text" maxlength="50" class="form-control" value="@CategoryNominative.NominativeType" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Grouping Nominative</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtJointGroupDelete" name="JointGroup" type="text" class="form-control" maxlength="50" value="@CategoryNominative.JointGroup" readonly/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Signature Column</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <label id="lblSignature" hidden="hidden">@CategoryNominative.PositionSignature</label>
                        <input type="radio" id="RdEnable" name="Signature" value="Enable" disabled>
                        <label for="LblEnable">Enable</label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="RdDisable" name="Signature" value="Disable" disabled>
                        <label for="LblDesable">Disable</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sequence Group</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGroupSeqDelete" name="GroupSeq" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" value="@CategoryNominative.GroupSeq" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var getSignature = $("#lblSignature").html();
        if (getSignature == "True") {
            document.getElementById("RdEnable").checked = true;
        } else {
            document.getElementById("RdDisable").checked = true;
        }       
    });

    //Ajax POST/GET Method
    $("#btnSave").click(function () {
        Category = {
            //Id: $("#hiddenId").val(),
            CategoryCode: $("#txtCategoryCodeDelete").val(),
            GroupSeq: $("#txtGroupSeqDelete").val(),
            JointGroup: $("#txtJointGroupDelete").val(),
            NominativeType: $("#txtNominativeTypeDelete").val(),
            PositionSignature: $("#lblSignature").html()
        };
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(Category)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }

            }
        });
    });
</script>