﻿@using TAM.EFaktur.Web.Models.Category_Nominative
@using TAM.EFaktur.Web.Models

@{
    Category CategoryNominative = (Category)ViewData["UpdateCategory"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Category</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateCategoryForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNominativeTypeUdpate" name="NominativeType" type="text" class="form-control" maxlength="50" value="@CategoryNominative.NominativeType" readonly />
                    </div>
                    <label id="txtCategoryCodeUpdate" name="CategoryCode" type="text" hidden="hidden">@CategoryNominative.CategoryCode</label>
                    @*<input type="hidden" value="@CategoryNominative.CategoryCode" id="hiddenCategoryCode" />*@
                    <input type="hidden" value="@CategoryNominative.JointGroup" id="hiddenType" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNominativeTypeUdpate" name="NominativeType" type="text" maxlength="50" class="form-control" value="@CategoryNominative.NominativeType" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Grouping Enominative Report</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @*<input id="txtJointGroupUpdate" name="JointGroup" type="text" class="form-control" maxlength="50" value="@CategoryNominative.JointGroup" />*@
                        @*<select class="form-control" id="ddlCategoryCodeUpdate" style="width: 270px;" name="ddlCategoryCodeUpdate" value="@CategoryNominative.JointGroup">
                        </select>*@
                        <select class="form-control" id="ddlCategoryCodeUpdate" style="width: 270px;" name="ddlCategoryCodeUpdate">
                            <option value="">--Select--</option>
                            <option value="Promotion">Promotion</option>
                            <option value="Donation">Donation</option>
                            <option value="Entertainment">Entertainment</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Signature Column</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <label id="lblSignature" hidden="hidden">@CategoryNominative.PositionSignature</label>
                        <input type="radio" id="RdEnable" name="Signature" value="Enable">
                        <label for="LblEnable">Enable</label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="RdDisable" name="Signature" value="Disable">
                        <label for="LblDesable">Disable</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sequence Group</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGroupSeqUdpate" name="GroupSeq" type="tel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" value="@CategoryNominative.GroupSeq" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        //var getCategoryCode = $("#hiddenCategoryCode").val();
        var JointGroup = $("#hiddenType").val();
        //ridwan//
        @*getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/GroupNominative/GetKategoriDropdown", "ddlCategoryCodeUpdate", getCategoryCode);*@
        $("select#ddlCategoryCodeUpdate option").each(function () { this.selected = (this.text == JointGroup); });
        //
        var getSignature = $("#lblSignature").html();

        if (getSignature == "True") {
            document.getElementById("RdEnable").checked = true;
        } else {
            document.getElementById("RdDisable").checked = true;
        }

        $('#RdEnable').on('click', function () {
            $("#lblSignature").html('True')
        });
        $('#RdDisable').on('click', function () {
            $("#lblSignature").html('False')
        });

        $('#UpdateCategoryForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                CategoryCode: {
                    validators: {
                        notEmpty: {
                            message: 'Category Code is required and can\'t be empty'
                        }
                    }
                },
                GroupSeq: {
                    validators: {
                        notEmpty: {
                            message: 'Sequence Group is required and can\'t be empty'
                        }
                    }
                }
                ,
                ddlCategoryCodeUpdate: {
                    validators: {
                        notEmpty: {
                            message: 'Grouping Nominative Report is required and can\'t be empty'
                        }
                    }
                },
                NominativeType: {
                    validators: {
                        notEmpty: {
                            message: 'Category Name is required and can\'t be empty'
                        }
                    }
                },
                Signature: {
                    validators: {
                        notEmpty: {
                            message: 'Signature Column is required and can\'t be empty'
                        }
                    }
                }
            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                onSubmit();
            });
    });
    //Ajax POST/GET Method

    function onSubmit() {
        Category = {
            //Id: $("#hiddenId").val(),
            CategoryCode: $("#txtCategoryCodeUpdate").html(),

            GroupSeq: $("#txtGroupSeqUdpate").val(),
            JointGroup: $("#ddlCategoryCodeUpdate :selected").val(),
            //JointGroup: $("#txtJointGroupUpdate").val(),
            NominativeType: $("#txtNominativeTypeUdpate").val(),
            PositionSignature: $("#lblSignature").html(),
            //CategoryCodeOld: $("#txtCategoryCodeUpdateOld").html()
        };
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Category)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }

            }
        });
    }
</script>