﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Category Nominative</h4>
    <hr />

    <form role="form" class="form-horizontal" id="CreateCategoryForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCategoryCodeInsert" type="text" class="form-control" maxlength="10" name="CategoryCode" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNominativeTypeInsert" type="text" class="form-control" maxlength="50" name="NominativeType" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Grouping Nominative</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtJointGroupInsert" type="text" class="form-control" maxlength="50" name="JointGroup" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Signature Column</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="hidden" id="hiddenSignature" />
                        <input type="radio" id="Enable" name="Signature" value="Enable">
                        <label for="LblEnable">Enable</label> &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="Desable" name="Signature" value="Desable">
                        <label for="LblDesable">Disable</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sequence Group</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGroupSeqInsert" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" name="GroupSeq" />
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#CreateCategoryForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                CategoryCode: {
                    validators: {
                        notEmpty: {
                            message: 'Category Code is required and can\'t be empty'
                        }
                    }
                },
                GroupSeq: {
                    validators: {
                        notEmpty: {
                            message: 'Sequence Group is required and can\'t be empty'
                        }
                    }
                },
                JointGroup: {
                    validators: {
                        notEmpty: {
                            message: 'Grouping Nominative is required and can\'t be empty'
                        }
                    }
                },
                NominativeType: {
                    validators: {
                        notEmpty: {
                            message: 'Category Name is required and can\'t be empty'
                        }
                    }
                },
                Signature: {
                    validators: {
                        notEmpty: {
                            message: 'Signature Column is required and can\'t be empty'
                        }
                    }
                }

            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                onSubmit();
            });
    });

    $('#Enable').on('click', function () {
        $("#hiddenSignature").val('True')
    });
    $('#Desable').on('click', function () {
        $("#hiddenSignature").val('False')
    });
    function onSubmit() {

        Category = {
            CategoryCode: $("#txtCategoryCodeInsert").val(),
            NominativeType: $("#txtNominativeTypeInsert").val(),
            JointGroup: $("#txtJointGroupInsert").val(),
            GroupSeq: $("#txtGroupSeqInsert").val(),
            PositionSignature: $("#hiddenSignature").val()
        };
        $.ajax({
            type: "POST",
            url: URLSaveCreate,
            data: {
                data: JSON.stringify(Category)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
            }
        });
    }
</script>

