﻿<form role="form" class="form-horizontal" id="InputCategoryForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlCategoryCode" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Grouping Enominative Report</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @*<input id="txtJointGroup" type="text" maxlength="50" class="form-control">*@
                    <select class="form-control" id="ddlCategoryGrouping" multiple>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sequence Group</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtGroupSeq" type="text" class="form-control" readonly oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">

                        <input id="lookupGroupSeq" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupGroupSeq" })"><i class="fa fa-search"></i></a>
                        </span>

                    </div>
                </div>
                </div>


            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtNominativeType" type="text" maxlength="50" class="form-control" readonly>

                        @*<input id="txtNominativeType" type="text" class="form-control" maxlength="200" />*@
                        <input id="lookupNominativeType" type="hidden" class="form-control" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupNominativeType" })"><i class="fa fa-search"></i></a>
                        </span>


                    </div>
                </div>
                </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" id="btnClearSearch" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    //Clear Form Search
    function clearSearch() {
        $('#ddlCategoryCode').multiselect('clearSelection');
        $('#ddlCategoryGrouping').multiselect('clearSelection');

        document.getElementById("lookupIdddlCategoryCode").value = "";
        document.getElementById("lookupNameddlCategoryCode").value = "";

        document.getElementById("lookupNominativeType").value = "";
        document.getElementById("txtNominativeType").value = "";
        //document.getElementById("txtJointGroup").value = "";

        document.getElementById("lookupIdddlCategoryGrouping").value = "";
        document.getElementById("lookupNameddlCategoryGrouping").value = "";

        document.getElementById("txtGroupSeq").value = "";
        document.getElementById("lookupGroupSeq").value = "";
    }
</script>
