﻿@using TAM.EFaktur.Web.Models.Category_Nominative
@using TAM.EFaktur.Web.Models

@{
    List<CategoryNominativeDashboardViewModel> CategoryNominativeList = (List<CategoryNominativeDashboardViewModel>)ViewData["CategoryNominativeListDashboard"];
}


<div id="gridCategoryNominative">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    @if (ViewBag.EditDeleteCategoryEnom == true)
                    {
                        <th class="fixed-column _col" style="width:12px">Edit</th>
                        @*<th class="fixed-column _col" style="width:12px">Delete</th>*@
                    }

                    <th onclick="sortItem(2)" style="cursor:pointer">Category Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Grouping Enominative Report &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Sequence Group &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Category Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Signature Column &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>

            @if (CategoryNominativeList != null && CategoryNominativeList.Count > 0)
            {
                foreach (CategoryNominativeDashboardViewModel CategoryNominative in CategoryNominativeList)
                {
                    <tr>
                        <td class="text-center fixed-column">
                            <input id="@string.Format("chkGrid{0}", CategoryNominative.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                            <input type="hidden" class="paramId" value="@CategoryNominative.RowNum" />
                        </td>

                        @if (ViewBag.EditDeleteCategoryEnom == true)
                        {
                            <td class="text-center">
                                <a href="@Url.Action("PopupUpdateCategory", "Category_Nominative", new { CategoryCode = @CategoryNominative.CategoryCode })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            </td>
                            @*<td class="text-center">
                                <a href="@Url.Action("PopupDeleteCategory", "Category_Nominative", new { CategoryCode = @CategoryNominative.CategoryCode })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>*@
                        }

                        <td>@CategoryNominative.CategoryCodeas</td>
                        <td>@CategoryNominative.JointGroup </td>
                        <td>@CategoryNominative.GroupSeq</td>
                        <td>@CategoryNominative.NominativeType</td>
                        <td>@CategoryNominative.PositionSignature</td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }

        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>