﻿@*@using TAM.EFaktur.Web.Models.Attachment_Type
@model AttachmentTypeParamModel*@
@*@using TAM.EFaktur.Web.Models.Attachment_Type
    @using TAM.EFaktur.Web.Models

    @{
        List<AttachmentTypeDashboardViewModel> AttachmentTypeList = (List<AttachmentTypeDashboardViewModel>)ViewData["AttachmentTypeListDashboard"];
    }*@
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Attachment Type</h4>
    <hr />

    <form role="form" class="form-horizontal" id="CreateAttachmentForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlCategory" name='ddlCategory'></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">File Type</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlDocumentTypeInsert" name="ddlDocumentTypeInsert" multiple></select>
                        @*<select class="form-control" id="ddlDocumentTypeInsert" name="ddlDocumentTypeInsert" onchange="FileTypeEnableButton()" multiple></select>
                            <small id="lblFileTypeAlert" class="help-block" style="color:darkred; display:none">File Type is required and can't be empty</small>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Document Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDescriptionInsert" type="text" class="form-control" maxlength="100" name="Description" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlVendorGroup" multiple name="ddlVendorGroup"></select>
                        @*<select class="form-control" id="ddlVendorGroup" multiple name="ddlVendorGroup" onchange="VendorGroupEnableButton();"></select>
                            <small id="lblVendorGroupAlert" class="help-block" style="color:darkred; display:none">Vendor Group is required and can't be empty</small>*@
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">From</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="hidden" id="EbilingsCreate" />
                        @*<input type="radio" id="idEbiling" name="Ebiling" value="Ebiling" onclick="checkRadio(name)">*@
                        <input type="radio" id="idEbilingcreate" name="rdbCreate" checked value="true">
                        <label for="LblEbiling">Ebilling</label> &nbsp;&nbsp;&nbsp;
                        @*<input type="radio" id="idElvis" name="Elvis" value="Elvis" onclick="checkRadio(name)">*@
                        <input type="hidden" id="ElvissCreate" />
                        <input type="radio" id="idElviscreate" name="rdbCreate" value="false">
                        <label for="LblElvis">Elvis</label><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSaveAttachement">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelSave">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        getDropdownlist("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionKategoriDropdown", "ddlCategory");
        getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Attachment_Type/GetDocumentTypeDropdown", "ddlDocumentTypeInsert");
        getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Attachment_Type/GetVendorGroupDropdown", "ddlVendorGroup");

        $('#CreateAttachmentForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                ddlCategory: {
                    validators: {
                        notEmpty: {
                            message: 'Category is required and can\'t be empty'
                        }
                    }
                },
                ddlDocumentTypeInsert: {
                    validators: {
                        notEmpty: {
                            message: 'Dokumen is required and can\'t be empty'
                        }
                    }
                },
                ddlVendorGroup: {
                    validators: {
                        notEmpty: {
                            message: 'Vendor Group is required and can\'t be empty'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Document Name is required and can\'t be empty'
                        }
                    }
                }
            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                onSubmit();
            });
    });

    //function VendorGroupEnableButton() {
    //    document.getElementById("lblVendorGroupAlert").style.display = "none";
    //}

    //function FileTypeEnableButton() {
    //    document.getElementById("lblFileTypeAlert").style.display = "none";
    //}
    
    //$('#idEbilingcreate').on('click', function () {
    //    $("#EbilingsCreate").val('1')
    //    $("#ElvissCreate").val('0')
    //});

    //$('#idElviscreate').on('click', function () {
    //    $("#ElvissCreate").val('1')
    //    $("#EbilingsCreate").val('0')
    //});
    //function checkRadio(name) {
    //    if (name == "Ebiling") {
    //        document.getElementById("idEbiling").innerHTML = 1;
    //        document.getElementById("idElvis").innerHTML = 0;
    //        document.getElementById("idEbiling").checked = true;
    //        document.getElementById("idElvis").checked = false;
    //    }
    //    else if (name == "Elvis") {
    //        document.getElementById("idEbiling").checked = false;
    //        document.getElementById("idElvis").checked = true;
    //    }
    //}
    //$('.radio').click(function () {
    //    if (name == "Ebiling") {
    //        document.getElementById('idEbiling').innerHTML = $(this).val();
    //        document.getElementById('idElvis').innerHTML = $(this).val('0');
    //    }
        
    //})

    function onSubmit() {
        var returnRequiredebil = $('#idEbilingcreate').is(':checked') ? true : false;
        var returnRequiredeelvis = $('#idElviscreate').is(':checked') ? true : false;
        //if ($("#ddlVendorGroup").val() == null) {
        //    document.getElementById('lblVendorGroupAlert').style.display = "";
        //    document.getElementById("btnSaveAttachement").disabled = false;
        //    return false

        //} else if ($("#ddlDocumentTypeInsert").val() == null) {
        //    document.getElementById('lblFileTypeAlert').style.display = "";
        //    document.getElementById("btnSaveAttachement").disabled = false;
        //    return false

        //}
        //else
        {
            Attachment = {
                AttachmentId: 0,
                CategoryCode: $("#ddlCategory").val(),
                CategoryDesc: $("#ddlCategory :selected").text(),
                Description: $("#txtDescriptionInsert").val(),
                FileType: $("#lookupIdddlDocumentTypeInsert").val(),
                FileTypeDesc: $("#lookupNameddlDocumentTypeInsert").val(),
                Vendor_Group: $("#lookupIdddlVendorGroup").val(),
                Vendor_GroupDesc: $("#lookupNameddlVendorGroup").val(),
                Ebiling: returnRequiredebil,
                Elvis: returnRequiredeelvis
            };
        }


        var isCloseModal = false;
        $.ajax({
            type: "POST",
            url: URLSaveCreate,
            data: {
                data: JSON.stringify(Attachment),
            },
            beforeSend: function () {
                $('#btnSaveAttachement').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancelSave').click();
                    //formData = new FormData(); // clear global variable
                    //isCloseModal = true;
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSaveAttachement').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                //$('#btnCancel').click();
                if (isCloseModal)
                    $('#btnCancel').click();

            }
        });
    }

</script>

