﻿@using TAM.EFaktur.Web.Models.Attachment_Type
@using TAM.EFaktur.Web.Models
@*@{
    Attachment AttachmentType = (Attachment)ViewData["UpdateAttachment"];
}*@

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Update Attachment</h4>
            <hr />

            <form role="form" class="form-horizontal" id="UpdateAttachmentForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                            <input type="hidden" id="hiddenCategoryCode" />
                            <input type="hidden" id="hiddenAttachmentId" />
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <select class="form-control" id="ddlCategoryUpdate" name="ddlCategoryUpdate"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">File Type</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                @*<select class="form-control" id="ddlDocumentTypeUpdate" name="ddlDocumentTypeUpdate" onchange="FileTypeEnableButton()" multiple></select>
                                    <small id="lblFileTypeAlert" class="help-block" style="color:darkred; display:none">File Type is required and can't be empty</small>*@
                                <select class="form-control" id="ddlDocumentTypeUpdate" name="ddlDocumentTypeUpdate" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Document Name</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <input id="txtDescriptionUdpate" name="Description" type="text" class="form-control" maxlength="100" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <select class="form-control" id="ddlVendorGroupUpdate" multiple name="ddlVendorGroupUpdate"></select>
                                @*<select class="form-control" id="ddlVendorGroupUpdate" multiple name="ddlVendorGroupUpdate" onchange="VendorGroupEnableButton();"></select>
                                    <small id="lblVendorGroupAlert" class="help-block" style="color:darkred; display:none">Vendor Group is required and can't be empty</small>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">From</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <input type="hidden" id="Ebilingsupdate" />
                                @*<label hidden="hidden" id="Ebiling">@AttachmentType.Ebiling</label>*@
                                @*<input type="radio" id="idEbiling" name="Ebiling" value="Ebiling" onclick="checkRadio(name)">*@
                                <input type="radio" id="idEbilingupdate" checked value="true" name="rdb">
                                <label for="LblEbiling">Ebilling</label> &nbsp;&nbsp;&nbsp;
                                @*<input type="radio" id="idElvis" name="Elvis" value="Elvis" onclick="checkRadio(name)">*@
                                <input type="hidden" id="Elvissupdate" />
                                @*<label hidden="hidden" id="Elvis">@AttachmentType.Elvis</label>*@
                                <input type="radio" id="idElvisupdate" value="false" name="rdb">
                                <label for="LblElvis">Elvis</label><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="btn-group-sm">
                            <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
   
    $(document).ready(function () {

        $('#UpdateAttachmentForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                ddlCategoryUpdate: {
                    validators: {
                        notEmpty: {
                            message: 'Category is required and can\'t be empty'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Document Name is required and can\'t be empty'
                        }
                    }
                },
                FileType: {
                    validators: {
                        notEmpty: {
                            message: 'File Type is required and can\'t be empty'
                        }
                    }
                },
                Vendor_Group: {
                    validators: {
                        notEmpty: {
                            message: 'Vendor Group is required and can\'t be empty'
                        }
                    }
                }

            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onUpdate();
        });
    });
    //Ajax POST/GET Method

    function onGetById(AttachmentId) {
                $.ajax({
                    type: "GET",
                    url: "@Html.Toyota().Page.GetActionUrl("GetParamById")",
                    data: {
                        AttachmentId: AttachmentId
                    },
                    bFileTypeDesceforeSend: function () {
                        if (DEBUG) {
                            console.log('Get Start');
                        }
                    },
                    complete: function () {
                       // $('#btnDelete').button('reset');
                        if (DEBUG) {
                            console.log('Get Done');
                        }
                    },
                    success: function (result) {
                        //$("#IdParam").val(result.Id);
                        //$("select#ddlModuleName2 option").each(function () { this.selected = (this.text == result.ModuleName); });
                        //$("#txtParameterCode2").val(result.ParameterCode);
                        //$("#txtParameterName2").val(result.ParameterName);
                        alert(result.CategoryDesc);
                        console.log(result);
                        if (DEBUG) {
                            console.log('Get Done');
                        }


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        if (DEBUG) {
                            console.log('Get Attachment Type Error');
                            console.log("error: " + errorThrown);
                        }
                    }
                });
    }
    
    //function VendorGroupEnableButton() {
    //    document.getElementById("lblVendorGroupAlert").style.display = "none";
    //}

    //function FileTypeEnableButton() {
    //    document.getElementById("lblFileTypeAlert").style.display = "none";
    //}

    //$('#idEbilingupdate').on('click', function () {
    //    $("#Ebilingsupdate").val('1')
    //    $("#Elvissupdate").val('0')
    //});

    //$('#Elvissupdate').on('click', function () {
    //    $("#Elvissupdate").val('1')
    //    $("#Ebilingsupdate").val('0')
    //});

    function onUpdate() {
        var returnRequiredebil = $('#idEbilingupdate').is(':checked') ? true : false;
        var returnRequiredeelvis = $('#idElvisupdate').is(':checked') ? true : false;

        console.log(returnRequiredebil, 'ebil');
        console.log(returnRequiredeelvis, 'elvis');
        Attachment = {
            AttachmentId: $("#hiddenAttachmentId").val(),
            CategoryCode: $("#ddlCategoryUpdate").val(),
            CategoryDesc: $("#ddlCategoryUpdate :selected").text(),
            Description: $("#txtDescriptionUdpate").val(),
            FileType: $("#lookupIdddlDocumentTypeUpdate").val(),
            FileTypeDesc: $("#lookupNameddlDocumentTypeUpdate").val(),
            Vendor_Group: $("#lookupIdddlVendorGroupUpdate").val(),
            Vendor_GroupDesc: $("#lookupNameddlVendorGroupUpdate").val(),
            Ebiling: returnRequiredebil,
            Elvis: returnRequiredeelvis
        };
        var isCloseModal = false;
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Attachment)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                //$('#btnCancel').click();
                if (isCloseModal)
                    $('#btnCancel').click();

            }
        });
    }
</script>
