﻿@using TAM.EFaktur.Web.Models.Attachment_Type
@using TAM.EFaktur.Web.Models

@{
    Attachment AttachmentType = (Attachment)ViewData["DeleteAttachment"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="UserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@AttachmentType.AttachmentId" id="hiddenAttachmentIdDelete" />
                    @*<label>@AttachmentType.AttachmentId</label>*@
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCategoryCodeDelete" type="text" class="form-control" value="@AttachmentType.CategoryDesc" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Document Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtFileTypeDelete" type="text" value="@AttachmentType.Description" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">File Type</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDescriptionDelete" type="text" value="@AttachmentType.FileTypeDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtVendor_GroupDelete" type="text" value="@AttachmentType.Vendor_GroupDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">From</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <label hidden="hidden" id="Ebilings">@AttachmentType.Ebiling</label>
                        @*<input type="radio" id="idEbiling" name="Ebiling" value="Ebiling" onclick="checkRadio(name)">*@
                        <input type="radio" id="idEbilingdelete" name="deleteEbiling" value="1" disabled>
                        <label for="LblEbiling">Ebilling</label> &nbsp;&nbsp;&nbsp;
                        @*<input type="radio" id="idElvis" name="Elvis" value="Elvis" onclick="checkRadio(name)">*@
                        <label hidden="hidden" id="Elviss">@AttachmentType.Elvis</label>
                        <input type="radio" id="idElvisdelete" name="deleteElvis" value="1" disabled>
                        <label for="LblElvis">Elvis</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnBatal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var getEbill = $("#Ebilings").html();
        if (getEbill == "True") {
            //document.getElementsByName("rdb").checked = true;
            document.getElementById("idEbilingdelete").checked = true;
           // $("input[id=idEbiling][value=" + getEbill + "]").prop('checked', true);
            //$("input[name=rdb][value=" + getEbill + "]").attr('checked', 'checked');
        } else {
            //document.getElementsByName("rdb").checked = false;
            document.getElementById("idEbilingdelete").checked = false;
        }
        var getElvis = $("#Elviss").html();
        if (getElvis == "True") {
            //document.getElementsByName("rdb").checked = true;
            document.getElementById("idElvisdelete").checked = true;
        } else {
            //document.getElementsByName("rdb").checked = false;
            document.getElementById("idElvisdelete").checked = false;
        }
    });
    $("#btnDelete").click(function () {
       // console.log('hallo'  + $("#hiddenAttachmentId").val());
        Attachment = {
            AttachmentId: $("#hiddenAttachmentIdDelete").val(),
            Ebiling: $("#Ebilings").html(),
            Elvis: $("#Elviss").html()
        };
        onSubmit();
    });

    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(Attachment)
            },
            beforeSend: function () {
                $('#btnDelete').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnDelete').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnBatal').click();
            }
        });
    }
</script>