﻿<form role="form" class="form-horizontal" id="InputAttachmentForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlCategorySearch" multiple>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">File Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlDocumentTypeSearch" multiple>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Document Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">

                    @*<input id="txtDocumentNameSearch" name="txtDocumentNameSearch" type="text" maxlength="100" class="form-control">*@
                    <div class="input-group input-group input-group-xs">

                        <input id="txtDocumentNameSearch" type="text" class="form-control" readonly />
                        <input id="lookupDocumentNameSearch" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupDocumentNameSearch" })"><i class="fa fa-search"></i></a>
                        </span>

                    </div>
                    </div>
                </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlVendorGroupSearch" multiple>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">From Ebilling or Elvis</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlDocumentEbilElvis">
                        <option></option>
                        <option value="ALL">All</option>
                        <option value="TMS">Ebilling</option>
                        <option value="ELS">Elvis</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">

        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">

                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" id="btnClearSearch" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //var foo = $('#ddlDocumentEbilElvis').val();
    //Clear Form Search
    function clearSearch() {
        $('#ddlCategorySearch').multiselect('clearSelection');
        $('#ddlDocumentTypeSearch').multiselect('clearSelection');
        $('#ddlVendorGroupSearch').multiselect('clearSelection');

        document.getElementById("lookupIdddlCategorySearch").value = "";
        document.getElementById("lookupNameddlCategorySearch").value = "";

        document.getElementById("lookupIdddlDocumentTypeSearch").value = "";
        document.getElementById("lookupNameddlDocumentTypeSearch").value = "";

        document.getElementById("lookupIdddlVendorGroupSearch").value = "";
        document.getElementById("lookupNameddlVendorGroupSearch").value = "";

        document.getElementById("lookupDocumentNameSearch").value = "";
        document.getElementById("txtDocumentNameSearch").value = "";
        //document.getElementById("txtDocumentNameSearch").value = "";
        document.getElementById("ddlDocumentEbilElvis").value = "";
    }
</script>
