﻿@using TAM.EFaktur.Web.Models.Attachment_Type
@using TAM.EFaktur.Web.Models

@{
    List<AttachmentTypeDashboardViewModel> AttachmentTypeList = (List<AttachmentTypeDashboardViewModel>)ViewData["AttachmentTypeListDashboard"];
}


<div id="gridAttachmentType">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    @if (ViewBag.EditDeleteAttachment_TypeEnom == true)
                    {
                        <th class="fixed-column _col" style="width:12px">Edit</th>
                        <th class="fixed-column _col" style="width:12px">Delete</th>
                    }
                    <th onclick="sortItem(2)" style="cursor:pointer">Category&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Document Name&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">File Type&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Vendor Group&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Ebilling&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">Elvis&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>

            @if (AttachmentTypeList != null && AttachmentTypeList.Count > 0)
            {
                foreach (AttachmentTypeDashboardViewModel AttachmentType in AttachmentTypeList)
                {
                    <tr>
                        <td class="text-center fixed-column">
                            <input id="@string.Format("chkGrid{0}", AttachmentType.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                            <input type="hidden" class="paramId" value="@AttachmentType.AttachmentId" />
                        </td>

                        @if (ViewBag.EditDeleteAttachment_TypeEnom == true)
                        {
                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-xs btn-edit" data-toggle="modal" data-target="#PopupUpdateAttachment"
                                        onclick='onGetById("@AttachmentType.AttachmentId")'>
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("PopupDeleteAttachment", "Attachment_Type", new { AttachmentId = @AttachmentType.AttachmentId })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        }
                        <td>@AttachmentType.CategoryDesc</td>
                        <td>@AttachmentType.Description</td>
                        <td>@AttachmentType.FileTypeDesc</td>
                        <td>@AttachmentType.Vendor_GroupDesc</td>
                        <td>@(AttachmentType.Ebiling? "Yes":"No")</td>
                        <td>@(AttachmentType.Elvis? "Yes" : "No")</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }

        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>