﻿@{
    ViewBag.Title = "Attachment Type";
}

@section HeadScript{
    <style>
        ._SearchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>
<div class="row">

    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        @Html.Partial("_UITotalSelectedIndicator")
        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Attachment_Type", "AddAttachment_TypeEnom"))
        {
            <div class="btn-group btn-group-sm">
                @Html.ActionLink("Add", "PopupCreateAttachment", "Attachment_Type", null, new { @class = "modal-link btn btn-danger" })
            </div>
        }

        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-primary" id="btnDownload" onclick="Download()">
                Download To Excel
            </button>
        </div>
    </div>
</div>

@Html.Partial("_SimpleGrid")
<div class="modal fade" id="PopupUpdateAttachment" tabindex="-1" role="dialog" aria-hidden="true">

    @Html.Partial("_PopupUpdateAttachment")
</div>
@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            $(".btn-delete").click(function () {
                $("#delete-confirm").modal();
            });



            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });


            /* toggle column on tablegrid (that <th> has class _toggle-detail) */
            //$("#btnToggleDetail").click(function () {
            //    var _detail = $("._toggle-detail");

            //    _detail.each(function () {
            //        pos = $(this).index();
            //        $(this).toggle();
            //        $("td:nth-child(" + (pos + 1) + ")").toggle();
            //    });
            //});


        });

    </script>
}
@Html.Partial("_Javascript")
