﻿@using TAM.EFaktur.Web.Models.Master_Config
@using TAM.EFaktur.Web.Models

@{
    Config ConfigMaster = (Config)ViewData["UpdateConfig"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Config</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateConfigForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="hidden" value="@ConfigMaster.Id" id="hiddenId" />
                        <input id="txtConfigKeyUpdate" name="ConfigKey" type="text" class="form-control" value="@ConfigMaster.ConfigKey" />
                    </div>
                </div>
             </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Value</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input id="txtConfigValueUdpate" name="ConfigValue" type="text" class="form-control" value="@ConfigMaster.ConfigValue" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="btn-group-sm">
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
    </form>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#UpdateConfigForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                ConfigKey: {
                    validators: {
                        notEmpty: {
                            message: 'Config Name is required and can\'t be empty'
                        }
                    }
                },
                ConfigValue: {
                    validators: {
                        notEmpty: {
                            message: 'Config Value is required and can\'t be empty'
                        }
                    }
                }

            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });
    //Ajax POST/GET Method

    function onSubmit() {
        Config = {
            Id: $("#hiddenId").val(),
            ConfigKey: $("#txtConfigKeyUpdate").val(),
            configValue: $("#txtConfigValueUdpate").val()
        };
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Config)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }

            }
        });
    }
</script>