﻿@using TAM.EFaktur.Web.Models.Master_Config
@using TAM.EFaktur.Web.Models

@{
    Config ConfigMaster = (Config)ViewData["DeleteConfig"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you yure remove this data ?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="UserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@ConfigMaster.Id" id="hiddenId" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtConfigKeyCreate" type="text" class="form-control" value="@ConfigMaster.ConfigKey" readonly />
                    </div>
                </div>

            </div>


            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Value</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtConfigValueCreate" type="text" value="@ConfigMaster.ConfigValue" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#btnSave").click(function () {
        console.log($("#txtConfigKeyCreate").val());
        Config = {
            Id: $("#hiddenId").val(),
            ConfigKey: $("#txtConfigKeyCreate").val(),
            configValue: $("#txtConfigValueCreate").val()
        };
        onSubmit();
    });

    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(Config)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }
</script>