﻿<form role="form" class="form-horizontal" id="InputConfigForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtConfigKey" type="text" class="form-control" readonly />
                        <input id="lookupConfigKey" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Config", new { Id = "lookupConfigKey" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Config Value</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtConfigValue" type="text" class="form-control" readonly />
                        <input id="lookupConfigValue" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Config", new { Id = "lookupConfigValue" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">

                @Html.ActionLink("New Config", "PopupCreateConfig", "Master_Config", null, new { @class = "modal-link btn btn-danger" })
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" id="btnClearSearch" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
   
    //Clear Form Search
    function clearSearch() {
        document.getElementById("txtConfigKey").value = "";
        document.getElementById("lookupConfigKey").value = "";
        document.getElementById("txtConfigValue").value = "";
        document.getElementById("lookupConfigValue").value = "";
       
    }
</script>
