﻿@using TAM.EFaktur.Web.Models.Master_Config
@using TAM.EFaktur.Web.Models

@{
    List<MasterConfigDashboardViewModel> MasterConfigList = (List<MasterConfigDashboardViewModel>)ViewData["MasterConfigListDashboard"];
}


<div id="gridMasterConfig">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:70px;"></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Config Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Config Value &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                </tr>
            </thead>

            @if (MasterConfigList != null && MasterConfigList.Count > 0)
            {
                foreach (MasterConfigDashboardViewModel MasterConfig in MasterConfigList)
                {
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Action("PopupUpdateConfig", "Master_Config", new { Id = @MasterConfig.Id })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("PopupDeleteConfig", "Master_Config", new { Id = @MasterConfig.Id })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>@MasterConfig.ConfigKey</td>
                        <td>@MasterConfig.ConfigValue</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }

        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>