﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var validation = (PromotionValidation)ViewData["ValidationPromotion"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Promotion Detail</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formCreateDetail">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtCreateDetailTANGGAL">
                                <input id="txtCreateDetailTANGGAL" name="txtCreateDetailTANGGAL" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtCreateDetailTANGGAL" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_DAN_JENIS_BIAYA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BENTUK_DAN_JENIS_BIAYA)
                        {
                            <input id="txtCreateDetailBENTUK_DAN_JENIS_BIAYA" name="txtCreateDetailBENTUK_DAN_JENIS_BIAYA" type="text" class="form-control" maxlength="50" />
                        }
                        else
                        {
                            <input id="txtCreateDetailBENTUK_DAN_JENIS_BIAYA" type="text" class="form-control" maxlength="50" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH)
                        {
                            <input id="txtCreateDetailJUMLAH" name="txtCreateDetailJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_GROSS_UP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_GROSS_UP)
                        {
                            <input id="txtCreateDetailJUMLAH_GROSS_UP" name="txtCreateDetailJUMLAH_GROSS_UP" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJUMLAH_GROSS_UP" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.KETERANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.KETERANGAN)
                        {
                            <textarea id="txtCreateDetailKETERANGAN" name="txtCreateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                        else
                        {
                            <textarea id="txtCreateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_PPH)
                        {
                            <input id="txtCreateDetailJUMLAH_PPH" name="txtCreateDetailJUMLAH_PPH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJUMLAH_PPH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JENIS_PPH)
                        {
                            <input id="txtCreateDetailJENIS_PPH" name="txtCreateDetailJENIS_PPH" type="text" class="form-control" maxlength="50" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJENIS_PPH" type="text" class="form-control" maxlength="50" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_NET</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_NET)
                        {
                            <input id="txtCreateDetailJUMLAH_NET" name="txtCreateDetailJUMLAH_NET" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJUMLAH_NET" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NOMOR_REKENING)
                        {
                            <input id="txtCreateDetailNOMOR_REKENING" name="txtCreateDetailNOMOR_REKENING" type="text" class="form-control" maxlength="20" />
                        }
                        else
                        {
                            <input id="txtCreateDetailNOMOR_REKENING" type="text" class="form-control" maxlength="20" />

                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_REKENING_PENERIMA)
                        {
                            <input id="txtCreateDetailNAMA_REKENING_PENERIMA" name="txtCreateDetailNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateDetailNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_BANK)
                        {
                            <input id="txtCreateDetailNAMA_BANK" name="txtCreateDetailNAMA_BANK" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateDetailNAMA_BANK" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_KTP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO_KTP)
                        {
                            <input id="txtCreateDetailNO_KTP" name="txtCreateDetailNO_KTP" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="16" />
                        }
                        else
                        {
                            <input id="txtCreateDetailNO_KTP" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="16" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnCreateDetail">Save</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="CancelDetail()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formCreateDetail').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtCreateDetailTANGGAL: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailBENTUK_DAN_JENIS_BIAYA: {
                    validators: {
                        notEmpty: {
                            message: '@header.BENTUK_DAN_JENIS_BIAYA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJUMLAH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJUMLAH_GROSS_UP: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_GROSS_UP is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailKETERANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.KETERANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJUMLAH_PPH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_PPH is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJENIS_PPH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JENIS_PPH is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJUMLAH_NET: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_NET is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailNOMOR_REKENING: {
                    validators: {
                        notEmpty: {
                            message: '@header.NOMOR_REKENING is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailNAMA_REKENING_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_REKENING_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailNAMA_BANK: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_BANK is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailNO_KTP: {
                    validators: {
                        stringLength: {
                            max: 16,
                            min: 16,
                            message: '@header.NO_KTP must be 16 characters'
                        },
                        notEmpty: {
                            message: '@header.NO_KTP is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtCreateDetailTANGGAL"]').on('blur', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailTANGGAL');
        });

        $('#dtCreateDetailTANGGAL').on('dp.change dp.show', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailTANGGAL');
        });

        $('[name="txtCreateDetailJUMLAH"]').on('blur', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailJUMLAH');
        });

        $('[name="txtCreateDetailJUMLAH_GROSS_UP"]').on('blur', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailJUMLAH_GROSS_UP');
        });

        $('[name="txtCreateDetailJUMLAH_PPH"]').on('blur', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailJUMLAH_PPH');
        });

        $('[name="txtCreateDetailJUMLAH_NET"]').on('blur', function (e) {
            $('#formCreateDetail').bootstrapValidator('revalidateField', 'txtCreateDetailJUMLAH_NET');
        });
    });

    $("#btnCreateDetail").click(function () {
        var validator = $('#formCreateDetail').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var txtTanggal = $("#txtCreateDetailTANGGAL").val().split("-");
            var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

            var dataPromotionDetail = {
                TANGGAL: Tanggal,
                BENTUK_DAN_JENIS_BIAYA: $("#txtCreateDetailBENTUK_DAN_JENIS_BIAYA").val(),
                JUMLAH: $("#txtCreateDetailJUMLAH").val().replaceAll(",", ""),
                JUMLAH_GROSS_UP: $("#txtCreateDetailJUMLAH_GROSS_UP").val().replaceAll(",", ""),
                KETERANGAN: $("#txtCreateDetailKETERANGAN").val(),
                JUMLAH_PPH: $("#txtCreateDetailJUMLAH_PPH").val().replaceAll(",", ""),
                JENIS_PPH: $("#txtCreateDetailJENIS_PPH").val(),
                JUMLAH_NET: $("#txtCreateDetailJUMLAH_NET").val().replaceAll(",", ""),
                NOMOR_REKENING: $("#txtCreateDetailNOMOR_REKENING").val(),
                NAMA_REKENING_PENERIMA: $("#txtCreateDetailNAMA_REKENING_PENERIMA").val(),
                NAMA_BANK: $("#txtCreateDetailNAMA_BANK").val(),
                NO_KTP: $("#txtCreateDetailNO_KTP").val(),
                Promotion:
                {
                    PROMOTION_ID: $("#hdPROMOTION_ID").val(),
                    DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                    THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                    NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                    TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                    TGL_PENANDATANGAN: tglPenandatangan,
                    JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                    NO: GetValue($("#txtCreateNO").val(), $("#txtUpdateNO").val(), $("#txtDeleteNO").val()),
                    NAMA: GetValue($("#txtCreateNAMA").val(), $("#txtUpdateNAMA").val(), $("#txtDeleteNAMA").val()),
                    NPWP: GetValue($("#txtCreateNPWP").val(), $("#txtUpdateNPWP").val(), $("#txtDeleteNPWP").val()),
                    ALAMAT: GetValue($("#txtCreateALAMAT").val(), $("#txtUpdateALAMAT").val(), $("#txtDeleteALAMAT").val())
                }
            };

            $.ajax({
                type: "POST",
                url: URLInsertDetail,
                data: {
                    data: JSON.stringify(dataPromotionDetail)
                },
                beforeSend: function () {
                    $('#btnCreateDetail').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        $("#hdPROMOTION_ID").val(result.ResultDescs);//memanfaatkan kolom yg ada di model result yg tidak terpakai untuk menampung id yg berhasil di simpan.
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnCreateDetail').button('reset');
                    CancelDetail();
                    onGetDetail(1, false);
                    onGet(1);
                }
            });
        }
    });
</script> 