﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var data = (Promotion)ViewData["Delete"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="formDelete">
        <input type="hidden" value="@data.PROMOTION_ID" id="hdPROMOTION_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNO" name="txtDeleteNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNAMA" name="txtDeleteNAMA" type="text" class="form-control" maxlength="100" value="@data.NAMA" readonly />
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNPWP" name="txtDeleteNPWP" type="text" class="form-control _mask-npwp" value="@data.NPWP" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <textarea id="txtDeleteALAMAT" name="txtDeleteALAMAT" class="form-control" maxlength="200" style="height:80px;" readonly>@data.ALAMAT</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="_line-br"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizePromotionDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        onGetDetail(1, true);
    });

    $("#btnDelete").click(function (e) {
        //process save data
        var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
        var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

        var dataPromotion = {
            Promotion_ID: $("#hdPROMOTION_ID").val(),
            DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

            THN_PAJAK: $("#ddlTHN_PAJAK").val(),
            NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
            TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
            TGL_PENANDATANGAN: tglPenandatangan,
            JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

            NO: $("#txtDeleteNO").val(),
            NAMA: $("#txtDeleteNAMA").val(),
            NPWP: $("#txtDeleteNPWP").val(),
            ALAMAT: $("#txtDeleteALAMAT").val()
        };

        $.ajax({
            type: "POST",
            url: URLDelete,
            data: {
                data: JSON.stringify(dataPromotion)
            },
            beforeSend: function () {
                $('#btnDelete').button('loading');
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnDelete').button('reset');
                Cancel();
                onGet(1);
            }
        });
    });
</script>