﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var data = (Promotion)ViewData["Update"];
    var validation = (PromotionValidation)ViewData["ValidationPromotion"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Promotion</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formUpdate">
        <input type="hidden" value="@data.PROMOTION_ID" id="hdPROMOTION_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO)
                        {
                            <input id="txtUpdateNO" name="txtUpdateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                        else
                        {
                            <input id="txtUpdateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA)
                        {
                            <input id="txtUpdateNAMA" name="txtUpdateNAMA" type="text" class="form-control" maxlength="100" value="@data.NAMA" />
                        }
                        else
                        {
                            <input id="txtUpdateNAMA" type="text" class="form-control" maxlength="100" value="@data.NAMA" />
                        }
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NPWP)
                        {
                            <input id="txtUpdateNPWP" name="txtUpdateNPWP" type="text" class="form-control _mask-npwp" value="@data.NPWP" />
                        }
                        else
                        {
                            <input id="txtUpdateNPWP" type="text" class="form-control _mask-npwp" value="@data.NPWP" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT)
                        {
                            <textarea id="txtUpdateALAMAT" name="txtUpdateALAMAT" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT</textarea>
                        }
                        else
                        {
                            <textarea id="txtUpdateALAMAT" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT</textarea>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="_line-br"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizePromotionDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <div class="btn-group-sm">
                     @if (ViewBag.IsManual == "True")
                     {
                        <button type="button" class="btn btn-danger" id="btnAddDetail" onclick="ShowAddDetail()">Add Detail</button>
                     }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                     @if (ViewBag.IsManual == "True")
                     {
                        <button type="button" class="btn btn-primary" id="btnUpdate">Save</button>
                     }
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if("@ViewBag.IsManual" == "False"){
            $("#txtUpdateNO").attr("readonly", "readonly");
            $("#txtUpdateNAMA").attr("readonly", "readonly");
            $("#txtUpdateNPWP").attr("readonly", "readonly");
            $("#txtUpdateALAMAT").attr("readonly", "readonly"); 
        }

        onGetDetail(1, false);

        $('#formUpdate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtUpdateNO: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNAMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateNPWP: {
                    validators: {
                        notEmpty: {
                            message: '@header.NPWP is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateALAMAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtUpdateNPWP"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateNPWP');
        });
    });

    $("#btnUpdate").click(function () {
        var validator = $('#formUpdate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var dataPromotion = {
                Promotion_ID: $("#hdPROMOTION_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: $("#txtUpdateNO").val(),
                NAMA: $("#txtUpdateNAMA").val(),
                NPWP: $("#txtUpdateNPWP").val(),
                ALAMAT: $("#txtUpdateALAMAT").val()
            };

            $.ajax({
                type: "POST",
                url: URLUpdate,
                data: {
                    data: JSON.stringify(dataPromotion)
                },
                beforeSend: function () {
                    $('#btnUpdate').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnUpdate').button('reset');
                    Cancel();
                    onGet(1);
                }
            });
        }
    });
</script>