﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var data = (PromotionDetail)ViewData["DeleteDetail"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="formDeleteDetail">
        <input type="hidden" value="@data.PROMOTION_DETAIL_ID" id="hdPROMOTION_DETAIL_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class='input-group input-group-xs _datepicker' id="dtDeleteDetailTANGGAL">
                            <input id="txtDeleteDetailTANGGAL" name="txtDeleteDetailTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" readonly />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_DAN_JENIS_BIAYA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailBENTUK_DAN_JENIS_BIAYA" name="txtDeleteDetailBENTUK_DAN_JENIS_BIAYA" type="text" class="form-control" maxlength="50" value="@data.BENTUK_DAN_JENIS_BIAYA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJUMLAH" name="txtDeleteDetailJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_GROSS_UP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJUMLAH_GROSS_UP" name="txtDeleteDetailJUMLAH_GROSS_UP" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_GROSS_UP)" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.KETERANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <textarea id="txtDeleteDetailKETERANGAN" name="txtDeleteDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;" readonly>@data.KETERANGAN</textarea>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJUMLAH_PPH" name="txtDeleteDetailJUMLAH_PPH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_PPH)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJENIS_PPH" name="txtDeleteDetailJENIS_PPH" type="text" class="form-control" maxlength="50" value="@data.JENIS_PPH" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_NET</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJUMLAH_NET" name="txtDeleteDetailJUMLAH_NET" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_NET)" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailNOMOR_REKENING" name="txtDeleteDetailNOMOR_REKENING" type="text" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailNAMA_REKENING_PENERIMA" name="txtDeleteDetailNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailNAMA_BANK" name="txtDeleteDetailNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_KTP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailNO_KTP" name="txtDeleteDetailNO_KTP" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="16" value="@data.NO_KTP" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDeleteDetail">Delete</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="CancelDetail()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $("#btnDeleteDetail").click(function (e) {
        //process save data
        var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
        var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

        var txtTanggal = $("#txtDeleteDetailTANGGAL").val().split("-");
        var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

        var dataPromotionDetail = {
            PROMOTION_DETAIL_ID: $("#hdPROMOTION_DETAIL_ID").val(),
            TANGGAL: Tanggal,
            BENTUK_DAN_JENIS_BIAYA: $("#txtDeleteDetailBENTUK_DAN_JENIS_BIAYA").val(),
            JUMLAH: $("#txtDeleteDetailJUMLAH").val().replaceAll(",", ""),
            JUMLAH_GROSS_UP: $("#txtDeleteDetailJUMLAH_GROSS_UP").val().replaceAll(",", ""),
            KETERANGAN: $("#txtDeleteDetailKETERANGAN").val(),
            JUMLAH_PPH: $("#txtDeleteDetailJUMLAH_PPH").val().replaceAll(",", ""),
            JENIS_PPH: $("#txtDeleteDetailJENIS_PPH").val(),
            JUMLAH_NET: $("#txtDeleteDetailJUMLAH_NET").val().replaceAll(",", ""),
            NOMOR_REKENING: $("#txtDeleteDetailNOMOR_REKENING").val(),
            NAMA_REKENING_PENERIMA: $("#txtDeleteDetailNAMA_REKENING_PENERIMA").val(),
            NAMA_BANK: $("#txtDeleteDetailNAMA_BANK").val(),
            NO_KTP: $("#txtDeleteDetailNO_KTP").val(),
            Promotion:
            {
                PROMOTION_ID: $("#hdPROMOTION_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: GetValue($("#txtCreateNO").val(), $("#txtUpdateNO").val(), $("#txtDeleteNO").val()),
                NAMA: GetValue($("#txtCreateNAMA").val(), $("#txtUpdateNAMA").val(), $("#txtDeleteNAMA").val()),
                NPWP: GetValue($("#txtCreateNPWP").val(), $("#txtUpdateNPWP").val(), $("#txtDeleteNPWP").val()),
                ALAMAT: GetValue($("#txtCreateALAMAT").val(), $("#txtUpdateALAMAT").val(), $("#txtDeleteALAMAT").val())
            }
        };

        $.ajax({
            type: "POST",
            url: URLDeleteDetail,
            data: {
                data: JSON.stringify(dataPromotionDetail)
            },
            beforeSend: function () {
                $('#btnDeleteDetail').button('loading');
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnDeleteDetail').button('reset');
                CancelDetail();
                onGetDetail(1, false);
                onGet(1);
            }
        });
    });
</script> 