﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var validation = (PromotionValidation)ViewData["ValidationPromotion"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Promotion</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formCreate">
        <input type="hidden" id="hdPROMOTION_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO)
                        {
                            <input id="txtCreateNO" name="txtCreateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                        else
                        {
                            <input id="txtCreateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA)
                        {
                            <input id="txtCreateNAMA" name="txtCreateNAMA" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateNAMA" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NPWP)
                        {
                            <input id="txtCreateNPWP" name="txtCreateNPWP" type="text" class="form-control _mask-npwp" />
                        }
                        else
                        {
                            <input id="txtCreateNPWP" type="text" class="form-control _mask-npwp" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT)
                        {
                            <textarea id="txtCreateALAMAT" name="txtCreateALAMAT" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                        else
                        {
                            <textarea id="txtCreateALAMAT" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="_line-br"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizePromotionDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnAddDetail" onclick="ShowAddDetail()">Add Detail</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnCreate">Save</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        onGetDetail(1, false);

        $('#formCreate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtCreateNO: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNAMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA is required and can\'t be empty'
                        }
                    }
                },
                txtCreateNPWP: {
                    validators: {
                        notEmpty: {
                            message: '@header.NPWP is required and can\'t be empty'
                        }
                    }
                },
                txtCreateALAMAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtCreateNPWP"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateNPWP');
        });
    });

    $("#btnCreate").click(function () {
        var validator = $('#formCreate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var dataPromotion = {
                Promotion_ID: $("#hdPROMOTION_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: $("#txtCreateNO").val(),
                NAMA: $("#txtCreateNAMA").val(),
                NPWP: $("#txtCreateNPWP").val(),
                ALAMAT: $("#txtCreateALAMAT").val()
            };

            $.ajax({
                type: "POST",
                url: URLInsert,
                data: {
                    data: JSON.stringify(dataPromotion)
                },
                beforeSend: function () {
                    $('#btnCreate').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnCreate').button('reset');
                    Cancel();
                    onGet(1);
                }
            });
        }
    });
</script> 