﻿@using TAM.EFaktur.Web.Models.Promotion
@{
    var data = (PromotionDetail)ViewData["UpdateDetail"];
    var validation = (PromotionValidation)ViewData["ValidationPromotion"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Promotion Detail</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formUpdateDetail">
        <input type="hidden" value="@data.PROMOTION_DETAIL_ID" id="hdPROMOTION_DETAIL_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtUpdateDetailTANGGAL">
                                <input id="txtUpdateDetailTANGGAL" name="txtUpdateDetailTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtUpdateDetailTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.BENTUK_DAN_JENIS_BIAYA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.BENTUK_DAN_JENIS_BIAYA)
                        {
                            <input id="txtUpdateDetailBENTUK_DAN_JENIS_BIAYA" name="txtUpdateDetailBENTUK_DAN_JENIS_BIAYA" type="text" class="form-control" maxlength="50" value="@data.BENTUK_DAN_JENIS_BIAYA" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailBENTUK_DAN_JENIS_BIAYA" type="text" class="form-control" maxlength="50" value="@data.BENTUK_DAN_JENIS_BIAYA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH)
                        {
                            <input id="txtUpdateDetailJUMLAH" name="txtUpdateDetailJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_GROSS_UP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_GROSS_UP)
                        {
                            <input id="txtUpdateDetailJUMLAH_GROSS_UP" name="txtUpdateDetailJUMLAH_GROSS_UP" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_GROSS_UP)" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailJUMLAH_GROSS_UP" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_GROSS_UP)" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.KETERANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.KETERANGAN)
                        {
                            <textarea id="txtUpdateDetailKETERANGAN" name="txtUpdateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;">@data.KETERANGAN</textarea>
                        }
                        else
                        {
                            <textarea id="txtUpdateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;">@data.KETERANGAN</textarea>
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_PPH)
                        {
                            <input id="txtUpdateDetailJUMLAH_PPH" name="txtUpdateDetailJUMLAH_PPH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_PPH)" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailJUMLAH_PPH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_PPH)" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JENIS_PPH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JENIS_PPH)
                        {
                            <input id="txtUpdateDetailJENIS_PPH" name="txtUpdateDetailJENIS_PPH" type="text" class="form-control" maxlength="50" value="@data.JENIS_PPH" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailJENIS_PPH" type="text" class="form-control" maxlength="50" value="@data.JENIS_PPH" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH_NET</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH_NET)
                        {
                            <input id="txtUpdateDetailJUMLAH_NET" name="txtUpdateDetailJUMLAH_NET" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_NET)" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailJUMLAH_NET" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH_NET)" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NOMOR_REKENING</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NOMOR_REKENING)
                        {
                            <input id="txtUpdateDetailNOMOR_REKENING" name="txtUpdateDetailNOMOR_REKENING" type="text" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailNOMOR_REKENING" type="text" class="form-control" maxlength="20" value="@data.NOMOR_REKENING" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_REKENING_PENERIMA</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_REKENING_PENERIMA)
                        {
                            <input id="txtUpdateDetailNAMA_REKENING_PENERIMA" name="txtUpdateDetailNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailNAMA_REKENING_PENERIMA" type="text" class="form-control" maxlength="100" value="@data.NAMA_REKENING_PENERIMA" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_BANK</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_BANK)
                        {
                            <input id="txtUpdateDetailNAMA_BANK" name="txtUpdateDetailNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailNAMA_BANK" type="text" class="form-control" maxlength="100" value="@data.NAMA_BANK" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO_KTP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO_KTP)
                        {
                            <input id="txtUpdateDetailNO_KTP" name="txtUpdateDetailNO_KTP" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="16" value="@data.NO_KTP" />
                        }
                        else
                        {
                            <input id="txtUpdateDetailNO_KTP" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="16" value="@data.NO_KTP" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnUpdateDetail">Save</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="CancelDetail()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formUpdateDetail').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtUpdateDetailTANGGAL: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailBENTUK_DAN_JENIS_BIAYA: {
                    validators: {
                        notEmpty: {
                            message: '@header.BENTUK_DAN_JENIS_BIAYA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailJUMLAH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailJUMLAH_GROSS_UP: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_GROSS_UP is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailKETERANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.KETERANGAN is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailJUMLAH_PPH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_PPH is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailJENIS_PPH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JENIS_PPH is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailJUMLAH_NET: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH_NET is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailNOMOR_REKENING: {
                    validators: {
                        notEmpty: {
                            message: '@header.NOMOR_REKENING is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailNAMA_REKENING_PENERIMA: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_REKENING_PENERIMA is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailNAMA_BANK: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_BANK is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateDetailNO_KTP: {
                    validators: {
                        stringLength: {
                            max: 16,
                            min: 16,
                            message: '@header.NO_KTP must be 16 characters'
                        },
                        notEmpty: {
                            message: '@header.NO_KTP is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtUpdateDetailTANGGAL"]').on('blur', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailTANGGAL');
        });

        $('#dtUpdateDetailTANGGAL').on('dp.change dp.show', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailTANGGAL');
        });

        $('[name="txtUpdateDetailJUMLAH"]').on('blur', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailJUMLAH');
        });

        $('[name="txtUpdateDetailJUMLAH_GROSS_UP"]').on('blur', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailJUMLAH_GROSS_UP');
        });

        $('[name="txtUpdateDetailJUMLAH_PPH"]').on('blur', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailJUMLAH_PPH');
        });

        $('[name="txtUpdateDetailJUMLAH_NET"]').on('blur', function (e) {
            $('#formUpdateDetail').bootstrapValidator('revalidateField', 'txtUpdateDetailJUMLAH_NET');
        });
    });

    $("#btnUpdateDetail").click(function () {
        var validator = $('#formUpdateDetail').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var txtTanggal = $("#txtUpdateDetailTANGGAL").val().split("-");
            var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

            var dataPromotionDetail = {
                PROMOTION_DETAIL_ID: $("#hdPROMOTION_DETAIL_ID").val(),
                TANGGAL: Tanggal,
                BENTUK_DAN_JENIS_BIAYA: $("#txtUpdateDetailBENTUK_DAN_JENIS_BIAYA").val(),
                JUMLAH: $("#txtUpdateDetailJUMLAH").val().replaceAll(",", ""),
                JUMLAH_GROSS_UP: $("#txtUpdateDetailJUMLAH_GROSS_UP").val().replaceAll(",", ""),
                KETERANGAN: $("#txtUpdateDetailKETERANGAN").val(),
                JUMLAH_PPH: $("#txtUpdateDetailJUMLAH_PPH").val().replaceAll(",", ""),
                JENIS_PPH: $("#txtUpdateDetailJENIS_PPH").val(),
                JUMLAH_NET: $("#txtUpdateDetailJUMLAH_NET").val().replaceAll(",", ""),
                NOMOR_REKENING: $("#txtUpdateDetailNOMOR_REKENING").val(),
                NAMA_REKENING_PENERIMA: $("#txtUpdateDetailNAMA_REKENING_PENERIMA").val(),
                NAMA_BANK: $("#txtUpdateDetailNAMA_BANK").val(),
                NO_KTP: $("#txtUpdateDetailNO_KTP").val(),
                Promotion:
                {
                    PROMOTION_ID: $("#hdPROMOTION_ID").val(),
                    DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                    THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                    NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                    TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                    TGL_PENANDATANGAN: tglPenandatangan,
                    JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                    NO: GetValue($("#txtCreateNO").val(), $("#txtUpdateNO").val(), $("#txtDeleteNO").val()),
                    NAMA: GetValue($("#txtCreateNAMA").val(), $("#txtUpdateNAMA").val(), $("#txtDeleteNAMA").val()),
                    NPWP: GetValue($("#txtCreateNPWP").val(), $("#txtUpdateNPWP").val(), $("#txtDeleteNPWP").val()),
                    ALAMAT: GetValue($("#txtCreateALAMAT").val(), $("#txtUpdateALAMAT").val(), $("#txtDeleteALAMAT").val())
                }
            };

            $.ajax({
                type: "POST",
                url: URLUpdateDetail,
                data: {
                    data: JSON.stringify(dataPromotionDetail)
                },
                beforeSend: function () {
                    $('#btnUpdateDetail').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnUpdateDetail').button('reset');
                    CancelDetail();
                    onGetDetail(1, false);
                    onGet(1);
                }
            });
        }
    });
</script> 