﻿@using TAM.EFaktur.Web.Models.Promotion
@using TAM.EFaktur.Web.Models

@{
    List<Promotion> list = (List<Promotion>)ViewData["List"];
    Paging _page = (Paging)ViewData["Paging"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}

<div id="gridPromotion">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="PromotionTable">
            <thead>
                <tr>
                    <th class="fixed-column"></th>
                    <th onclick="sortItemPromotion(1)" style="cursor:pointer">@header.NO &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemPromotion(2)" style="cursor:pointer">@header.NAMA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemPromotion(3)" style="cursor:pointer">@header.NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemPromotion(4)" style="cursor:pointer">@header.ALAMAT &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (list != null && list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        <tr>
                            <td class="text-center fixed-column">
                                <a href="javascript:void(0);" id="btnEditHeader_@item.PROMOTION_ID" onclick="ShowEditHeader('@item.PROMOTION_ID')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                @if (ViewBag.IsManual == "True")
                                {
                                    <a href="javascript:void(0);" id="btnDeleteHeader_@item.PROMOTION_ID" onclick="ShowDeleteHeader('@item.PROMOTION_ID')" class="btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                }
                            </td>
                            <td>@item.NO</td>
                            <td>@item.NAMA</td>
                            <td>@item.NPWP</td>
                            <td style="white-space: pre-wrap;">@item.ALAMAT</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @if (_page != null)
            {
                <input id="txtMaxPagePromotion" type="text" class="hidden" />

                <script type="text/javascript" language="javascript">
                $("#txtMaxPagePromotion").val(@_page.CountPage);
                $("#countTotalItemsPromotion").html(@_page.CountData);
                </script>
                if (_page.CountData > 0)
                {
                    <ul class="pagination pagination-sm hidden-xs" style="margin-top: 0;">
                        <li><span class="_pagination-label">Showing @_page.StartData to @_page.ActualEndData of @_page.CountData row(s)</span></li>
                        <li><a href="javascript: onCallbackPromotion(@_page.First)">First</a></li>
                        <li><a href="javascript: onCallbackPromotion(@_page.Prev)">Prev</a></li>
                        @for (int p = 1; p <= @_page.CountPage; p++)
                        {
                            if ((p >= @_page.MinPage) && (p <= @_page.MaxPage))
                            {
                                if (@p == _page.PositionPage)
                                {
                                    <li class="active"><a href="javascript: onCallbackPromotion(@p)">@p</a></li>
                                }
                                else
                                {
                                    <li><a href="javascript: onCallbackPromotion(@p)">@p</a></li>
                                }
                            }
                        }
                        <li><a href="javascript: onCallbackPromotion(@_page.Next)">Next</a></li>
                        <li><a href="javascript: onCallbackPromotion(@_page.Last)">Last</a></li>
                        <li><span class="_pagination-empty"></span></li>
                        <li>
                            <span class="_pagination-goto">
                                <input type="text" class="_number-only" maxlength="4" id="txtgoPromotion" />
                            </span>
                        </li>
                        <li>
                            <span class="_pagination-goto">
                                <button id="btngoPromotion" type="button" class="_btn-go" onclick="javascript: onCallbackPromotion($('#txtgoPromotion').val());">Go</button>
                            </span>
                        </li>
                    </ul>

                    <div class="visible-xs text-center">
                        <div class="col-xs-12">
                            <span>Showing @_page.StartData to @_page.EndData of @_page.CountData row(s)</span>
                        </div>
                        <div class="col-xs-12">
                            <ul class="pagination pagination-sm">
                                <li><a href="javascript: onCallbackPromotion(@_page.First)">First</a></li>
                                <li><a href="javascript: onCallbackPromotion(@_page.Prev)">Prev</a></li>

                                @for (int p = 1; p <= @_page.CountPage; p++)
                                {
                                    if ((p >= @_page.MinPage) && (p <= @_page.MaxPage))
                                    {
                                        if (@p == _page.PositionPage)
                                        {
                                            <li class="active">
                                                <a href="javascript: onCallbackPromotion(@p)">@p</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="javascript: onCallbackPromotion(@p)">@p</a>
                                            </li>
                                        }
                                    }
                                }

                                <li><a href="javascript: onCallbackPromotion(@_page.Next)">Next</a></li>
                                <li><a href="javascript: onCallbackPromotion(@_page.Last)">Last</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4">
                            <div class="input-group">
                                <input id="txtgoPromotion" type="text" class="form-control _number-only" maxlength="4" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning" id="btngoPromotion" onclick="javascript: onCallbackPromotion($('#txtgoPromotion').val());">Go</button>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                @if (ViewBag.IsManual == "True")
                {
                    <button type="button" class="btn btn-primary" id="btnSubmit" onclick="Submit()">Submit</button>
                }
                <button type="button" class="btn btn-default" id="btnBack" onclick="BackToList()">Back To List</button>
            </div>
        </div>
    </div>
</div>