﻿@using TAM.EFaktur.Web.Models.Promotion

@{
    List<PromotionDetail> list = (List<PromotionDetail>)ViewData["ListDetail"];
    var header = (PromotionHeaderTemplate)ViewData["Header"];
}
<div id="gridPromotionDetail">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="PromotionTable">
            <thead>
                <tr>
                    @if (ViewBag.IsDelete == false)
                    {
                        if (ViewBag.IsManual == "True")
                        {
                            <th class="fixed-column"></th>
                        }
                    }
                    <th onclick="sortItem(1)" style="cursor:pointer">@header.TANGGAL &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">@header.BENTUK_DAN_JENIS_BIAYA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">@header.JUMLAH &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">@header.JUMLAH_GROSS_UP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">@header.KETERANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">@header.JUMLAH_PPH &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">@header.JENIS_PPH &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(8)" style="cursor:pointer">@header.JUMLAH_NET &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(9)" style="cursor:pointer">@header.NOMOR_REKENING &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(10)" style="cursor:pointer">@header.NAMA_REKENING_PENERIMA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(11)" style="cursor:pointer">@header.NAMA_BANK &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(12)" style="cursor:pointer">@header.NO_KTP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (list != null && list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        <tr>
                            @if (ViewBag.IsDelete == false)
                            {
                                if (ViewBag.IsManual == "True")
                                {
                                    <td class="text-center fixed-column">
                                        <a href="javascript:void(0);" id="btnEditDetail_@item.PROMOTION_DETAIL_ID" onclick="ShowEditDetail('@item.PROMOTION_DETAIL_ID')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" id="btnDeleteDetail_@item.PROMOTION_DETAIL_ID" onclick="ShowDeleteDetail('@item.PROMOTION_DETAIL_ID')" class="btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                }
                            }
                            <td>@string.Format("{0:dd-MM-yyyy}", item.TANGGAL)</td>
                            <td>@item.BENTUK_DAN_JENIS_BIAYA</td>
                            <td>@string.Format("{0:n0}", item.JUMLAH)</td>
                            <td>@string.Format("{0:n0}", item.JUMLAH_GROSS_UP)</td>
                            <td>@item.KETERANGAN</td>
                            <td>@string.Format("{0:n0}", item.JUMLAH_PPH)</td>
                            <td>@item.JENIS_PPH</td>
                            <td>@string.Format("{0:n0}", item.JUMLAH_NET)</td>
                            <td>@item.NOMOR_REKENING</td>
                            <td>@item.NAMA_REKENING_PENERIMA</td>
                            <td>@item.NAMA_BANK</td>
                            <td>@item.NO_KTP</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>