﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create New Menu-Role</h4>
    <hr />

    <form role="form" class="form-horizontal" id="InputMenuRoleForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlRolePopup" name="RoleCode" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Menu Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlMenuPopup" name="MenuCode" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Button Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtButtonName" name="ButtonName" type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    getDropdownData(URLDropdownRole, "ddlRolePopup");
    getDropdownData(URLDropdownMenu, "ddlMenuPopup");

   
    $(document).ready(function () {
        $('#InputMenuRoleForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                RoleCode: {
                    validators: {
                        notEmpty: {
                            message: 'Role Code is required and can\'t be empty'
                        }
                    }
                },
                MenuCode: {
                    validators: {
                        notEmpty: {
                            message: 'Menu Code is required and can\'t be empty'
                        }
                    }
                },
                ButtonName: {
                    validators: {
                        notEmpty: {
                            message: 'Button Name is required and can\'t be empty'
                        }
                    }
                }

            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });


    //Ajax POST/GET Method

    function onSubmit() {
        MenuRole = {
            RoleId: $("#ddlRolePopup").val(),
            MenuId: $("#ddlMenuPopup").val(),
            ButtonName: $("#txtButtonName").val(),
        };
        $.ajax({
            type: "POST",
            url: URLSave,
            data: {
                data: JSON.stringify(MenuRole)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
              
            }
        });
    }

</script>