﻿@using TAM.EFaktur.Web.Models.Master_MenuRole
@using TAM.EFaktur.Web.Models

@{
    MenuRole MenuRole = (MenuRole)ViewData["DeleteMenuRole"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title"><center>Are you sure remove this data ?</center></h4>
    <hr />

    <form role="form" class="form-horizontal" id="InputUserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role Code</label>
                    <input type="hidden" value="@MenuRole.Id" id="hiddenId" />
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlRolePopup" class="form-control" disabled>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Menu Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlMenuPopup" class="form-control" disabled >
                            <option></option>
                        </select>
                   </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Button Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtButtonName" type="text" class="form-control" value="@MenuRole.ButtonName" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    getDropdownData(URLDropdownRole, "ddlRolePopup", "@MenuRole.RoleId");
    getDropdownData(URLDropdownMenu, "ddlMenuPopup", "@MenuRole.MenuId");

    $("#btnSave").click(function () {
        
        MenuRole = {
            Id: $("#hiddenId").val(),
            ConfigKey: $("#txtConfigKeyCreate").val(),
            configValue: $("#txtConfigValueCreate").val(),
        };
        onSubmit();
    });

    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(MenuRole)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }
</script>