﻿@using TAM.EFaktur.Web.Models.Master_MenuRole
@using TAM.EFaktur.Web.Models

@{
    List<MenuRoleDashboardViewModel> MenuRoleList = (List<MenuRoleDashboardViewModel>)ViewData["MenuRoleListDashboard"];
}

<div id="gridMenuRole">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:70px;"></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Role Code</th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Menu Code</th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Menu Name</th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Button Name</th>
                </tr>
            </thead>
            <tbody>
                @if (MenuRoleList != null && MenuRoleList.Count > 0)
                {
                    foreach (MenuRoleDashboardViewModel MenuRole in MenuRoleList)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("PopupUpdateMenuRole", "Master_MenuRole", new { Id = @MenuRole.Id })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                <a href="@Url.Action("PopupDeleteMenuRole", "Master_MenuRole", new { Id = @MenuRole.Id })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>@MenuRole.RoleCode</td>
                            <td>@MenuRole.MenuCode</td>
                            <td>@MenuRole.MenuName</td>
                            <td>@MenuRole.ButtonName</td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>



