﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxInvoiceDateFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxInvoiceDateTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlInvoiceStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtInvoiceNumber" type="text" class="form-control" readonly />
                        <input id="lookupInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierName" type="text" class="form-control" readonly />
                        <input id="lookupSupplierName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupSupplierName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierNPWP" type="text" class="form-control" placeholder="00.000.000.0-000.000" readonly />
                        <input id="lookupSupplierNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupSupplierNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Period Month</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlMasa">
                        <option value=""></option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Period Year</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTahun"></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Recorded By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordedBy" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTransitoryStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTransitoryNumber" type="text" class="form-control" readonly />
                        <input id="lookupTransitoryNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupTransitoryNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Batch File Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtBatchFileName" type="text" class="form-control" readonly />
                        <input id="lookupBatchFileName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupBatchFileName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>@*tutup div disini ganti baris*@
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxInvoiceNumber" type="text" class="form-control" placeholder="000.000-00.00000000" readonly />
                        <input id="lookupTaxInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupTaxInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxInvoiceType" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Remark</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @*<div class="input-group input-group input-group-xs">
                              <input id="txtRemark" type="text" class="form-control" readonly />
                              <input id="lookupRemark" type="hidden" />
                              <span class="input-group-btn">
                                  <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupRemark" })"><i class="fa fa-search"></i></a>
                              </span>
                        </div>*@<!-- /input-group -->
                    <select class="form-control" id="ddlRemark" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtPVNumber" type="text" class="form-control" readonly />
                        <input id="lookupPVNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupPVNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Created By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @*<div class="input-group input-group input-group-xs">
                            <input id="txtPVCreatedBy" type="text" class="form-control" readonly />
                            <input id="lookupPVCreatedBy" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupPVCreatedBy" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>*@<!-- /input-group -->
                    <select class="form-control" id="ddlPvCreateBy" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP Document Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSAPDocNumber" type="text" class="form-control" readonly />
                        <input id="lookupSAPDocNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupSAPDocNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Posting Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtPostingDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtPostingDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlApprovalStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Description</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtApprovalDescription" type="text" class="form-control" readonly />
                        <input id="lookupApprovalDescription" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupApprovalDescription" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlDownloadStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Based GL Account</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtRelatedGLAccount" type="text" class="form-control" readonly />
                        <input id="lookupRelatedGLAccount" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATIn", new { Id = "lookupRelatedGLAccount" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Days to Expired</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATBaseAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtVATBaseAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtVATAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PPnBM</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlPPnBM">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtPPnBM" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Based Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATDppOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtVATDpp" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //Clear TextBox
    var start = new Date().getFullYear() - 20;
    var end = new Date().getFullYear() + 20;
    var options = "<option value=\"\"></option>";
    for (var year = start ; year <= end; year++) {
        options += "<option value=\"" + year + "\">" + year + "</option>";
    }
    document.getElementById("ddlTahun").innerHTML = options;

    function clearTextBox() {
       document.getElementById("txtTaxInvoiceDateFrom").value = "";
        document.getElementById("txtTaxInvoiceDateTo").value = "";
        document.getElementById("txtReceiveFileDateFrom").value = "";
        document.getElementById("txtReceiveFileDateTo").value = "";
        document.getElementById("txtReceiveFileTimeFrom").value = "";
        document.getElementById("txtReceiveFileTimeTo").value = "";
        document.getElementById("txtTransitoryDateFrom").value = "";
        document.getElementById("txtTransitoryDateTo").value = "";
        document.getElementById("txtDownloadDateFrom").value = "";
        document.getElementById("txtDownloadDateTo").value = "";
        document.getElementById("txtRecordDateFrom").value = "";
        document.getElementById("txtRecordDateTo").value = "";
        document.getElementById("txtApprovalDateFrom").value = "";
        document.getElementById("txtApprovalDateTo").value = "";
        document.getElementById("txtTaxInvoiceNumber").value = "";
        document.getElementById("lookupTaxInvoiceNumber").value = "";
        document.getElementById("txtSupplierNPWP").value = "";
        document.getElementById("lookupSupplierNPWP").value = "";
        document.getElementById("txtSupplierName").value = "";
        document.getElementById("lookupSupplierName").value = "";
        document.getElementById("ddlRecordedBy").value = "";
        document.getElementById("ddlTaxInvoiceType").value = "";
        document.getElementById("ddlRecordStatus").value = "";
        document.getElementById("ddlTransitoryStatus").value = "";
        document.getElementById("ddlDownloadStatus").value = "";
        document.getElementById("ddlApprovalStatus").value = "";
        document.getElementById("ddlVATBaseAmountOperator").value = "";
        document.getElementById("txtVATBaseAmount").value = "";
        document.getElementById("ddlVATAmountOperator").value = "";
        document.getElementById("txtVATAmount").value = "";
        document.getElementById("txtBatchFileName").value = "";
        document.getElementById("lookupBatchFileName").value = "";
        document.getElementById("txtPVNumber").value = "";
        document.getElementById("txtTransitoryNumber").value = "";
        document.getElementById("txtApprovalDescription").value = "";
        document.getElementById("txtPostingDateFrom").value = "";
        document.getElementById("txtPostingDateTo").value = "";
        document.getElementById("txtRelatedGLAccount").value = "";
        //document.getElementById("txtPVCreatedBy").value = "";
        document.getElementById("txtInvoiceNumber").value = "";
        document.getElementById("txtSAPDocNumber").value = "";
        //document.getElementById("txtRemark").value = "";
        document.getElementById("ddlMasa").value = "";
        document.getElementById("ddlTahun").value = "";
        document.getElementById("txtPPnBM").value = "";
        document.getElementById("ddlPPnBM").value = "";
        document.getElementById("lookupInvoiceNumber").value = "";
        document.getElementById("lookupTransitoryNumber").value = "";
        document.getElementById("lookupPVNumber").value = "";
        document.getElementById("lookupSAPDocNumber").value = "";
        document.getElementById("lookupApprovalDescription").value = "";
        document.getElementById("lookupRelatedGLAccount").value = "";

        $("#ddlInvoiceStatus").multiselect("clearSelection");
        document.getElementById("lookupIdddlInvoiceStatus").value = "";
        document.getElementById("lookupNameddlInvoiceStatus").value = "";

        $("#ddlRecordedBy").multiselect("clearSelection");
        document.getElementById("lookupIdddlRecordedBy").value = "";
        document.getElementById("lookupNameddlRecordedBy").value = "";


        $('#ddlTaxInvoiceType').multiselect('clearSelection');
        document.getElementById("lookupIdddlTaxInvoiceType").value = "";
        document.getElementById("lookupNameddlTaxInvoiceType").value = "";

        $('#ddlTransitoryStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlTransitoryStatus").value = "";
        document.getElementById("lookupNameddlTransitoryStatus").value = "";

        $('#ddlRecordStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlRecordStatus").value = "";
        document.getElementById("lookupNameddlRecordStatus").value = "";

        $('#ddlDownloadStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlDownloadStatus").value = "";
        document.getElementById("lookupNameddlDownloadStatus").value = "";

        $('#ddlApprovalStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlApprovalStatus").value = "";
        document.getElementById("lookupNameddlApprovalStatus").value = "";

        $('#ddlRemark').multiselect('clearSelection');
        document.getElementById("lookupIdddlRemark").value = "";
        document.getElementById("lookupNameddlRemark").value = "";

        $('#ddlPvCreateBy').multiselect('clearSelection');
        document.getElementById("lookupIdddlPvCreateBy").value = "";
        document.getElementById("lookupNameddlPvCreateBy").value = "";
    }
</script>
