﻿@using TAM.EFaktur.Web.Models.VATIn
@using TAM.EFaktur.Web.Models

@{
    List<VATInDashboardViewModel> VATInList = (List<VATInDashboardViewModel>)ViewData["VATInListDashboard"];
}

<div class="table-responsive _table-flow">
    <table class="table table-striped table-bordered table-condensed fixed-columns" id="DashboardVATIn" style="width: auto !important;">
        <thead>
            <tr>
                <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                <th class="fixed-column _col" onclick="sortItem(1)" style="cursor:pointer">Tax Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(2)" style="cursor:pointer">Invoice Status&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(3)" style="cursor:pointer">Supplier Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(4)" style="cursor:pointer">Supplier NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(5)" style="cursor:pointer">VAT Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(6)" style="cursor:pointer">VAT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(33)" style="cursor:pointer">PPnBM &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(7)" style="cursor:pointer">Tax Invoice Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(8)" style="cursor:pointer">Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(9)" style="cursor:pointer">Tax Period Month&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(10)" style="cursor:pointer">Tax Period Year&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(11)" style="cursor:pointer">Days To Expired &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(12)" style="cursor:pointer">Tax Invoice Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(13)" style="cursor:pointer">Remark&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(14)" style="cursor:pointer">Record Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(15)" style="cursor:pointer">Recorded By &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(16)" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th>Receive File Time</th>
                <th onclick="sortItem(17)" style="cursor:pointer">PV Number&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(18)" style="cursor:pointer">PV Created By&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(19)" style="cursor:pointer">SAP Doc Number&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(20)" style="cursor:pointer">Posting Date&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(21)" style="cursor:pointer">Download Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(22)" style="cursor:pointer">Download Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(23)" style="cursor:pointer">Record Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                @*<th onclick="sortItem(24)" style="cursor:pointer">Record Date&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                <th onclick="sortItem(24)" style="cursor:pointer">Approval Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(25)" style="cursor:pointer">Approval Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(26)" style="cursor:pointer">Approval Description&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(27)" style="cursor:pointer">Transitory Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(28)" style="cursor:pointer">Transitory Number&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(29)" style="cursor:pointer">Transitory Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(30)" style="cursor:pointer">VAT Based GL Account&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(31)" style="cursor:pointer">Link DJP&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(32)" style="cursor:pointer">Batch File Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            @if (VATInList != null && VATInList.Count > 0)
            {
                foreach (VATInDashboardViewModel VATIn in VATInList)
                {
                    <tr>
                        <td class="text-center fixed-column">
                            <input id="@string.Format("chkGrid{0}", VATIn.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                            <input type="hidden" class="VATInId" value="@VATIn.Id" />
                        </td>
                        <td class="fixed-column">@VATIn.NomorFaktur</td>
                        <td class="fixed-column InvoiceStatus">@VATIn.StatusInvoice</td>
                        <td class="fixed-column">@VATIn.NamaPenjual</td>
                        <td>@VATIn.NPWPPenjual</td>
                        <td class="text-right">@VATIn.JumlahDPP.FormatViewCurrency()</td>
                        <td class="text-right">@VATIn.JumlahPPN.FormatViewCurrency()</td>
                        <td class="text-right">@VATIn.JumlahPPnBM.FormatViewCurrency()</td>
                        <td>@VATIn.TanggalFaktur.FormatViewDate()</td>
                        <td>@VATIn.NomorInvoice</td>
                        <td>
                            @if (VATIn.TAXPeriodMonth == null)
                            {
                                @VATIn.TAXPeriodMonth
                            }
                            else if (VATIn.TAXPeriodMonth.Length == 1)
                            {
                                @String.Format("{0}{1}", "0", VATIn.TAXPeriodMonth);
                            }
                            else
                            {
                                @VATIn.TAXPeriodMonth
                            }
                        </td>
                        <td>@VATIn.TAXPeriodYear</td>
                        <td>@VATIn.DaysExpired</td>
                        <td>@VATIn.FakturType</td>
                        <td>@VATIn.Remark</td>
                        <td>@VATIn.RecordTime.FormatViewDate()</td>
                        <td>@VATIn.Perekam</td>
                        <td>
                            @if (VATIn.SyncTime.HasValue)
                            { @Html.Raw(VATIn.SyncTime.Value.FormatViewDate());
                            }
                        </td>
                        <td>
                            @if (VATIn.SyncTime.HasValue)
                            { @Html.Raw(VATIn.SyncTime.Value.FormatViewTime());
                            }
                        </td>
                        <td>@VATIn.PVNumber</td>
                        <td>@VATIn.CreatedByPV</td>
                        <td>@VATIn.SAPDocNumber</td>
                        <td>@VATIn.PostingDate.FormatViewDate()</td>
                        <td class="fixed-column-hide VATInDownloadStatus">@VATIn.DownloadStatus</td>
                        <td>
                            @if (VATIn.CsvTime.HasValue)
                            { @Html.Raw(VATIn.CsvTime.Value.FormatViewDate());
                            }
                        </td>
                        <td>@VATIn.RecordStatus</td>
                        @*<td>@VATIn.CreatedOn.FormatViewDate()</td>*@
                        <td class="fixed-column-hide VATInApprovalStatus">@VATIn.ApprovalStatus</td>
                        <td>@VATIn.ApprovalTime.FormatViewDate()</td>
                        <td>@VATIn.ApprovalDescription</td>
                        <td class="fixed-column-hide TransitoryStatus">@VATIn.TransitoryStatus</td>
                        <td>@VATIn.TransitoryNumber</td>
                        <td>@VATIn.TransitoryDate.FormatViewDate()</td>
                        <td>@VATIn.RelatedGLAccount</td>
                        <td>
                            @if (VATIn.FileUrl != null && VATIn.FileUrl != "")
                            {
                                <a href="@VATIn.FileUrl" target="_blank">File URL</a>
                            }
                            else
                            {
                                <a href="#" target="_blank"></a>
                            }
                        </td>
                        <td>@VATIn.BatchFileName</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-12 bottom-margin-20">
        @Html.Partial("_UIPaging")
    </div>
</div>

<script>
    function pageurl(url)
    {
        window.Location = url;
    };
</script>