﻿@{
    ViewBag.Title = "VATInDashboard";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator")
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFunction("VATInManualInput") || Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "Delete") || Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DeleteDraft") || Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "SyncElvisVatin"))
            { 
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning" id="btnAction" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Action</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFunction("VATInManualInput"))
                        {
                            <li>@Html.ActionLink("Manual Input Non e-Faktur", null, "VATInManualInput", null, null)</li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DeleteDraft"))
                        {
                                <li><a style="cursor:pointer" onclick="DeleteDraft()">Delete VAT-In</a></li>
                        }
                        else if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "Delete"))
                        {
                            <li><a style="cursor:pointer" onclick="Delete()">Delete VAT-In</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadCSV") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadOriginal") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadReport"))
            {
                <div class="btn-group btn-group-sm">
                    <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadCSV"))
                        {
                            <li><a href="#" onclick="Download('csv')">Converted to .csv file</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadOriginal"))
                        {
                            <li><a href="#" onclick="Download('xls')">Original Data/File</a></li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "DownloadReport"))
                        {
                            <li><a href="#" onclick="Download('report')">Report</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadApprovalStatus") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTransitoryStatus") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTaxInvoice") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTaxInvoicePIB") ||
                 Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadAdjustmentMasaPajak"))
                 
            { 
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning">Upload</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTaxInvoice"))
                        {
                            <li>@Html.ActionLink("e-Faktur File", "PopupUploadEFakturFile", "VATIn", null, new { @class = "modal-link" })</li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTaxInvoicePIB"))
                        {
                            <li>@Html.ActionLink("e-Faktur File PIB", "PopupUploadEFakturFilePIB", "VATIn", null, new { @class = "modal-link" })</li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadAdjustmentMasaPajak"))
                        {
                            <li>@Html.ActionLink("Adjustment Masa Pajak", "PopupUploadMasaPajak", "VATIn", null, new { @class = "modal-link" })</li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadApprovalStatus"))
                        {
                            <li>@Html.ActionLink("Approval Status", "PopupUploadApprovalStatus", "VATIn", null, new { @class = "modal-link" })</li>
                        }
                        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATIn", "UploadTransitoryStatus"))
                        {
                            <li>@Html.ActionLink("Transitory Status", "PopupUploadTransitoryStatus", "VATIn", null, new { @class = "modal-link" })</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<div id="gridVATIn">
    @Html.Partial("_SimpleGrid")
</div>
@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {
            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });
        });
    </script>
}
@Html.Partial("_Javascript")