﻿@using TAM.EFaktur.Web.Models.Master_DataFieldEnum
@using TAM.EFaktur.Web.Models

@{
    DataFieldEnum User = (DataFieldEnum)ViewData["UpdateDataFieldEnum"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Data Fill Nominative</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateDataFieldEnumForm">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@User.DataFieldId" id="hiddenDataFieldId" />
                    <input type="hidden" value="@User.CategoryCode" id="hiddenCategoryCode" />
                    <input type="hidden" value="@User.FieldNameByTable" id="hiddenFieldNameByTable" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <label>@User.NominativeType</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Field Name by Table</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <label>@User.FieldNameByTable</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Field Name by Excel</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtFieldNameByExcelUpdate" name="FieldNameByExcel" type="text" class="form-control" value="@User.FieldNameByExcel" maxlength="200"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                    <div id="txtVendorGroupUpdate" class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlVendorGroupUpdate" class="form-control" multiple>
                        </select>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">    
    $(document).ready(function () {
        var vendorGroup = "@User.VendorGroup";
        getDropdownData(URLDropdownVendorGroup, "ddlVendorGroupUpdate", vendorGroup.split(";"));
        
        $('#UpdateDataFieldEnumForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                //name of field
                FieldNameByExcel: {
                    validators: {
                        notEmpty: {
                            message: 'Field Name by Excel is required and can\'t be empty'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });

    //Insert New User
    $("#btnSave").click(function () {
        //console.log("Apakah Masuk Sini ?");
        DataFieldEnum = {
            DataFieldId: $("#hiddenDataFieldId").val(),
            CategoryCode: $("#hiddenCategoryCode").val(),
            FieldNameByTable: $("#hiddenFieldNameByTable").val(),
            FieldNameByExcel: $("#txtFieldNameByExcelUpdate").val(),
            VendorGroup: $("#lookupIdddlVendorGroupUpdate").val()
        };
    });
    //Ajax POST/GET Method

    function onSubmit() {
        var isCloseModal = false;
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(DataFieldEnum)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    formData = new FormData(); // clear global variable
                    isCloseModal = true;
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                //$('#btnCancel').click();
                if (isCloseModal)
                    $('#btnCancel').click();
            }
        });
    }



</script>