﻿<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlCategory" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Field Name by Table</label>
                <div class="col-xs-12 col-sm-9 col-md-8">

                    <div class="input-group input-group input-group-xs">

                        <input id="txtFieldNamebyTable" type="text" class="form-control" readonly maxlength="100" />
                        <input id="lookupFieldNamebyTable" type="hidden" class="form-control" readonly />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupFieldNamebyTable" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
                </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Field Name by Excel</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtFieldNamebyExcel" type="text" class="form-control" readonly maxlength="200" />
                        <input id="lookupFieldNamebyExcel" type="hidden" class="form-control" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupFieldNamebyExcel" })"><i class="fa fa-search"></i></a>
                        </span>

                    </div>
                    </div>
                </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Group</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlVendorGroup" class="form-control" multiple>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">

        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="Text/Javascript">
    //Clear TextBox
    function clearTextBox() {
        document.getElementById("txtFieldNamebyTable").value = "";
        document.getElementById("lookupFieldNamebyTable").value = "";
        document.getElementById("txtFieldNamebyExcel").value = "";
        document.getElementById("lookupFieldNamebyExcel").value = "";

        //dropdown
        $("#ddlCategory").multiselect("clearSelection");
        document.getElementById("lookupIdddlCategory").value = "";
        document.getElementById("lookupNameddlCategory").value = "";

        $("#ddlVendorGroup").multiselect("clearSelection");
        document.getElementById("lookupIdddlVendorGroup").value = "";
        document.getElementById("lookupNameddlVendorGroup").value = "";
    }
</script>