﻿@using TAM.EFaktur.Web.Models.Master_DataFieldEnum
@{
    List<DataFieldEnum> DataFieldEnumList = (List<DataFieldEnum>)ViewData["UserListDashboard"];
}
<div id="gridMasterDataFieldEnum">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    @if (ViewBag.EditDataFillEnom == true)
                    {
                        <th class="fixed-column _col" style="width:12px">Edit</th>
                    }
                    <th onclick="sortItem(2)" style="cursor:pointer">Category &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Field Name by Table &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Field Name by Excel &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Vendor Group &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                </tr>
            </thead>
            <tbody>
                @if (DataFieldEnumList != null && DataFieldEnumList.Count > 0)
                {
                    foreach (var item in DataFieldEnumList)
                    {
                <tr>
                    <td class="text-center fixed-column">
                        <input id="@string.Format("chkGrid{0}", item.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                        <input type="hidden" class="DataFilldId" value="@item.DataFieldId" />
                    </td>

                    @if (ViewBag.EditDataFillEnom == true)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("PopupUpdateDataFieldEnum", "Master_DataFieldEnum", new { DataFieldId = item.DataFieldId })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                        </td>
                    }
                    <td>@item.NominativeType</td>
                    <td>@item.FieldNameByTable</td>
                    <td>@item.FieldNameByExcel</td>
                    <td>@item.VendorGroup</td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>