﻿@{
    ViewBag.Title = "Data Fill Nominative";
}

@section HeadScript{
    <style>
        ._SearchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right" font-size: 5px;>
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator") 
            &nbsp; 
            <button type="reset" class="btn btn-primary" onclick="Download()"> Download To Excel</button>
        </div>
    </div>
</div>


@Html.Partial("_SimpleGrid")


@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            //$(".btn-delete").click(function () {
            //    $("#delete-confirm").modal();
            //});



            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });


        });

    </script>
}
@Html.Partial("_Javascript")


