﻿<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">User Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtUserName" type="text" class="form-control" readonly />
                        <input id="lookupUserName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_User", new { Id = "lookupUserName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Email</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtEmail" type="text" class="form-control" readonly />
                        <input id="lookupEmail" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_User", new { Id = "lookupEmail" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Division</label>
                <div id="txtDivisionName" class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlDivision" class="form-control" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Role</label>
                <div id="txtRoleName" class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlRole" class="form-control" multiple>
                    </select>
                </div>
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">

        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                @Html.ActionLink("Create New User", "PopupCreateUser", "Master_User", null, new { @class = "modal-link btn btn-danger" })
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="Text/Javascript">
    //Clear TextBox
 function clearTextBox()
        {
     document.getElementById("txtUserName").value = "";
     document.getElementById("lookupUserName").value = "";
     document.getElementById("txtEmail").value = "";
     document.getElementById("lookupEmail").value = "";
     document.getElementById("txtDivisionName").value = "";
     document.getElementById("ddlDivision").value = "";
     document.getElementById("txtRoleName").value = "";
     document.getElementById("ddlRole").value = "";
     $('#ddlRole').multiselect('refresh');
     document.getElementById("lookupIdddlRole").value = "";
     document.getElementById("lookupNameddlRole").value = "";
     $('#ddlDivision').multiselect('refresh');
     document.getElementById("lookupIdddlDivision").value = "";
     document.getElementById("lookupNameddlDivision").value = "";
        }
</script>