﻿@using TAM.EFaktur.Web.Models.Master_User
@using TAM.EFaktur.Web.Models

@{
    List<UserViewModel> UserList = (List<UserViewModel>)ViewData["UserListDashboard"];
}
<div id="gridMasterUser">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Username &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Email &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th onclick="sortItem(3)" style="cursor:pointer">Division</th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Role</th>*@

                </tr>
            </thead>
            <tbody>
                @if (UserList != null && UserList.Count > 0)
                {
                    foreach (UserViewModel Master_User in UserList)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("PopupUpdateUser", "Master_User", new { Id = @Master_User.Id })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                <a href="@Url.Action("PopupDeleteUser", "Master_User", new { Id = @Master_User.Id })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>@Master_User.Username</td>
                            <td>@Master_User.Email</td>
                            @*<td>@Master_User.DivisionName</td>
                            <td>@Master_User.RoleName</td>*@

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>