﻿@{
    Layout = null;
    var title = "Masuk eFaktur";
    var passportUrl = TAM.Passport.TdkIntegrations.PassportSettingsAccessor.PassportUrl;
    var passportAppId = TAM.Passport.TdkIntegrations.PassportSettingsAccessor.PassportAppId;
    var ssoJsUrl = passportUrl + "/tam-sso.js";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>

    <!-- DEVELOPMENT -->
    <link href="/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/lib/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="/Content/lib/calendar/calendar.css" rel="Stylesheet" />
    <link href="/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="Stylesheet" />
    <link href="/Content/lib/jquery.fileupload/jquery.fileupload.css" rel="Stylesheet" />
    <link href="/Content/css/tdk.css" rel="stylesheet" />
    <link href="/Content/css/tdk-theme.css" rel="stylesheet" />
    <link href="/Content/css/custom.css" rel="stylesheet" />
    <!-- use sb-admin-2 theme -->
    <link rel="stylesheet" href="/Content/lib/sbAdmin/css/metisMenu.min.css" />
    <link rel="stylesheet" href="/Content/lib/sbAdmin/css/sb-admin-2.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/Content/lib/html5shiv.min.js"></script>
      <script type="text/javascript" src="/Content/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-login panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">eFaktur - Please sign in</h4></div>
                    <div class="panel-body">
                        <form method="post" role="form" id="login-form">
                            <div class="form-group">

                                Dev Only
                                <select id="ddlRole">
                                    <option value="eFaktur-PIC_TAX_VAT_OUT">PIC_TAX_VAT_OUT</option>
                                    <option value="eFaktur-PIC_TAX_VAT_IN">PIC_TAX_VAT_IN</option>
                                    <option value="eFaktur-PIC_TAX_WHT">PIC_TAX_WHT</option>
                                    <option value="eFaktur-PIC_SUMMARY_PAYMENT_AND_REPORTING">PIC_SUMMARY_PAYMENT_AND_REPORTING</option>
                                    <option value="eFaktur-PIC_REGISTER_TAX_FACILITY">PIC_REGISTER_TAX_FACILITY</option>
                                    <option value="eFaktur-PIC_TAX_VISUALIZATION_MS_STRATEGY">PIC_TAX_VISUALIZATION_MS_STRATEGY</option>
                                    <option value="eFaktur-DIVISION_HEAD">DIVISION_HEAD</option>
                                    <option value="eFaktur-ACCOUNTING_HEAD">ACCOUNTING_HEAD</option>
                                    <option value="eFaktur-TAX_HEAD">TAX_HEAD</option>
                                    <option value="eFaktur-FINANCING_HEAD">FINANCING_HEAD</option>
                                    <option value="eFaktur-PIC_AR">PIC_AR</option>
                                    <option value="eFaktur-PIC_AP">PIC_AP</option>
                                    <option value="eFaktur-EFAKTUR_SUPER_ADMIN">EFAKTUR_SUPER_ADMIN</option>
                                    <option value="eFaktur-USER_ADMIN_DIVISION">USER_ADMIN_DIVISION</option>

                                    @*<option value="eFaktur-ADMIN">ADMIN</option>
                                        <option value="eFaktur-PIC_LEXUS_AR">PIC_LEXUS_AR</option>
                                        <option value="eFaktur-USER_ADMIN_VAT_IN">USER_ADMIN_VAT_IN</option>
                                        <option value="eFaktur-TAX_VAT_IN">TAX_VAT_IN</option>
                                        <option value="eFaktur-USER_ADMIN_WHT">USER_ADMIN_WHT</option>*@
                                </select>

                                <button id="btnLogin" type="button" class="btn btn-primary btn-sm">Manual per Role Login</button>


                            </div>
                            <tam-sso server="@passportUrl" app="@passportAppId" auto-submit="login-form"></tam-sso>
                            <p>
                                @Html.ValidationMessage("TAMSignOnToken")
                            </p>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/Content/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/Content/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.bootstrap-growl.js"></script>
    <script type="text/javascript" src="/Content/js/utility.js"></script>
    <script type="text/javascript" src="/Content/js/message.js"></script>
    <script src="@ssoJsUrl"></script>


    <script>
        $('#btnLogin').click(function () {

            $.ajax({
                type: "POST",
                url: "/Login/RoleChanges",
                data: {
                    roleId: $("#ddlRole").val()
                },

                success: function (result) {
                    console.log(result);
                    if (result.ResultCode) {
                        $(window).attr('location', '/')
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log('Generate Print Error');
                        console.log("error: " + errorThrown);
                    }
                },

            });

        });

    </script>
</body>
</html>
