﻿/* Override bootstrap table-responsive 
   so that the responsiveness works in every viewport
*/
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table { 
    margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th, 
.table-responsive>.table>tbody>tr>th, 
.table-responsive>.table>tfoot>tr>th, 
.table-responsive>.table>thead>tr>td, 
.table-responsive>.table>tbody>tr>td, 
.table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}

/* End of Override bootstrap table-responsive*/

/* Table hover override */

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #ddd;
}

/* End of Table hover override */

/* textarea override */

textarea {
    resize: vertical;
}

/* end of textarea override */

.btn {
    margin-bottom:5px;
}


/* Custom CSS*/
.bottom-padding-30 {
    padding-bottom:30px;
}

.bottom-margin-20 {
    margin-bottom:20px;
}

.padding-right-5 {
    padding-right:5px;
}

.padding-5 {
    padding: 5px 5px 5px 5px;
}

.vertical-middle {
    vertical-align:middle;
}

/* Custom panel-login style */
.panel-login {
    margin-top: 35px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}
/* End of Custom panel-login*/

/* Custom for boostrap-multiselect */
.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* End of Custom for boostrap-multiselect */