﻿body 
{
    background-image: url("../img/skulls.png");   
    background-repeat: repeat;
}
.login-panel
{
    background-color: rgba(255,255,255,0.5);

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.login-panel > .panel-heading, .login-panel > .panel-footer
{
    background: transparent;
}
@media (min-width: 768px) {
    #_login-panel{
        width: 90%;
    }
}
@media (min-width: 992px) {
    #_login-panel{
        width: 70%;
    }
}