﻿@using Toyota.Common.Credential
@using Toyota.Common.Utilities

@{
    Layout = null;
    User user = Html.Toyota().Page.User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Html.Toyota().Page.Title</title>

    <!-- DEVELOPMENT -->
    <link href="@Url.Content("~/Content/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/lib/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/lib/bootstrap-validator/bootstrapValidator.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/lib/calendar/calendar.css")" rel="Stylesheet" />
    <link href="@Url.Content("~/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")" rel="Stylesheet" />
    <link href="@Url.Content("~/Content/lib/jquery.fileupload/jquery.fileupload.css")" rel="Stylesheet" />
    <link href="@Url.Content("~/Content/css/tdk.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/tdk-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- use sb-admin-2 theme -->
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/sbAdmin/css/metisMenu.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/sbAdmin/css/sb-admin-2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/bootstrap-multiselect/bootstrap-multiselect.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-colorpicker.css")" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="@Url.Content("~/Content/lib/html5shiv.min.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/Content/lib/respond.min.js")"></script>
    <![endif]-->

    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.maskedinput.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-3.3.1.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/lib/moment/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap-multiselect/bootstrap-multiselect.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/numeral/numeral.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap/js/bootstrap.bundle.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/ntc.js")"></script>
    @Html.Toyota().Initialize()

    @if (IsSectionDefined("HeadScript"))
    {
        @RenderSection("HeadScript")
    }
    <style>
            .scrollbar-notif {
                line-height: 1.2;
                overflow-x: hidden;
                overflow-y: auto;
                height: 180px;
                width: 210px;
                padding: 5px;
                font-size: 11.5px;
            }

                .scrollbar-notif a {
                    text-decoration: underline;
                }

                .scrollbar-notif::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-color: #f5576c;
                    border-radius: 0px;
                }

                .scrollbar-notif::-webkit-scrollbar {
                    width: 5px;
                    background-color: #f5576c;
                }

                .scrollbar-notif::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                    background-image: -webkit-linear-gradient(330deg, #000000 0%, #000000 100%);
                }
            /*#wrapper {
            padding-left: 100px;
        }*/
            .notif_link {
                text-decoration: none;
                color: white;
            }

                .notif_link:hover {
                    text-decoration: underline;
                    color: white;
                }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-red navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-xs" href="@Html.Toyota().Page.BaseUrl">@Html.Toyota().Application.Name</a>
                <a class="navbar-brand visible-xs-block" href="@Html.Toyota().Page.BaseUrl"><strong>@Html.Toyota().Application.Alias</strong></a>
            </div>
            <!-- /.navbar-header -->
            @*@if (!user.IsNull())
                {*@
            <ul class="nav navbar-top-links navbar-right navbar-red hidden-xs">
                @if (user.IsNull())
                {
                    <li><a href="#"><i class="fa fa-sign-in text-right"></i>Sign In</a></li>

                }
                else
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>  <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="min-width: 150px;">
                            <li><a href="@Html.Toyota().Page.LogoutActionUrl"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                        </ul>
                    </li>
                }
                <li style="vertical-align: middle;">
                    <button id="btTDK" type="button" class="btn btn-red">Hide Menu</button>
                </li>

            </ul>
            @*}*@
            <!-- /.navbar-top-links -->
        </nav>
        <!-- /.navbar top -->

        <nav class="navbar navbar-default navbar-static-top nav-collapse" role="navigation" style="margin-bottom: 0">
            <div class="visible-xs" style="width: 100%; height: 50px">&nbsp;</div><!-- add this div for fixed top navbar and static sidebar layout -->
            <div class="sidebar sidebar-nav-fixed" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <ul class="nav _sidebar-menu">
                            <li>
                                @if (!user.IsNull())
                                {
                                    <a href="#">
                                        <i class="fa fa-user fa-fw"></i> @user.Name&nbsp;<span class="fa arrow"></span>
                                    </a>
                                }
                                <ul id="user-login" class="nav nav-second-level">
                                    <li>
                                        @if (user.Roles.IsNotNullAndSizeMoreThan<Role>(0))
                                        {
                                            <a href="#" class="_sub-menu" data-parent="role-login"><i class="fa fa-info-circle fa-fw"></i>&nbsp;Your Role&nbsp;<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                @foreach (Role role in user.Roles.Distinct())
                                                {
                                                    <li>
                                                        <a href="#" class="_sub-menu" data-parent="role-login"><i class="fa fa-user fa-fw"></i>&nbsp;@role.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <a href="#" class="_sub-menu" data-parent="role-login"><i class="fa fa-ban fa-fw"></i>&nbsp;No Role Found</a>
                                        }
                                    </li>
                                    <li>
                                        <a href="@Html.Toyota().Page.LogoutActionUrl"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        @Html.Partial("tdk/UIMetisMenu")
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- /.navbar sidebar menu -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">@Html.Toyota().Page.Title</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            @*<div class="container-fluid">*@
            @RenderBody()
            @*</div>*@
        </div>
    </div>

    @Html.Partial("_ModalContainer")

    <div class="_gotop"><i class="fa fa-3x fa-chevron-up"></i></div>

    <script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap-validator/bootstrapValidator.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/sbAdmin/js/metisMenu.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/sbAdmin/js/sb-admin-2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.bootstrap-growl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/tdk.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/message.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery.fileupload/jquery.ui.widget.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery.fileupload/jquery.iframe-transport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/jquery.fileupload/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-notify.js")"></script>

    @if (IsSectionDefined("BodyScript"))
    {
        @RenderSection("BodyScript")
    }

    <script type="text/javascript">
        $(document).ready(function () {
            //for metis menu, menu expanded after page moved
            $("._sub-menu").click(function () {
                clickMenu(this);
            });

            if ($.cookie('parentMenu')) {
                var vparent = $.cookie('parentMenu');
                $("#" + vparent).addClass("in");
                $("#" + vparent).parent().addClass("active");
                $.removeCookie('parentMenu');
            }
            //end for metis menu
            //console.log("@Html.Toyota().Page.BaseUrl" + "/Notif/GetNotif")
            @*if("@Html.Toyota().Authorization.IsAuthorizedToAccessFunction("TaxReport")" == "True"){
                $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.BaseUrl" + "/Notif/GetNotif",
                    data: {
                    },
                    beforeSend: function () {
                        if (DEBUG) {
                            console.log('Check Notif Start');
                        }
                        $.notify({
                            icon: "/Content/img/warning48.png",
                            message: ''
                        }, {
                            icon_type: 'image',
                            template: '<div id="NotifLoading" data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" style="height:0;padding: 10px;">' +
                                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                                '<span style="display: block;margin-left: auto;margin-right: auto;width: 25%;" data-notify="icon"></span> ' +
                                '<span data-notify="title">{1}</span> ' +
                                '<div class="scrollbar-notif" style="text-align: center;display: block;display: table-cell;vertical-align: middle;"><span data-notify="message"><img src="/Content/img/loading.gif" style="width: 100px;" id="loadingImg"/><div id="msg"></div></span><div>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '</div>',
                            type: "danger",
                            allow_dismiss: false,
                            placement: {
                                from: "bottom",
                                align: "left"
                            },
                            delay: 0,
                            offset: 10,
                            onShow: function () {
                                this.css({
                                    'width': 'auto',
                                    'color': 'white',
                                    'background-color': 'red'
                                });
                                $('#NotifLoading').animate({ height: "250px" }, 100);
                            },
                            
                        });
                    },
                    success: function (result) {
                        if (result.ResultCode) {
                            if (result.ResultDesc != null) {
                                var pathurl = window.location.pathname.split("/");
                                var menu = pathurl[1];
                                 
                                    $.notify({
                                        icon: "/Content/img/warning48.png",
                                        message: result.ResultDesc,
                                        url: result.ResultDescs
                                    }, {
                                        icon_type: 'image',
                                            template: '<div   id="NotifPanel" data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" style="height:250px;padding: 10px;">' +
                                                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                                                    '<span style="display: block;margin-left: auto;margin-right: auto;width: 25%;" data-notify="icon"></span> ' +
                                                    '<span data-notify="title">{1}</span> ' +
                                                    '<div class="scrollbar-notif"><span data-notify="message">{2}</span><div>' +
                                                    '<div class="progress" data-notify="progressbar">' +
                                                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                                    '</div>' +
                                                '</div>',
                                        type: "danger",
                                        allow_dismiss: false,
                                        placement: {
                                            from: "bottom",
                                            align: "left"
                                        },
                                        delay: 0,
                                        offset: 10,
                                        onShow: function () {
                                            this.css({
                                                'width': 'auto',
                                                'color': 'white',
                                                'background-color': 'red'
                                            });
                                            $('#NotifLoading').animate({ height: "0" }, 100);
                                            $('#NotifPanel').animate({ bottom: "10", }, 300);
                                            $('#NotifLoading').hide(250);

                                        }
                                    });
                                 
                            }
                        }
                        if (DEBUG) {
                            console.log('Notif Checked');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (DEBUG) {
                            console.log("error: " + errorThrown);
                        }
                        $('#msg').text(errorThrown)
                    },
                    complete: function () {
                        if (DEBUG) {
                            console.log('Check Notif Done');
                        }
                        $('#loadingImg').hide()
                        $('#msg').text("Notification should be here")

                    }
                });
            }*@
            
        });

        //save menu id in cookie after menu click
        function clickMenu(obj) {
            var vparent = $(obj).attr("data-parent");
            $.cookie('parentMenu', vparent);
        }

        function _toggle_nav(_nav) {
            if (_nav.data("_pOpened")) {
                _nav.fadeOut(200);
                _nav.data("_pOpened", false);
            } else {
                _nav.fadeIn(200);
                _nav.data("_pOpened", true);
            }
        }

        var _nav = $("#_nav");
        _nav.data("_pOpened", false);
        $("._nav-toggle").click(function () { _toggle_nav(_nav); });
        $("._nav.float .close").click(function () { _toggle_nav(_nav); });

        var _window = $(window);
        var _windowHeight = _window.height();
        _window.scroll(function () {
            _window = $(this);
            if (_window.scrollTop() > _windowHeight) {
                _gotop.fadeIn("slow");
            } else {
                _gotop.fadeOut("slow");
            }
        });

        var _gotop = $("._gotop");

        _gotop.click(function () {
            window.scroll(0, 0);
        });

        var _wrapper = $("#page-wrapper");
        var _sidebar = $(".sidebar");
        $("#btTDK").click(function () {
            $this = $(this);
            if ($this.data("close")) {
                $this.removeClass("active");
                _sidebar.animate({
                    left: 0
                }, 200, "swing", function () { });
                _wrapper.animate({
                    marginLeft: 250
                }, 200, "swing", function () { });
                $this.data("close", false);
                $("#btTDK").text("Hide Menu");
            } else {
                $this.addClass("active");
                _sidebar.animate({
                    left: -250
                }, 200, "swing", function () { });
                _wrapper.animate({
                    marginLeft: 0
                }, 200, "swing", function () { });
                $this.data("close", true);
                $("#btTDK").text("Show Menu");
            }
        });

        //Freeze table js
        var freezeTable = {
            init: function () {
                $(document).find('.fixed-columns').each(function (i, elem) {
                    freezeTable.fixColumns(elem);
                });
            },

            fixColumns: function (table, columns) {
                var $table = $(table);
                $table.removeClass('fixed-columns');
                $table.css('overflow-y', 'hidden');
                $table.css('max-height', 'auto');
                $table.css('display', 'inline-block');

                var $fixedColumns = $table.clone().attr('id', $table.attr('id') + '-fixed').insertBefore($table).addClass('fixed-columns-fixed');

                $fixedColumns.find('*').each(function (i, elem) {
                    if ($(this).attr('id') !== undefined) {
                        $table.find("[id='" + $(this).attr("id") + "']").attr('id', $(this).attr('id') + '-hidden');
                    }
                    if ($(this).attr('name') !== undefined) {
                        $table.find("[name='" + $(this).attr("name") + "']").attr('name', $(this).attr('name') + '-hidden');
                    }
                });

                if (columns !== undefined) {
                    $fixedColumns.find('tr').each(function (x, elem) {
                        $(elem).find('th,td').each(function (i, elem) {
                            if (i >= columns) {
                                $(elem).remove();
                            }
                        });
                    });
                } else {
                    $fixedColumns.find('tr').each(function (x, elem) {
                        $(elem).find('th,td').each(function (i, elem) {
                            if ($(elem).hasClass('fixed-column')) {
                                $(elem).width($(elem).width());
                            } else if ($(elem).hasClass('fixed-column-hide')) {
                                $(elem).attr('style', 'display:none');
                            } else {
                                $(elem).remove();
                            }
                        });
                    });
                }

                $fixedColumns.find('tr').each(function (i, elem) {
                    $(this).height($table.find('tr:eq(' + i + ')').height());
                });
            }
        };

    </script>
</body>
</html>
