﻿<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="PageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-vertical-centered">
        <div class="modal-content">
            <!-- This content here will be dynamically populated by partial view -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->