﻿<label class="control-label text-muted">
    <b id="countCheckedItems">0</b> of <b id="countTotalItems">0</b> Record(s) selected
</label>

<script type="text/javascript">
    var checkedItemCount = 0;

    function checkGrid(chkID) {
        if (document.getElementById(chkID).checked) {
            checkedItemCount++;
        }
        else {
            $("#checkall").prop("checked", false);
            checkedItemCount--;
        }
        document.getElementById("countCheckedItems").innerHTML = checkedItemCount.toString();
    }

    function checkAll() {
        $(".check").prop("checked", $("#checkall").is(":checked"));
        if ($("#checkall").is(":checked")) {
            checkedItemCount = $('#countTotalItems').html();
        }
        else {
            checkedItemCount = 0;
        }
        document.getElementById("countCheckedItems").innerHTML = checkedItemCount.toString();
    }

    function clearCheckedItems() {
        checkedItemCount = 0;
        document.getElementById("countCheckedItems").innerHTML = checkedItemCount.toString();
    }
</script>