﻿@using TAM.EFaktur.Web.Models.ParameterSetup
@using TAM.EFaktur.Web.Models

@{
    List<ParameterSetupDashBoardViewModel> ParameterSetupList = (List<ParameterSetupDashBoardViewModel>)ViewData["ParameterSetupListDashboard"];
}

<div class="table-responsive _table-flow">
    <table class="table table-striped table-bordered table-condensed fixed-columns" id="DashboardParameterSetup" style="width: auto !important;">
        <thead>
            <tr>
                <th class="fixed-column _col-checkbox" width="35px"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                <th class="fixed-column _col">Edit &nbsp;&nbsp;&nbsp;</th>
                <th class="fixed-column _col">Delete &nbsp;&nbsp;&nbsp;</th>
                <th class="fixed-column _col" onclick="sortItem(15)" style="cursor:pointer">Module Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(1)" style="cursor:pointer">Parameter Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(2)" style="cursor:pointer">Parameter Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(3)" style="cursor:pointer;width:300px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parameter Value &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(16)" style="cursor:pointer">Deadline H+ &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(4)" style="cursor:pointer">From Field Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(14)" style="cursor:pointer">Business Unit &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(13)" style="cursor:pointer">Transaction Type Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(5)" style="cursor:pointer">Category Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(6)" style="cursor:pointer">Color &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                @*<th onclick="sortItem(17)" style="cursor:pointer">Color Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(7)" style="cursor:pointer">Icon &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                @*<th onclick="sortItem(8)" style="cursor:pointer">Note 1 &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(9)" style="cursor:pointer">Note 2 &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(10)" style="cursor:pointer">Note 3 &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(11)" style="cursor:pointer">Note 4 &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
        <th onclick="sortItem(12)" style="cursor:pointer">Note 5 &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
            </tr>
        </thead>
        <tbody>
            @if (ParameterSetupList != null && ParameterSetupList.Count > 0)
            {
                foreach (ParameterSetupDashBoardViewModel PSL in ParameterSetupList)
                {
            <tr>
                <td class="text-center fixed-column">
                    <input id="@string.Format("chkGrid{0}", PSL.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                    <input type="hidden" class="paramId" value="@PSL.Id" />
                </td>
                <td class="fixed-column"><button type="button" class="btn btn-primary fa fa-edit" 
                 onclick='onGetById("@PSL.Id")'></button>
                </td>
                <td class="fixed-column"><button type="button" id="btnDelete" class="btn btn-danger fa fa-trash"
        onclick='onDelete("@PSL.Id")'>
    
</button></td>
                
                <td class="fixed-column">@PSL.ModuleName</td>
                <td class="fixed-column">@PSL.ParameterCode</td>

                <td class="fixed-column">@PSL.ParameterName</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@PSL.ParameterValue</td>
                <td class="text-right">@PSL.ParameterDeadline</td>
                <td>@PSL.FromFieldName</td>
                <td>@PSL.BusinessUnit</td>
                <td>@PSL.TransactionCodeName</td>
                <td>@PSL.ParameterCategoryName</td>
                <td  style="background-color:@PSL.Color">@PSL.Color</td>
                @*<td>@PSL.ColorStatus</td>
                <td>@PSL.Icon</td>*@
                @*<td>@PSL.Note1</td>
                <td>@PSL.Note2</td>
                <td>@PSL.Note3</td>
                <td>@PSL.Note4</td>
                <td>@PSL.Note5</td>*@
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="31"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-12 bottom-margin-20">
        @Html.Partial("_UIPaging")
    </div>
</div>

