﻿

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }

        ._hidenew {
            display: none;
        }

        ._hidegrid {
            display: block;
        }
    </style>
}
<div class="_hidegrid">
    @{
        ViewBag.Title = "ParameterSetupDashboard";
    }
    @Html.Partial("_SearchCriteria")

    <div class="_line-br"></div>


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Partial("_UIPageSize")
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <div class="form-group form-group-xs">
                @Html.Partial("_UITotalSelectedIndicator")


                @*add button*@

                <div class="btn-group btn-group-sm">
                    <button type="button" id="newbutton" class="btn btn-primary">Add</button>

                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnDownload" onclick="Download()">
                        Download To Excel
                    </button>
                </div>

                @*batas add button*@



            </div>




        </div>
    </div>
    <div id="gridParameterSetup">
        @Html.Partial("_ParameterSetupGrid")
    </div>
</div>
    <div id="addParameterSetup" tabindex="-1" class="_hidenew" role="dialog">
        @Html.Partial("_AddParameterSetup")
    </div>

    @section BodyScript{
        <script type="text/javascript">
            function clearSearch() {
                alert("Hello! I am an alert box!!");
                $.post('@Url.Content("~/ParameterSetup/AddParameterSetup")', function (result) { });
            }

            $(document).ready(function () {

                $(".btn-edit").click(function () {
                    $("#edit-popup").modal();
                });

                $(".btn-delete").click(function () {
                    $("#delete-confirm").modal();
                });



                /* toggle show or hide searching criteria (that has class _searchCriteria) */
                $("#lnsearch-toggle").click(function () {
                    var _criteria = $("._searchCriteria");
                    _criteria.toggle(200, "linear");

                    var text = $("#lnsearch-toggle").text();
                    $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
                });

                $("#newbutton").click(function () {
                    ClearForm();
                    onChageModuleName();
                    $('#txtParameterCode2').attr('readonly', false);
                    var _criteria = $("._hidenew");
                    _criteria.toggle(200, "linear");

                    var _criteria2 = $("._hidegrid");
                    _criteria2.toggle(200, "linear");
                    $("#IdParam").val('00000000-0000-0000-0000-000000000000');
                    $("#ConditionStatus").val(0);
                    
                });


                //$("#btnSubmit").click(function () {
                //    var _criteria2 = $("._hidegrid");
                //    _criteria2.toggle(200, "linear");

                //    var _criteria = $("._hidenew");
                //    _criteria.toggle(200, "linear"); 
                //});


                /* toggle column on tablegrid (that <th> has class _toggle-detail) */
                //$("#btnToggleDetail").click(function () {
                //    var _detail = $("._toggle-detail");

                //    _detail.each(function () {
                //        pos = $(this).index();
                //        $(this).toggle();
                //        $("td:nth-child(" + (pos + 1) + ")").toggle();
                //    });
                //});
            });
        </script>
    }
    @Html.Partial("_Javascript")
