﻿@using TAM.EFaktur.Web.Models.Master_Role
@using TAM.EFaktur.Web.Models

@{
    List<MasterRoleDashboardViewModel> MasterRoleList = (List<MasterRoleDashboardViewModel>)ViewData["MasterRoleListDashboard"];
}


<div id="gridMasterRole">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead id="gridMasterRole">
                <tr>

                    <th style="width:70px;"></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Role Code</th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Role Name</th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Application Code</th>
                </tr>
            </thead>
            <tbody>
                @if (MasterRoleList != null && MasterRoleList.Count > 0)
                {
                    foreach (MasterRoleDashboardViewModel MasterRole in MasterRoleList)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("PopupUpdateRole", "Master_Role", new { Id = @MasterRole.Id })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                <a href="@Url.Action("PopupDeleteRole", "Master_Role", new { Id = @MasterRole.Id })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>@MasterRole.RoleCode</td>
                            <td>@MasterRole.RoleName</td>
                            <td>@MasterRole.ApplicationCode</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
