﻿@using TAM.EFaktur.Web.Models.Group_Nominative
@using TAM.EFaktur.Web.Models

@{ Nominative GroupNominative = (Nominative)ViewData["UpdateNominative"]; }

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update GL Account Nominative</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateNominativeForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@GroupNominative.NominativeId" id="hiddenId" />
                    <input type="hidden" value="@GroupNominative.CategoryCode" id="hiddenCategoryCode" />
                    <input type="hidden" value="@GroupNominative.Type" id="hiddenType" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlCategoryCodeUpdate" style="width: 270px;" name="ddlCategoryCodeUpdate" value="@GroupNominative.CategoryCode">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGLAccountUdpate" name="GLAccount" type="text" maxlength="30" class="form-control" value="@GroupNominative.GLAccount" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Account Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDescriptionTransactionUpdate" name="DescriptionTransaction" type="text" maxlength="200" class="form-control" value="@GroupNominative.DescriptionTransaction" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
               
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Type</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @*<select class="form-control" id="ddlTypeUpdate" style="width: 270px;" name="ddlTypeUpdate">
            <option value="">--Select--</option>
            <option value="Reguler">Reguler</option>
            <option value="Accrued">Accrued</option>
        </select>*@
                        <input id="txtType" type="text" name="txtType" value="Accrued & Reguler" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">


    $(document).ready(function () {
        //var getCategoryCode = $("#hiddenCategoryCode").val();
        var getCategoryCode = $("#hiddenCategoryCode").val();
        //var getType = $("#hiddenType").val();
        
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/GroupNominative/GetKategoriDropdown", "ddlCategoryCodeUpdate", getCategoryCode);

        //$("select#ddlTypeUpdate option").each(function () { this.selected = (this.text == getType); });

        $('#UpdateNominativeForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                ddlCategoryCodeUpdate: {
                    validators: {
                        notEmpty: {
                            message: 'Category  is required and can\'t be empty'
                        }
                    }
                },


                GLAccount: {
                    validators: {
                        notEmpty: {
                            message: 'GL Account is required and can\'t be empty'
                        }
                    }
                },
                DescriptionTransaction: {
                    validators: {
                        notEmpty: {
                            message: 'Account Name is required and can\'t be empty'
                        }
                    }
                },
                ddlTypeUpdate: {
                    validators: {
                        notEmpty: {
                            message: 'Type is required and can\'t be empty'
                        }
                    }
                }

            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                onSubmit();
            });
    });
    //Ajax POST/GET Method

    function onSubmit() {
        Config = {
            //var mdName = $("#ddlModuleName2 :selected").text();
            NominativeId: $("#hiddenId").val(),
            //CategoryCode: $("#txtCategoryCodeUpdate").val(),
            CategoryCode: $("#ddlCategoryCodeUpdate :selected").val(),
            GLAccount: $("#txtGLAccountUdpate").val(),
            DescriptionTransaction: $("#txtDescriptionTransactionUpdate").val(),
            //Type: $("#txtTypeUdpate").val()
            //Type: $("#ddlTypeUpdate :selected").text()
            Type: $('#txtType').val()
        };
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Config)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }

            }
        });
    }
</script>