﻿
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create GL Account Nominative</h4>
    <hr />

    <form role="form" class="form-horizontal" id="CreateNominativeForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                @*<div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Kategori</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input id="txtCategoryCodeInsert" type="text" class="form-control" name="CategoryCode" />
                        </div>
                    </div>*@
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select class="form-control" id="ddlCategoryCodeInsert" style="width: 270px;" name="ddlCategoryCodeInsert">

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGLAccountInsert" type="text" class="form-control" maxlength="30" name="GLAccount" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Account Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDescriptionTransactionInsert" type="text" class="form-control" maxlength="200" name="DescriptionTransaction" />
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
               
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Type</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @*<select class="form-control" id="ddlTypeInsert" style="width: 270px;" name="ddlTypeInsert" >
            <option value="">--Select--</option>
            <option value="Reguler">Reguler</option>
            <option value="Accrued">Accrued</option>
        </select>*@
                        <input id="txtType" type="text" name="txtType" value="Accrued & Reguler" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {

       getDropdownlist("@Html.Toyota().Page.BaseUrl" + "/GroupNominative/GetKategoriDropdown", "ddlCategoryCodeInsert");

        $('#CreateNominativeForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                ddlCategoryCodeInsert: {
                    validators: {
                        notEmpty: {
                            message: 'Category  is required and can\'t be empty'
                        }
                    }
                },
                GLAccount: {
                    validators: {
                        notEmpty: {
                            message: 'GL Account is required and can\'t be empty'
                        }
                    }
                },
                DescriptionTransaction: {
                    validators: {
                        notEmpty: {
                            message: 'Account Name is required and can\'t be empty'
                        }
                    }
                },
                ddlTypeInsert: {
                    validators: {
                        notEmpty: {
                            message: 'Type is required and can\'t be empty'
                        }
                    }
                }

            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                onSubmit();
            });
    });
    //Ajax POST/GET Method

    function onSubmit() {
        Config = {
            //CategoryCode: $("#txtCategoryCodeInsert").val(),
            CategoryCode: $("#ddlCategoryCodeInsert").val(),
            GLAccount: $("#txtGLAccountInsert").val(),
            DescriptionTransaction: $("#txtDescriptionTransactionInsert").val(),
            //Type: $("#ddlTypeInsert").val()
            Type: $('#txtType').val()
        };
        $.ajax({
            type: "POST",
            url: URLSaveCreate,
            data: {
                data: JSON.stringify(Config)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    onGet(1);
                    $('#btnCancel').click();
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }

            }
        });
    }
</script>

