﻿@using TAM.EFaktur.Web.Models.Group_Nominative
@using TAM.EFaktur.Web.Models

@{
    Nominative GroupNominative = (Nominative)ViewData["DeleteNominative"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="UserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@GroupNominative.NominativeId" id="hiddenId" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCategoryCode" type="text" class="form-control" value="@GroupNominative.CategoryName" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGLAccount" type="text" value="@GroupNominative.GLAccount" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Account Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDescriptionTransaction" type="text" class="form-control" value="@GroupNominative.DescriptionTransaction" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Type</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtType" type="text" value="@GroupNominative.Type" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Status GL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtGLAccountUdpate" name="GLAccount" type="text" maxlength="30" class="form-control" value="@GroupNominative.GLAccount" />
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#btnSave").click(function () {
        //console.log($("#hiddenId").val());
        Config = {
            NominativeId: $("#hiddenId").val(),
            CategoryCode: $("#txtCategoryCode").val(),
            GLAccount: $("#txtGLAccount").val(),
            DescriptionTransaction: $("#txtDescriptionTransaction").val(),
            Type: $("#txtType").val()
        };
        onSubmit();
    });

    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(Config)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }
</script>