﻿<form role="form" class="form-horizontal" id="InputNominativeForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlCategoryCodeSearch" multiple name="ddlCategoryCodeSearch">
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                @*<div class="col-xs-12 col-sm-9 col-md-8">
                    <input id="txtGLAccount" type="text" class="form-control" />
                </div>*@
                 <div class="col-xs-12 col-sm-9 col-md-8">

                    <div class="input-group input-group input-group-xs">
                        <input id="txtGLAccount" type="text" class="form-control" readonly />
                        <input id="lookupGLAccount" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupGLAccount" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Account Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        @*<input id="txtDescriptionTransaction" type="text" maxlength="30"  class="form-control" />*@

                        <input id="txtDescriptionTransaction" type="text" class="form-control" readonly />
                        <input id="lookupDescriptionTransaction" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupDescriptionTransaction" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                    </div>
                </div>


            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @*<input id="txtType" type="text" name="txtType" value="Accrued & Reguler" class="form-control" readonly />*@
                    <input id="txtType" type="text" name="txtType" value="Accrued & Reguler" maxlength="50" class="form-control" readonly/>

                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">

        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" id="btnClearSearch" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
   
    //Clear Form Search
    function clearSearch() {
        $('#ddlCategoryCodeSearch').multiselect('clearSelection');
        document.getElementById("lookupIdddlCategoryCodeSearch").value = "";
        document.getElementById("lookupNameddlCategoryCodeSearch").value = "";

        document.getElementById("lookupGLAccount").value = "";
        document.getElementById("lookupDescriptionTransaction").value = "";
        
        $('#ddlTypeSearch').multiselect('clearSelection');
        document.getElementById("lookupIdddlTypeSearch").value = "";
        document.getElementById("lookupNameddlTypeSearch").value = "";

        document.getElementById("txtGLAccount").value = "";
        document.getElementById("txtDescriptionTransaction").value = "";
        document.getElementById("txtType").value = "";
    }

</script>
