﻿@using TAM.EFaktur.Web.Models.Group_Nominative
@using TAM.EFaktur.Web.Models

@{ List<GroupNominativeDashboardViewModel> GroupNominativeList = (List<GroupNominativeDashboardViewModel>)ViewData["GroupNominativeListDashboard"]; }


<div id="gridGroupNominative">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    @if (ViewBag.EditDeleteGLAccountEnom == true)
                    {
                        <th class="fixed-column _col" style="width:12px">Edit</th>
                        <th class="fixed-column _col" style="width:12px">Delete</th>
                    }

                    <th onclick="sortItem(2)" style="cursor:pointer">Category &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">GL Account &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Account Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                </tr>
            </thead>

            @if (GroupNominativeList != null && GroupNominativeList.Count > 0)
            {
                foreach (GroupNominativeDashboardViewModel GroupNominative in GroupNominativeList)
                {
                    <tr>
                        <td class="text-center fixed-column">
                            <input id="@string.Format("chkGrid{0}", GroupNominative.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                            <input type="hidden" class="paramId" value="@GroupNominative.NominativeId" />
                        </td>

                        @if (ViewBag.EditDeleteGLAccountEnom == true)
                        {
                            <td class="text-center">
                                <a href="@Url.Action("PopupUpdateNominative", "GroupNominative", new { NominativeId = @GroupNominative.NominativeId })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("PopupDeleteNominative", "GroupNominative", new { NominativeId = @GroupNominative.NominativeId })" onclick='onDelete("@GroupNominative.NominativeId")' class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        }
                        <td>@GroupNominative.CategoryName</td>
                        <td>@GroupNominative.GLAccount</td>
                        <td>@GroupNominative.DescriptionTransaction</td>
                        <td>@GroupNominative.Type</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                </tr>
            }

        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>