﻿@{
    ViewBag.Title = "ParameterSetupDashboard";
}


@section HeadScript{
    <style>
        ._SearchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs">
            @Html.Partial("_UITotalSelectedIndicator")


            @*add button*@
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Group_Nominative", "AddGLAccountEnom"))
            {
                <div class="btn-group btn-group-sm">
                    @*<button type="button" id="newbutton" class="btn btn-primary">Add</button>*@
                    @Html.ActionLink("Add", "PopupCreateNominative", "GroupNominative", null, new { @class = "modal-link btn btn-danger" })
                </div>
            }

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnDownload" onclick="Download()">
                    Download To Excel
                </button>
            </div>

            @*batas add button*@

        </div>
    </div>
</div>
 
@Html.Partial("_SimpleGrid")


@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            $(".btn-delete").click(function () {
                $("#delete-confirm").modal();
            });



            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });


            /* toggle column on tablegrid (that <th> has class _toggle-detail) */
            //$("#btnToggleDetail").click(function () {
            //    var _detail = $("._toggle-detail");

            //    _detail.each(function () {
            //        pos = $(this).index();
            //        $(this).toggle();
            //        $("td:nth-child(" + (pos + 1) + ")").toggle();
            //    });
            //});


        });

    </script>
}
@Html.Partial("_Javascript")