﻿@using TAM.EFaktur.Web.Models.Entertainment
@{
    var validation = (EntertainmentValidation)ViewData["ValidationEntertainment"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Entertainment Detail</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formCreateDetail">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_RELASI</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NAMA_RELASI)
                        {
                            <input id="txtCreateDetailNAMA_RELASI" name="txtCreateDetailNAMA_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateDetailNAMA_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JABATAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JABATAN)
                        {
                            <input id="txtCreateDetailPOSISI_RELASI" name="txtCreateDetailPOSISI_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateDetailPOSISI_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT_PERUSAHAAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT_PERUSAHAAN)
                        {
                            <input id="txtCreateDetailPERUSAHAAN_RELASI" name="txtCreateDetailPERUSAHAAN_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateDetailPERUSAHAAN_RELASI" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TIPE_BISNIS</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TIPE_BISNIS)
                        {
                            <input id="txtCreateDetailJENIS_USAHA_RELASI" name="txtCreateDetailJENIS_USAHA_RELASI" type="text" class="form-control" maxlength="20" />
                        }
                        else
                        {
                            <input id="txtCreateDetailJENIS_USAHA_RELASI" type="text" class="form-control" maxlength="20" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.KETERANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.KETERANGAN)
                        {
                            <textarea id="txtCreateDetailKETERANGAN" name="txtCreateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                        else
                        {
                            <textarea id="txtCreateDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnCreateDetail">Save</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="CancelDetail()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formCreateDetail').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtCreateDetailNAMA_RELASI: {
                    validators: {
                        notEmpty: {
                            message: '@header.NAMA_RELASI is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailPOSISI_RELASI: {
                    validators: {
                        notEmpty: {
                            message: '@header.JABATAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailPERUSAHAAN_RELASI: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT_PERUSAHAAN is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailJENIS_USAHA_RELASI: {
                    validators: {
                        notEmpty: {
                            message: '@header.TIPE_BISNIS is required and can\'t be empty'
                        }
                    }
                },
                txtCreateDetailKETERANGAN: {
                    validators: {
                        notEmpty: {
                            message: '@header.KETERANGAN is required and can\'t be empty'
                        }
                    }
                },
            }
        });
    });

    $("#btnCreateDetail").click(function () {
        var validator = $('#formCreateDetail').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var dataEntertainmentDetail = {
                ENTERTAINMENT_DETAIL_ID: $("#hdENTERTAINMENT_DETAIL_ID").val(),
                NAMA_RELASI: $("#txtCreateDetailNAMA_RELASI").val(),
                POSISI_RELASI: $("#txtCreateDetailPOSISI_RELASI").val(),
                PERUSAHAAN_RELASI: $("#txtCreateDetailPERUSAHAAN_RELASI").val(),
                JENIS_USAHA_RELASI: $("#txtCreateDetailJENIS_USAHA_RELASI").val(),
                KETERANGAN: $("#txtCreateDetailKETERANGAN").val(),
                Entertainment:
                {
                    ENTERTAINMENT_ID: $("#hdENTERTAINMENT_ID").val(),
                    DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                    THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                    NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                    TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                    TGL_PENANDATANGAN: tglPenandatangan,
                    JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                    NO: GetValue($("#txtCreateNO").val(), $("#txtUpdateNO").val(), $("#txtDeleteNO").val()),
                    TANGGAL: GetValueDate($("#txtCreateTANGGAL").val(), $("#txtUpdateTANGGAL").val(), $("#txtDeleteTANGGAL").val()),
                    TEMPAT: GetValue($("#txtCreateTEMPAT").val(), $("#txtUpdateTEMPAT").val(), $("#txtDeleteTEMPAT").val()),
                    ALAMAT: GetValue($("#txtCreateALAMAT").val(), $("#txtUpdateALAMAT").val(), $("#txtDeleteALAMAT").val()),
                    BENTUK_DAN_JENIS_ENTERTAINMENT: GetValue($("#txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT").val(), $("#txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT").val(), $("#txtDeleteBENTUK_DAN_JENIS_ENTERTAINMENT").val()),
                    JUMLAH: GetValueCurrency($("#txtCreateJUMLAH").val(), $("#txtUpdateJUMLAH").val(), $("#txtDeleteJUMLAH").val())
                }
            };

            $.ajax({
                type: "POST",
                url: URLInsertDetail,
                data: {
                    data: JSON.stringify(dataEntertainmentDetail)
                },
                beforeSend: function () {
                    $('#btnCreateDetail').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        $("#hdENTERTAINMENT_ID").val(result.ResultDescs);//memanfaatkan kolom yg ada di model result yg tidak terpakai untuk menampung id yg berhasil di simpan.
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnCreateDetail').button('reset');
                    CancelDetail();
                    onGetDetail(1, false);
                    onGet(1);
                }
            });
        }
    });
</script> 