﻿@using TAM.EFaktur.Web.Models.Entertainment
@{
    var validation = (EntertainmentValidation)ViewData["ValidationEntertainment"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create Entertainment</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formCreate">
        <input type="hidden" id="hdENTERTAINMENT_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO)
                        {
                            <input id="txtCreateNO" name="txtCreateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                        else
                        {
                            <input id="txtCreateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtCreateTANGGAL">
                                <input id="txtCreateTANGGAL" name="txtCreateTANGGAL" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtCreateTANGGAL" type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT)
                        {
                            <textarea id="txtCreateALAMAT" name="txtCreateALAMAT" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                        else
                        {
                            <textarea id="txtCreateALAMAT" class="form-control" maxlength="200" style="height:80px;"></textarea>
                        }
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TEMPAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TEMPAT)
                        {
                            <input id="txtCreateTEMPAT" name="txtCreateTEMPAT" type="text" class="form-control" maxlength="100" />
                        }
                        else
                        {
                            <input id="txtCreateTEMPAT" type="text" class="form-control" maxlength="100" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TIPE_ENTERTAINMENT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TIPE_ENTERTAINMENT)
                        {
                            <input id="txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT" name="txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT" type="text" class="form-control" maxlength="20" />
                        }
                        else
                        {
                            <input id="txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT" type="text" class="form-control" maxlength="20" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH)
                        {
                            <input id="txtCreateJUMLAH" name="txtCreateJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                        else
                        {
                            <input id="txtCreateJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="_line-br"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizeEntertainmentDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnAddDetail" onclick="ShowAddDetail()">Add Detail</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnCreate">Save</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        onGetDetail(1, false);

        $('#formCreate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtCreateNO: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO is required and can\'t be empty'
                        }
                    }
                },
                txtCreateTANGGAL: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL is required and can\'t be empty'
                        }
                    }
                },
                txtCreateTEMPAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.TEMPAT is required and can\'t be empty'
                        }
                    }
                },
                txtCreateALAMAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT is required and can\'t be empty'
                        }
                    }
                },
                txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT: {
                    validators: {
                        notEmpty: {
                            message: '@header.TIPE_ENTERTAINMENT is required and can\'t be empty'
                        }
                    }
                },
                txtCreateJUMLAH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtCreateTANGGAL"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateTANGGAL');
        });

        $('#dtCreateTANGGAL').on('dp.change dp.show', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateTANGGAL');
        });

        $('[name="txtCreateJUMLAH"]').on('blur', function (e) {
            $('#formCreate').bootstrapValidator('revalidateField', 'txtCreateJUMLAH');
        });
    });

    $("#btnCreate").click(function () {
        var validator = $('#formCreate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var txtTanggal = $("#txtCreateTANGGAL").val().split("-");
            var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

            var dataEntertainment = {
                ENTERTAINMENT_ID: $("#hdENTERTAINMENT_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                TEMPAT_PENANDATANGAN: $("#txtTEMPAT_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: $("#txtCreateNO").val(),
                TANGGAL: Tanggal,
                TEMPAT: $("#txtCreateTEMPAT").val(),
                ALAMAT: $("#txtCreateALAMAT").val(),
                BENTUK_DAN_JENIS_ENTERTAINMENT: $("#txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT").val(),
                JUMLAH: $("#txtCreateJUMLAH").val().replaceAll(",", "")
            };

            $.ajax({
                type: "POST",
                url: URLInsert,
                data: {
                    data: JSON.stringify(dataEntertainment)
                },
                beforeSend: function () {
                    $('#btnCreate').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnCreate').button('reset');
                    Cancel();
                    onGet(1);
                }
            });
        }
    });
</script> 