﻿@using TAM.EFaktur.Web.Models.Entertainment
@{
    var data = (EntertainmentDetail)ViewData["DeleteDetail"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="formDeleteDetail">
        <input type="hidden" value="@data.ENTERTAINMENT_DETAIL_ID" id="hdENTERTAINMENT_DETAIL_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NAMA_RELASI</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailNAMA_RELASI" name="txtDeleteDetailNAMA_RELASI" type="text" class="form-control" maxlength="100" value="@data.NAMA_RELASI" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JABATAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailPOSISI_RELASI" name="txtDeleteDetailPOSISI_RELASI" type="text" class="form-control" maxlength="100" value="@data.POSISI_RELASI" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT_PERUSAHAAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailPERUSAHAAN_RELASI" name="txtDeleteDetailPERUSAHAAN_RELASI" type="text" class="form-control" maxlength="100" value="@data.PERUSAHAAN_RELASI" readonly />
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TIPE_BISNIS</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteDetailJENIS_USAHA_RELASI" name="txtDeleteDetailJENIS_USAHA_RELASI" type="text" class="form-control" maxlength="20" value="@data.JENIS_USAHA_RELASI" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.KETERANGAN</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <textarea id="txtDeleteDetailKETERANGAN" name="txtDeleteDetailKETERANGAN" class="form-control" maxlength="200" style="height:80px;" readonly>@data.KETERANGAN</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDeleteDetail">Delete</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="CancelDetail()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $("#btnDeleteDetail").click(function (e) {
        //process save data
        var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
        var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

        var dataEntertainmentDetail = {
            ENTERTAINMENT_DETAIL_ID: $("#hdENTERTAINMENT_DETAIL_ID").val(),
            NAMA_RELASI: $("#txtDeleteDetailNAMA_RELASI").val(),
            POSISI_RELASI: $("#txtDeleteDetailPOSISI_RELASI").val(),
            PERUSAHAAN_RELASI: $("#txtDeleteDetailPERUSAHAAN_RELASI").val(),
            JENIS_USAHA_RELASI: $("#txtDeleteDetailJENIS_USAHA_RELASI").val(),
            KETERANGAN: $("#txtDeleteDetailKETERANGAN").val(),
            Entertainment:
            {
                ENTERTAINMENT_ID: $("#hdENTERTAINMENT_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                NAMA_PENANDATANGAN: $("#txtNAMA_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: GetValue($("#txtCreateNO").val(), $("#txtUpdateNO").val(), $("#txtDeleteNO").val()),
                TANGGAL: GetValueDate($("#txtCreateTANGGAL").val(), $("#txtUpdateTANGGAL").val(), $("#txtDeleteTANGGAL").val()),
                TEMPAT: GetValue($("#txtCreateTEMPAT").val(), $("#txtUpdateTEMPAT").val(), $("#txtDeleteTEMPAT").val()),
                ALAMAT: GetValue($("#txtCreateALAMAT").val(), $("#txtUpdateALAMAT").val(), $("#txtDeleteALAMAT").val()),
                BENTUK_DAN_JENIS_ENTERTAINMENT: GetValue($("#txtCreateBENTUK_DAN_JENIS_ENTERTAINMENT").val(), $("#txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT").val(), $("#txtDeleteBENTUK_DAN_JENIS_ENTERTAINMENT").val()),
                JUMLAH: GetValueCurrency($("#txtCreateJUMLAH").val(), $("#txtUpdateJUMLAH").val(), $("#txtDeleteJUMLAH").val())
            }
        };

        $.ajax({
            type: "POST",
            url: URLDeleteDetail,
            data: {
                data: JSON.stringify(dataEntertainmentDetail)
            },
            beforeSend: function () {
                $('#btnDeleteDetail').button('loading');
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnDeleteDetail').button('reset');
                CancelDetail();
                onGetDetail(1, false);
                onGet(1);
            }
        });
    });
</script> 