﻿@using TAM.EFaktur.Web.Models.Entertainment
@{
    var data = (Entertainment)ViewData["Update"];
    var validation = (EntertainmentValidation)ViewData["ValidationEntertainment"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Entertainment</h4>
    <hr />

    <form role="form" class="form-horizontal" id="formUpdate">
        <input type="hidden" value="@data.ENTERTAINMENT_ID" id="hdENTERTAINMENT_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.NO)
                        {
                            <input id="txtUpdateNO" name="txtUpdateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                        else
                        {
                            <input id="txtUpdateNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TANGGAL)
                        {
                            <div class='input-group input-group-xs _datepicker' id="dtUpdateTANGGAL">
                                <input id="txtUpdateTANGGAL" name="txtUpdateTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtUpdateTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.ALAMAT)
                        {
                            <textarea id="txtUpdateALAMAT" name="txtUpdateALAMAT" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT</textarea>
                        }
                        else
                        {
                            <textarea id="txtUpdateALAMAT" class="form-control" maxlength="200" style="height:80px;">@data.ALAMAT</textarea>
                        }
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TEMPAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TEMPAT)
                        {
                            <input id="txtUpdateTEMPAT" name="txtUpdateTEMPAT" type="text" class="form-control" maxlength="100" value="@data.TEMPAT" />
                        }
                        else
                        {
                            <input id="txtUpdateTEMPAT" type="text" class="form-control" maxlength="100" value="@data.TEMPAT" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TIPE_ENTERTAINMENT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.TIPE_ENTERTAINMENT)
                        {
                            <input id="txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT" name="txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT" type="text" class="form-control" maxlength="20" value="@data.BENTUK_DAN_JENIS_ENTERTAINMENT" />
                        }
                        else
                        {
                            <input id="txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT" type="text" class="form-control" maxlength="20" value="@data.BENTUK_DAN_JENIS_ENTERTAINMENT" />
                        }
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        @if (validation.JUMLAH)
                        {
                            <input id="txtUpdateJUMLAH" name="txtUpdateJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" />
                        }
                        else
                        {
                            <input id="txtUpdateJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="_line-br"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizeEntertainmentDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <div class="btn-group-sm">
                    @if (ViewBag.IsManual == "True")
                    {
                        <button type="button" class="btn btn-danger" id="btnAddDetail" onclick="ShowAddDetail()">Add Detail</button>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    @if (ViewBag.IsManual == "True")
                    {
                        <button type="button" class="btn btn-primary" id="btnUpdate">Save</button>
                    }
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if("@ViewBag.IsManual" == "False"){
            $("#txtUpdateNO").attr("readonly", "readonly");
            $("#txtUpdateTANGGAL").attr("readonly", "readonly");
            $("#txtUpdateALAMAT").attr("readonly", "readonly");
            $("#txtUpdateTEMPAT").attr("readonly", "readonly");
            $("#txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT").attr("readonly", "readonly");
            $("#txtUpdateJUMLAH").attr("readonly", "readonly");
        }

        onGetDetail(1, false);

        $('#formUpdate').bootstrapValidator({
            live: 'enabled',
            fields: {
                //////name of field
                txtUpdateNO: {
                    validators: {
                        notEmpty: {
                            message: '@header.NO is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateTANGGAL: {
                    validators: {
                        date: {
                            format: 'DD-MM-YYYY',
                            message: 'The value is not a valid date'
                        },
                        notEmpty: {
                            message: '@header.TANGGAL is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateTEMPAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.TEMPAT is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateALAMAT: {
                    validators: {
                        notEmpty: {
                            message: '@header.ALAMAT is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT: {
                    validators: {
                        notEmpty: {
                            message: '@header.TIPE_ENTERTAINMENT is required and can\'t be empty'
                        }
                    }
                },
                txtUpdateJUMLAH: {
                    validators: {
                        notEmpty: {
                            message: '@header.JUMLAH is required and can\'t be empty'
                        }
                    }
                },
            }
        });

        $('[name="txtUpdateTANGGAL"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateTANGGAL');
        });

        $('#dtUpdateTANGGAL').on('dp.change dp.show', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateTANGGAL');
        });

        $('[name="txtUpdateJUMLAH"]').on('blur', function (e) {
            $('#formUpdate').bootstrapValidator('revalidateField', 'txtUpdateJUMLAH');
        });
    });

    $("#btnUpdate").click(function () {
        var validator = $('#formUpdate').data('bootstrapValidator');
        validator.validate();
        if (validator.isValid()) {
            //process save data
            var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
            var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

            var txtTanggal = $("#txtUpdateTANGGAL").val().split("-");
            var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

            var dataEntertainment = {
                ENTERTAINMENT_ID: $("#hdENTERTAINMENT_ID").val(),
                DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

                THN_PAJAK: $("#ddlTHN_PAJAK").val(),
                TEMPAT_PENANDATANGAN: $("#txtTEMPAT_PENANDATANGAN").val(),
                TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
                TGL_PENANDATANGAN: tglPenandatangan,
                JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

                NO: $("#txtUpdateNO").val(),
                TANGGAL: Tanggal,
                TEMPAT: $("#txtUpdateTEMPAT").val(),
                ALAMAT: $("#txtUpdateALAMAT").val(),
                BENTUK_DAN_JENIS_ENTERTAINMENT: $("#txtUpdateBENTUK_DAN_JENIS_ENTERTAINMENT").val(),
                JUMLAH: $("#txtUpdateJUMLAH").val().replaceAll(",", "")
            };

            $.ajax({
                type: "POST",
                url: URLUpdate,
                data: {
                    data: JSON.stringify(dataEntertainment)
                },
                beforeSend: function () {
                    $('#btnUpdate').button('loading');
                },
                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnUpdate').button('reset');
                    Cancel();
                    onGet(1);
                }
            });
        }
    });
</script>