﻿@using TAM.EFaktur.Web.Models.Entertainment
@{
    var data = (Entertainment)ViewData["Delete"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Are you sure remove this data?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="formDelete">
        <input type="hidden" value="@data.ENTERTAINMENT_ID" id="hdENTERTAINMENT_ID" />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.NO</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteNO" name="txtDeleteNO" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" maxlength="8" value="@data.NO" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TANGGAL</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class='input-group input-group-xs _datepicker' id="dtUpdateTANGGAL">
                            <input id="txtDeleteTANGGAL" name="txtDeleteTANGGAL" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", data.TANGGAL)" readonly />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.ALAMAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <textarea id="txtDeleteALAMAT" name="txtDeleteALAMAT" class="form-control" maxlength="200" style="height:80px;" readonly>@data.ALAMAT</textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TEMPAT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteTEMPAT" name="txtDeleteTEMPAT" type="text" class="form-control" maxlength="100" value="@data.TEMPAT" readonly />
                    </div>
                </div>

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.TIPE_ENTERTAINMENT</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteBENTUK_DAN_JENIS_ENTERTAINMENT" name="txtDeleteBENTUK_DAN_JENIS_ENTERTAINMENT" type="text" class="form-control" maxlength="20" value="@data.BENTUK_DAN_JENIS_ENTERTAINMENT" readonly />
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">@header.JUMLAH</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtDeleteJUMLAH" name="txtDeleteJUMLAH" type="text" data-type="currency" class="form-control" maxlength="18" value="@string.Format("{0:n0}", data.JUMLAH)" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-inline">
                    <label>
                        Show per page
                        <select class="form-control input-xs" id="ddlPageSizeEntertainmentDetail" onchange="onGetDetail(1,false)">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_SimpleGridDetail")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                    <button type="button" class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        onGetDetail(1, true);
    });

    $("#btnDelete").click(function (e) {
        //process save data
        var txtTglPenandatangan = $("#txtTGL_PENANDATANGAN").val().split("-");
        var tglPenandatangan = new Date(+txtTglPenandatangan[2], txtTglPenandatangan[1] - 1, +txtTglPenandatangan[0]);

        var txtTanggal = $("#txtDeleteTANGGAL").val().split("-");
        var Tanggal = new Date(+txtTanggal[2], txtTanggal[1] - 1, +txtTanggal[0]);

        var dataEntertainment = {
            ENTERTAINMENT_ID: $("#hdENTERTAINMENT_ID").val(),
            DASHBOARD_ID: $("#hdDASHBOARD_ID").val(),

            THN_PAJAK: $("#ddlTHN_PAJAK").val(),
            TEMPAT_PENANDATANGAN: $("#txtTEMPAT_PENANDATANGAN").val(),
            TMP_PENANDATANGAN: $("#txtTMP_PENANDATANGAN").val(),
            TGL_PENANDATANGAN: tglPenandatangan,
            JABATAN_PENANDATANGAN: $("#txtJABATAN_PENANDATANGAN").val(),

            NO: $("#txtDeleteNO").val(),
            TANGGAL: Tanggal,
            TEMPAT: $("#txtDeleteTEMPAT").val(),
            ALAMAT: $("#txtDeleteALAMAT").val(),
            BENTUK_DAN_JENIS_ENTERTAINMENT: $("#txtDeleteBENTUK_DAN_JENIS_ENTERTAINMENT").val(),
            JUMLAH: $("#txtDeleteJUMLAH").val().replaceAll(",", "")
        };

        $.ajax({
            type: "POST",
            url: URLDelete,
            data: {
                data: JSON.stringify(dataEntertainment)
            },
            beforeSend: function () {
                $('#btnDelete').button('loading');
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
            },
            complete: function () {
                $('#btnDelete').button('reset');
                Cancel();
                onGet(1);
            }
        });
    });
</script>