﻿@using TAM.EFaktur.Web.Models.Entertainment

@{
    List<EntertainmentDetail> list = (List<EntertainmentDetail>)ViewData["ListDetail"];
    var header = (EntertainmentHeaderTemplate)ViewData["Header"];
}
<div id="gridEntertainmentDetail">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="EntertainmentTable">
            <thead>
                <tr>
                    @if (ViewBag.IsDelete == false)
                    {
                        if (ViewBag.IsManual == "True")
                        {
                            <th class="fixed-column"></th>
                        }
                    }
                    <th onclick="sortItem(1)" style="cursor:pointer">@header.NAMA_RELASI &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">@header.JABATAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">@header.ALAMAT_PERUSAHAAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">@header.TIPE_BISNIS &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">@header.KETERANGAN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (list != null && list.Count > 0)
                {
                    foreach (var item in list)
                    {
                        <tr>
                            @if (ViewBag.IsDelete == false)
                            {
                                if (ViewBag.IsManual == "True")
                                {
                                    <td class="text-center fixed-column">
                                        <a href="javascript:void(0);" id="btnEditDetail_@item.ENTERTAINMENT_DETAIL_ID" onclick="ShowEditDetail('@item.ENTERTAINMENT_DETAIL_ID')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" id="btnDeleteDetail_@item.ENTERTAINMENT_DETAIL_ID" onclick="ShowDeleteDetail('@item.ENTERTAINMENT_DETAIL_ID')" class="btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                }
                            }
                            <td>@item.NAMA_RELASI</td>
                            <td>@item.POSISI_RELASI</td>
                            <td>@item.PERUSAHAAN_RELASI</td>
                            <td>@item.JENIS_USAHA_RELASI</td>
                            <td>@item.KETERANGAN</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>