﻿
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Upload Form PDF</h4>
            <hr />

            <form role="form" class="form-horizontal" id="PopUpUploadNominativeFromPDFFile">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Refference Number</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <label id="LblRefferenceNo"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">File</label>
                            <div class="col-xs-12 col-sm-9 col-md-8">
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Select files...</span>
                                    <input id="fileuploadPDF" type="file" name="filesPDF[]" multiple>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tblFile"></div>
                @*<table class="table table-striped table-bordered table-condensed fixed-columns" id="filesPDFList" style="visibility:hidden; width: 100% !important;">
                    <tr>
                        <th>
                            File Name
                        </th>
                    </tr>
                </table>*@

                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelPDF" style="float:right">Cancel</button>
                &nbsp;&nbsp;
                <input type="button" id="btnuploadPDF" class="btn btn-primary" value="UPLOAD" data-loading-text="Loading..." style="float:right; visibility:hidden;" />
            </form>
            <br>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript">
    var formdata = new FormData(); //FormData object
    var CreditNoteModel = [];

    $(document).ready(function () {    

    });

    $("#fileuploadPDF").on("change", function () {
        var myString = $("#LblRefferenceNo").html().split(" ").join("");
        var myArray = myString.split(",");
        var exisdata = 0;
        //console.log(myArray, 'test array');

        var allowedExtensions = /(\.PDF|\.pdf)$/i;
        var fileInput = document.getElementById('fileuploadPDF');
        //Iterating through each files selected in fileInput

        for (i = 0; i < fileInput.files.length; i++) {

            var sfilename = fileInput.files[i].name;
            //var ddlCrdeditNoteType = $('#ddlCreditNoteType').val();

            if (!allowedExtensions.exec(sfilename)) {

                msgError("Only PDF File Type allowed.");
                //return false;
            }
            else {
                const isexist = CreditNoteModel.filter(d => d.FileName === sfilename);
                var namaFile = sfilename.split(".pdf").join("");
                //console.log(namaFile,'OK')
                //var getFileArray = myArray.filter(name => name.includes(namaFile))
                var getFileArray = myArray.filter(name => name == namaFile)
                //console.log(getFileArray, 'ambil getFileArray')

                if (isexist.length > 0) {
                    msgError(sfilename + " file already exists.");
                    //return false;

                    //} else if (getFileArray.length == 0) {
                    //    msgError(sfilename + " file not match.");
                    //    return false;
                    //}
                }
                else if (getFileArray.length == 0) {
                    msgError(sfilename + " File not match. File name must be same with Reference Number");
                    // return false;
                }
                else {

                    let srandomid = Math.random().toString(36).substring(7);

                    CreditNoteModel.push({
                        Id: srandomid, FileName: sfilename
                    }
                    );

                    formdata.append(sfilename, fileInput.files[i]);

                    var markup = "<tr id='" + srandomid + "'><td>" + sfilename + "</td></tr>"; // Binding the file name
                    $("#filesPDFList tbody").append(markup);
                }
            }
        }

        chkatchtbl();

        $('#fileuploadPDF').val('');
    });

    $("#btnuploadPDF").click(function (e) {
        e.preventDefault();
        var warning = 'Are you sure want to File Upload ?';
        if (confirm(warning)) {
            formdata.append('data', JSON.stringify(CreditNoteModel));
            $.ajax({

                url: '/Dashboard_Nominative/UploadNominativeFromPDFFile',
                type: "POST",
                contentType: false,
                processData: false,
                data: formdata,
                async: false,
                beforeSend: function (result) {
                    $('#btnuploadPDF').button('loading');
                    $("input").attr('disabled', 'disabled');
                    if (DEBUG) {
                        console.log(result);
                    }
                },
                success: function (result) {
                    //console.log(result);
                    if (result.ResultCode) {
                        msgInfo(result.ResultDesc);
                        if (DEBUG) {
                            console.log("Upload Success");
                            console.log(result);
                        }
                    }
                    else {
                        msgOk("Upload Success");
                    }

                    onGetHeader(1);
                    $('#btnCancelPDF').click();
                },

                error: function (result) {
                    msgError(result.ResultDesc);
                    $('#btnuploadPDF').button('reset');
                    //alert(result.ResultDesc);
                },
                complete: function (xhr) {
                    $('#btnuploadPDF').button('reset');
                    $("input").removeAttr('disabled');

                    CloseFile();
                    if (DEBUG) {
                        console.log(' Done');
                    }
                }
            });
            formdata.delete('data', JSON.stringify(CreditNoteModel));
            CreditNoteModel = [];
        };
        //CreditNoteModel.splice(0, CreditNoteModel.length);
    });


    function CloseFile() {
        $('#PopUpUploadNominativeFromPDFFile').modal('hide');
        CreditNoteModel = [];
    }


    function chkatchtbl() {
        if ($('#filesPDFList tr').length > 1) { 
            $("#filesPDFList").css("visibility", "visible");
            $("#btnuploadPDF").css("visibility", "visible");

        } else { 
            $("#filesPDFList").css("visibility", "hidden");
            $("#btnuploadPDF").css("visibility", "hidden");
        }
    } 
</script>
