﻿@using TAM.EFaktur.Web.Models.Dashboard_Nominative
@using TAM.EFaktur.Web.Models

@*@{
        Dashboard data = (Dashboard)ViewData["UpdateDashboard"];
    }*@

<style>
    .modal-lg {
        width: 1500px;
    }
</style>

<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Entertainment</h4>
    <hr />
    <div class="row" style="margin-bottom:15px;">
        <div class="col-xs-12 text-right">
            <a href="@ViewBag.TemplateLink" target="_blank">Download Template</a>
        </div>
    </div>
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>

    <form role="form" class="form-horizontal" id="PromotionDashboardForm">
        @*<div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 ">
                    <div class="form-group form-group-xs ">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative Type</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <select id="ddlUpdateNominativeType" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 ">
                    <div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Book Period</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <div class='input-group input-group-xs _datepicker'>
                                <input id="txtUpdateBookPeriod" type="text" class="form-control" value="@string.Format("{0:dd-MM-yyyy}",data.BookPeriod)" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 ">
                    <div class="form-group form-group-xs ">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP GR Doc. No</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input id="txtUpdateSAPGRDocNo" type="text" class="form-control" value="@data.SAPGRDocNo" />
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row">
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

@*<script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
    });

    $(function () {
        'use strict';

        var url = '/Dashboard_Nominative/UploadEntertainment';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                console.log(data);
                if (data.result.ResultCode) {
                    $.each(data.result.Data, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                    msgInfo(data.result.ResultDesc);
                    if (DEBUG) {
                        console.log("Upload Success");
                        console.log(data);
                    }
                }
                else {
                    msgError(data.result.ResultDesc);
                }
            },
            progressall: function (e, data) {
                console.log(data);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
                if (DEBUG) {
                    console.log(data);
                }
            },
            fail: function (e, data) {
                msgError("Upload has failed, please check Application Log for detail.");
                if (DEBUG) {
                    console.log("Upload Error");
                    console.log(data);
                    console.log(data.errorThrown);
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });

    $("#btnSave").click(function () {
        Dashboard = {
            CategoryCode: $("#lookupIdddlUpdateNominativeType").val(),
            StatusInvoice: $("#lookupNameddlUpdateStatusInvoice").val(),
        };
    });
    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(Dashboard)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }



</script>