﻿<form role="form" class="form-horizontal" id="SearchDashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlNominativeType" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlStatusInvoice" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlPVType" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Accrued Year End Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlAccruedYearEndStatus" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Accrued Booking No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtAccruedBookingNo" type="text" class="form-control" readonly />
                        <input id="lookupAccruedBookingNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupAccruedBookingNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Description Transaction</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlDescriptionTransaction" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlGlAccount" multiple></select>
                </div>
                @*<div class="col-xs-12 col-sm-9 col-md-8">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtGLAccount" type="text" class="form-control" readonly />
                            <input id="lookupGLAccount" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupGLAccount" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>*@
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Vendor Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtVendorName" type="text" class="form-control" readonly />
                        <input id="lookupVendorName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupVendorName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtNPWP" type="text" class="form-control" readonly placeholder="00.000.000.0-000.000" />
                        <input id="lookupNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtInvoiceNo" type="text" class="form-control" readonly />
                        <input id="lookupInvoiceNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupInvoiceNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtInvoiceDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtInvoiceDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4 ">
            @*<div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Fiscal Year</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <select id="ddlFiscalYear" class="form-control"></select>
                    </div>
                </div>*@
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Book Period</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtBookPeriodFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtBookPeriodTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Turnover Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <select class="form-control" id="ddlTurnoverAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-5" style="padding-left:0px">
                    <input type="text" data-type="currency" class="form-control" id="txtTurnoverAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <select class="form-control" id="ddlVATAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-5" style="padding-left:0px">
                    <input type="text" data-type="currency" class="form-control" id="txtVATAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">WHT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <select class="form-control" id="ddlWHTAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-5" style="padding-left:0px">
                    <input type="text" data-type="currency" class="form-control" id="txtWHTAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxInvoiceNo" type="text" class="form-control" placeholder="000.000-00.00000000" readonly />
                        <input id="lookupTaxInvoiceNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupTaxInvoiceNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Witholding Tax No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtWitholdingTaxNo" type="text" class="form-control" readonly />
                        <input id="lookupWitholdingTaxNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupWitholdingTaxNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Witholding Tax Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtWitholdingTaxDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtWitholdingTaxDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">WHT Article</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlWHTArticle" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">System</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlSystem" class="form-control" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtPVNo" type="text" class="form-control" readonly />
                        <input id="lookupPVNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupPVNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PV Created By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtPVCreatedBy" type="text" class="form-control" readonly />
                        <input id="lookupPVCreatedBy" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupPVCreatedBy" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP GR Doc. No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSAPGRDocNo" type="text" class="form-control" readonly />
                        <input id="lookupSAPGRDocNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSAPGRDocNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP GR Posting Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSAPGRPostingDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSAPGRPostingDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP Invoice Doc. No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSAPInvoiceDocNo" type="text" class="form-control" readonly />
                        <input id="lookupSAPInvoiceDocNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSAPInvoiceDocNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SAP Invoice Posting Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSAPInvoicePostingDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSAPInvoicePostingDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Downloaded Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadedDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadedDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlDownloadStatus" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative Form Attachment</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlNominativeFormAttachment" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative ID No</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtNominativeIDNo" type="text" class="form-control" readonly />
                        <input id="lookupNominativeIDNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupNominativeIDNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select id="ddlNominativeStatus" class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Nominative Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtNominativeDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtNominativeDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="reset" class="btn btn-default" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="Text/Javascript">

    //$(document).ready(function () {
    //    var start = new Date().getFullYear() - 20;
    //    var end = new Date().getFullYear() + 20;
    //    var options = "<option value=\"\"></option>";
    //    for (var year = start; year <= end; year++) {
    //        options += "<option value=\"" + year + "\">" + year + "</option>";
    //    }
    //    document.getElementById("ddlFiscalYear").innerHTML = options;
    //});

    //Clear TextBox
    function clearTextBox() {
        document.getElementById("txtAccruedBookingNo").value = "";
        document.getElementById("lookupAccruedBookingNo").value = "";
        document.getElementById("txtSAPGRDocNo").value = "";
        document.getElementById("lookupSAPGRDocNo").value = "";
        document.getElementById("txtTurnoverAmount").value = "";
        document.getElementById("ddlTurnoverAmountOperator").value = "";
        document.getElementById("txtVATAmount").value = "";
        document.getElementById("ddlVATAmountOperator").value = "";
        document.getElementById("txtSAPGRPostingDateFrom").value = "";
        document.getElementById("txtSAPGRPostingDateTo").value = "";
        document.getElementById("txtWHTAmount").value = "";
        document.getElementById("ddlWHTAmountOperator").value = "";
        document.getElementById("txtSAPInvoiceDocNo").value = "";
        document.getElementById("lookupSAPInvoiceDocNo").value = "";
        document.getElementById("txtTaxInvoiceNo").value = "";
        document.getElementById("lookupTaxInvoiceNo").value = "";
        document.getElementById("txtSAPInvoicePostingDateFrom").value = "";
        document.getElementById("txtSAPInvoicePostingDateTo").value = "";
        document.getElementById("txtVendorName").value = "";
        document.getElementById("lookupVendorName").value = "";
        //document.getElementById("txtGLAccount").value = "";
        //document.getElementById("lookupGLAccount").value = "";
        document.getElementById("txtNPWP").value = "";
        document.getElementById("lookupNPWP").value = "";
        document.getElementById("txtInvoiceNo").value = "";
        document.getElementById("lookupInvoiceNo").value = "";
        document.getElementById("txtInvoiceDateFrom").value = "";
        document.getElementById("txtInvoiceDateTo").value = "";
        document.getElementById("txtBookPeriodFrom").value = "";
        document.getElementById("txtBookPeriodTo").value = "";
        document.getElementById("txtWitholdingTaxNo").value = "";
        document.getElementById("lookupWitholdingTaxNo").value = "";
        document.getElementById("txtPVNo").value = "";
        document.getElementById("lookupPVNo").value = "";
        document.getElementById("txtPVCreatedBy").value = "";
        document.getElementById("lookupPVCreatedBy").value = "";
        document.getElementById("txtWitholdingTaxDateFrom").value = "";
        document.getElementById("txtWitholdingTaxDateTo").value = "";
        document.getElementById("txtReceiveFileDateFrom").value = "";
        document.getElementById("txtReceiveFileDateTo").value = "";
        document.getElementById("txtDownloadedDateFrom").value = "";
        document.getElementById("txtDownloadedDateTo").value = "";
        document.getElementById("txtNominativeIDNo").value = "";
        document.getElementById("lookupNominativeIDNo").value = "";
        document.getElementById("txtNominativeDateFrom").value = "";
        document.getElementById("txtNominativeDateTo").value = "";

        //document.getElementById("ddlFiscalYear").value = "";

        //dropdown
        $("#ddlNominativeType").multiselect("clearSelection");
        document.getElementById("lookupIdddlNominativeType").value = "";
        document.getElementById("lookupNameddlNominativeType").value = "";

        $("#ddlStatusInvoice").multiselect("clearSelection");
        document.getElementById("lookupIdddlStatusInvoice").value = "";
        document.getElementById("lookupNameddlStatusInvoice").value = "";

        $("#ddlPVType").multiselect("clearSelection");
        document.getElementById("lookupIdddlPVType").value = "";
        document.getElementById("lookupNameddlPVType").value = "";

        //$("#ddlSettlementStatus").multiselect("clearSelection");
        //document.getElementById("lookupIdddlSettlementStatus").value = "";
        //document.getElementById("lookupNameddlSettlementStatus").value = "";

        $("#ddlAccruedYearEndStatus").multiselect("clearSelection");
        document.getElementById("lookupIdddlAccruedYearEndStatus").value = "";
        document.getElementById("lookupNameddlAccruedYearEndStatus").value = "";

        $("#ddlDescriptionTransaction").multiselect("clearSelection");
        document.getElementById("lookupIdddlDescriptionTransaction").value = "";
        document.getElementById("lookupNameddlDescriptionTransaction").value = "";

        $("#ddlWHTArticle").multiselect("clearSelection");
        document.getElementById("lookupIdddlWHTArticle").value = "";
        document.getElementById("lookupNameddlWHTArticle").value = "";

        $("#ddlSystem").multiselect("clearSelection");
        document.getElementById("lookupIdddlSystem").value = "";
        document.getElementById("lookupNameddlSystem").value = "";
        //document.getElementById("ddlSystem").value = "";

        //$("#ddlDownloadStatus").multiselect("clearSelection");
        //document.getElementById("lookupIdddlDownloadStatus").value = "";
        //document.getElementById("lookupNameddlDownloadStatus").value = "";
        document.getElementById("ddlDownloadStatus").value = "";

        //$("#ddlNominativeFormAttachment").multiselect("clearSelection");
        //document.getElementById("lookupIdddlNominativeFormAttachment").value = "";
        //document.getElementById("lookupNameddlNominativeFormAttachment").value = "";
        document.getElementById("ddlNominativeFormAttachment").value = "";

        //$("#ddlNominativeStatus").multiselect("clearSelection");
        //document.getElementById("lookupIdddlNominativeStatus").value = "";
        //document.getElementById("lookupNameddlNominativeStatus").value = "";
        document.getElementById("ddlNominativeStatus").value = "";

        $("#ddlGlAccount").multiselect("clearSelection");
        document.getElementById("lookupIdddlGlAccount").value = "";
        document.getElementById("lookupNameddlGlAccount").value = "";
    }
</script>