﻿@using TAM.EFaktur.Web.Models.Dashboard_Nominative
@using TAM.EFaktur.Web.Models

@{
    List<Dashboard> DashoardList = (List<Dashboard>)ViewData["UserListDashboard"];
    Paging _page = (Paging)ViewData["Paging"];
}
<div id="gridDashoard">
    <div class="table-responsive">
        <table class="table table-striped table-bordered fixed-columns" id="DashboardENominative">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                    @if (ViewBag.CreateNominativeList == true)
                    {
                        <th class="fixed-column"></th>
                    }
                    <th class="fixed-column">No</th>
                    <th class="fixed-column" onclick="sortItemHeader(2)" style="cursor:pointer">Nominative Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(3)" style="cursor:pointer">Invoice Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(4)" style="cursor:pointer">PV Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(5)" style="cursor:pointer">Accrued Year End Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(6)" style="cursor:pointer">Accrued Booking No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th onclick="sortItemHeader(4)" style="cursor:pointer">Settlement Suspense Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                    <th onclick="sortItemHeader(7)" style="cursor:pointer">Description Transaction &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(8)" style="cursor:pointer">GL Account &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(9)" style="cursor:pointer">Vendor Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(10)" style="cursor:pointer">NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(11)" style="cursor:pointer">Invoice No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(12)" style="cursor:pointer">Invoice Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(13)" style="cursor:pointer">Book Period &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(14)" style="cursor:pointer">Turnover Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(15)" style="cursor:pointer">VAT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(16)" style="cursor:pointer">WHT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(17)" style="cursor:pointer">Tax Invoice No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(18)" style="cursor:pointer">Witholding Tax No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(19)" style="cursor:pointer">Witholding Tax Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(20)" style="cursor:pointer">WHT Article &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(21)" style="cursor:pointer">System &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(22)" style="cursor:pointer">PV No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(23)" style="cursor:pointer">PV Created By &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(24)" style="cursor:pointer">SAP GR Doc No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(25)" style="cursor:pointer">SAP GR Posting Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(26)" style="cursor:pointer">SAP Invoice Doc No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(27)" style="cursor:pointer">SAP Invoice Posting Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(28)" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(29)" style="cursor:pointer">Downloaded Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(30)" style="cursor:pointer">Download Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(31)" style="cursor:pointer">Nominative Form Attachment &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(32)" style="cursor:pointer">Nominative ID No &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(33)" style="cursor:pointer">Nominative Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItemHeader(34)" style="cursor:pointer">Nominative Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (DashoardList != null && DashoardList.Count > 0)
                {
                    foreach (var item in DashoardList)
                    {
                <tr>
                    <td class="text-center fixed-column">
                        <input id="@string.Format("chkGrid{0}", item.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                        <input type="hidden" class="DashboardId" value="@item.Id" />
                    </td>
                    @if (ViewBag.CreateNominativeList == true)
                    {
                        <td class="text-center fixed-column">
                            @if (item.CategoryCode == TAM.EFaktur.Web.Models.Dashboard_Nominative.EnumCategoryCode.Promotion)
                            {
                                <a href="javascript:void(0);" id="btnEditDashboard_@item.Id" onclick="ShowPromotion('@item.Id','@item.System')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            }
                            else if (item.CategoryCode == TAM.EFaktur.Web.Models.Dashboard_Nominative.EnumCategoryCode.Entertainment)
                            {
                                <a href="javascript:void(0);" id="btnEditDashboard_@item.Id" onclick="ShowEntertainment('@item.Id','@item.System')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            }
                            else if (item.CategoryCode == TAM.EFaktur.Web.Models.Dashboard_Nominative.EnumCategoryCode.Donation)
                            {
                                <a href="javascript:void(0);" id="btnEditDashboard_@item.Id" onclick="ShowDonation('@item.Id','@item.System')" class="btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                            }
                        </td>
                    }
                    <td class="fixed-column">@item.RowNum</td>
                    <td class="fixed-column">@item.NominativeType</td>
                    <td>@item.StatusInvoice</td>
                    <td>@item.PVType</td>
                    <td>@item.AccruedYearEndStatus</td>
                    <td>@item.AccruedBookingNo</td>
                    @*<td>@item.SettlementStatus</td>*@
                    <td>@item.DescriptionTransaction</td>
                    <td>@item.GLAccount</td>
                    <td>@item.VendorName</td>
                    <td>@item.Npwp</td>
                    <td>@item.InvoiceNo</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.InvoiceDate)</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.BookPeriod)</td>
                    <td>@string.Format("{0:n0}", item.TurnoverAmount)</td>
                    <td>@string.Format("{0:n0}", item.VATAmount)</td>
                    <td>@string.Format("{0:n0}", item.WHTAmount)</td>
                    <td>@item.TaxInvoiceNo</td>
                    <td>@item.WitholdingTaxNo</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.WitholdingTaxDate)</td>
                    <td>@item.WHTArticle</td>
                    <td>@item.System</td>
                    <td>@item.PVNo</td>
                    @*<td>@item.PVCreatedBy</td>*@
                    <td>@item.CreatedBy</td>
                    <td>@item.SAPGRDocNo</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.SAPGRPostingDate)</td>
                    <td>@item.SAPInvoiceDocNo</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.SAPInvoicePostingDate)</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.ReceiveFileDate)</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.DownloadedDate)</td>
                    <td>@item.DownloadStatus</td>
                    <td>@(item.NominativeFormAttachment == "N/A" ? item.NominativeFormAttachment : Path.GetFileName(item.NominativeFormAttachment))</td>
                    <td>@item.NominativeIDNo</td>
                    <td>@item.NominativeStatus</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", item.NominativeDate)</td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @if (_page != null)
            {
                <input id="txtMaxPageHeader" type="text" class="hidden" />

                <script type="text/javascript" language="javascript">
                $("#txtMaxPageHeader").val(@_page.CountPage);
                $("#countTotalItems").html(@_page.CountData);
                </script>
                if (_page.CountData > 0)
                {
                    <ul class="pagination pagination-sm hidden-xs" style="margin-top: 0;">
                        <li><span class="_pagination-label">Showing @_page.StartData to @_page.ActualEndData of @_page.CountData row(s)</span></li>
                        <li><a href="javascript: onCallbackHeader(@_page.First)">First</a></li>
                        <li><a href="javascript: onCallbackHeader(@_page.Prev)">Prev</a></li>
                        @for (int p = 1; p <= @_page.CountPage; p++)
                        {
                            if ((p >= @_page.MinPage) && (p <= @_page.MaxPage))
                            {
                                if (@p == _page.PositionPage)
                                {
                                    <li class="active"><a href="javascript: onCallbackHeader(@p)">@p</a></li>
                                }
                                else
                                {
                                    <li><a href="javascript: onCallbackHeader(@p)">@p</a></li>
                                }
                            }
                        }
                        <li><a href="javascript: onCallbackHeader(@_page.Next)">Next</a></li>
                        <li><a href="javascript: onCallbackHeader(@_page.Last)">Last</a></li>
                        <li><span class="_pagination-empty"></span></li>
                        <li>
                            <span class="_pagination-goto">
                                <input type="text" class="_number-only" maxlength="4" id="txtgoHeader" />
                            </span>
                        </li>
                        <li>
                            <span class="_pagination-goto">
                                <button id="btngoHeader" type="button" class="_btn-go" onclick="javascript: onCallbackHeader($('#txtgoHeader').val());">Go</button>
                            </span>
                        </li>
                    </ul>

                    <div class="visible-xs text-center">
                        <div class="col-xs-12">
                            <span>Showing @_page.StartData to @_page.EndData of @_page.CountData row(s)</span>
                        </div>
                        <div class="col-xs-12">
                            <ul class="pagination pagination-sm">
                                <li><a href="javascript: onCallbackHeader(@_page.First)">First</a></li>
                                <li><a href="javascript: onCallbackHeader(@_page.Prev)">Prev</a></li>

                                @for (int p = 1; p <= @_page.CountPage; p++)
                                {
                                    if ((p >= @_page.MinPage) && (p <= @_page.MaxPage))
                                    {
                                        if (@p == _page.PositionPage)
                                        {
                                            <li class="active">
                                                <a href="javascript: onCallbackHeader(@p)">@p</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="javascript: onCallbackHeader(@p)">@p</a>
                                            </li>
                                        }
                                    }
                                }

                                <li><a href="javascript: onCallbackHeader(@_page.Next)">Next</a></li>
                                <li><a href="javascript: onCallbackHeader(@_page.Last)">Last</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4">
                            <div class="input-group">
                                <input id="txtgoHeader" type="text" class="form-control _number-only" maxlength="4" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning" id="btngoHeader" onclick="javascript: onCallbackHeader($('#txtgoHeader').val());">Go</button>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>