﻿@{
    ViewBag.Title = "Dashboard e-Nominative";
}
<div id="showDashboard">
    @section HeadScript{
        <style>
            ._searchCriteria {
                display: none;
            }

            .form-horizontal .form-group {
                min-height: 40px;
            }
        </style>
    }

    @Html.Partial("_SearchCriteria")


    <input id="txtPageHeader" type="text" class="hidden" />
    <div class="_line-br"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Partial("_UIPageSize")
        </div>
        <div class="col-xs-12 col-sm-6 text-right" font-size: 5px;>
            <div class="form-group form-group-xs">
                @Html.Partial("_UITotalSelectedIndicator")
                &nbsp;

                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "PrintFromPDF") ||
                   Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "PrintReportPDF"))
                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary">Print</button>

                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "PrintFromPDF"))
                            {
                                <li><a href="javascript:void(0);" onclick="Print('PrintFromPDF')">Download Nominative Form PDF</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "PrintReportPDF"))
                            {
                                <li><a href="javascript:void(0);" onclick="Print('PrintReportPDF')">Download Nominative Report PDF</a></li>
                            }
                        </ul>
                    </div>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "Delete"))
                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning" id="btnAction" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Action</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a style="cursor:pointer" onclick="Delete()">Delete</a></li>
                        </ul>
                    </div>
                }
                @if
                    (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReport") ||
                    Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadFromXls") ||
                    Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadFromPdf") ||
                    Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReportXls") ||
                    Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReportPdf"))
                {
                    <div class="btn-group btn-group-sm">
                        <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReport"))
                            {
                                <li><a href="javascript:void(0);" onclick="Download('DownloadReport')">Download Report</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadFromXls"))
                            {
                                <li><a href="javascript:void(0);" onclick="Download('DownloadFromXls')">Download Nominative Form xls</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadFromPdf"))
                            {
                                <li><a href="javascript:void(0);" onclick="Download('DownloadFromPdf')">Download Nominative Form PDF</a></li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReportXls"))
                            {
                                <li><a href="javascript:void(0);" onclick="Download('DownloadReportXls')">Download Nominative Report xls</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "DownloadReportPdf"))
                            {
                                <li><a href="javascript:void(0);" onclick="Download('DownloadReportPdf')">Download Nominative Report PDF</a></li>
                            }
                        </ul>
                    </div>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "UploadNominativeData") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "UploadNominativeFromPDFFile"))

                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning">Upload</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "UploadNominativeData"))
                            {
                                <li>@Html.ActionLink("Upload Nominative Data", "PopupUploadNominativeData", "Dashboard_Nominative", null, new { @class = "modal-link" })</li>
                            }

                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Dashboard_Nominative", "UploadNominativeFromPDFFile"))
                            {
                                <li><a href="#" onclick="onGetById()" data-toggle="modal">Upload Nominative Form PDF File</a></li>

                                @*<li>@Html.ActionLink("Upload Nominative Form PDF File", "PopupUploadNominativeFromPDFFile", "Dashboard_Nominative", null, new { @class = "modal-link" })</li>*@
                            }

                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    @Html.Partial("_SimpleGrid")

    <div class="modal fade" id="PopupUploadNominativeFromPDFFile" tabindex="-1" role="dialog" aria-hidden="true">
        @Html.Partial("_PopupUploadNominativeFromPDFFile")
    </div>

    <script type="text/javascript" src="@Url.Content("~/Content/js/utility.js")"></script>
    @section BodyScript{
        <script type="text/javascript">
            $(document).ready(function () {

                $(".btn-edit").click(function () {
                    $("#edit-popup").modal();
                });


                /* toggle show or hide searching criteria (that has class _searchCriteria) */
                $("#lnsearch-toggle").click(function () {
                    var _criteria = $("._searchCriteria");
                    _criteria.toggle(200, "linear");

                    var text = $("#lnsearch-toggle").text();
                    $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
                });

                onGetHeader(1);
            });
        </script>
    }
    @Html.Partial("_Javascript")
</div>

<div id="showDetails"></div>