﻿<div id="VATInScanForm">
    <h4>Header</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Tax Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtInvoiceNumber" name="txtinvoicenumber" class="_mask-nofaktur" type="text" style="width: 300px; border:1px solid #BDC3C7; border-radius: 4px; background-color:#EEEEEE; text-indent: 8px" readonly required />
                    &nbsp; &nbsp;
                    <span> <label id="lblfaktur"></label> </span>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Tax Invoice Date</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                <input id="txtInvoiceDate" name="txtinvoicedate"  type="text" style="width: 300px; border:1px solid #BDC3C7; border-radius: 4px; background-color:#EEEEEE; text-indent: 8px" readonly required />
                &nbsp; &nbsp;
                <span> <label id="lbldate"></label> </span>
                     
                    @*<label class="control-label text-muted" for="txtInvoicedate" id="lbldate" style="width: 300px; display:inline-block;"></label>*@
                </div>
            </div>
            
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Supplier NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtSupplierNPWP" type="text" class="form-control _mask-npwp" readonly required />
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Supplier Name</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtSupplierName" type="text" class="form-control" readonly required />
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Buyer NPWP (TAM)</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtBuyerNPWP" class="_mask-npwp" type="text" style="width: 300px; border:1px solid #BDC3C7; border-radius: 4px; background-color:#EEEEEE; text-indent: 8px" readonly />
                    &nbsp; &nbsp;
                    <span><label id="lblnpwp"></label></span>
                    @*<label class="control-label text-muted" id="lblnpwp" style="width:500px; display:inline-block; text-align:right"></label>*@
                </div>
                
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Buyer Name (TAM)</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtBuyerName" type="text" class="form-control" readonly />
                    <label id="lblcompany"></label>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Buyer Address (TAM)</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <textarea id="txtBuyerAddress" class="form-control" rows="3" readonly></textarea>
                    <label id="lbladdress" onload="getvalue()"></label>
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Total DPP</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtTotalDPP" type="text" class="form-control _mask-currency" readonly required />
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Total PPN</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtTotalPPN" type="text" class=" form-control _mask-currency" readonly required />
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Total PPnBM</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtTotalPPNBM" type="text" class="form-control _mask-currency" readonly required />
                </div>
            </div>
            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label text-muted">Notes</label>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <input id="txtnotes" type="text" maxlength="25" style="width:300px; border:1px solid #BDC3C7; border-radius: 4px; background-color:white; text-indent: 8px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="_line-br"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Detail Transaksi</h4>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <div class="btn-group-md">
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATInBarcodeFirstReceiver", "Save"))
                {
                    <button id="btnSave" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading..." type="button" class="btn btn-success">Save</button>
                }
                <button id="btnClear" type="button" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Discount</th>
                    <th>DPP</th>
                    <th>PPN</th>
                    <th>Tarif PPnBM</th>
                    <th>PPnBM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="danger" colspan="10"><b class="padding-5">No Record</b></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>