﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Upload eFaktur PDF File</h4>
    <hr />
    <form role="form" class="form">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-12 text-right">
                <a href="#">Download Template</a>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-file"></span>
                </span>
                <input type="file" class="form-control input-sm" placeholder="Full Name" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                
            </div>
            <div class="col-xs-3">
                <button class="btn btn-md btn-success btn-block">
                    Upload
                </button>
            </div>
        </div>
    </form>
</div>