﻿@using TAM.EFaktur.Web.Models.DRKB
@using TAM.EFaktur.Web.Models

@{
    List<DRKBDashboardViewModel> DRKBList = (List<DRKBDashboardViewModel>)ViewData["DRKBListDashboard"];
}

<div id="gridDRKB">
    <div class="table-responsive _table-flow">
        <table class="table table-striped table-bordered table-condensed fixed-columns" name="DRKBList">
            <thead>
                <tr>
                    <th rowspan="2" style="vertical-align:middle;" class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    <th rowspan="2" style="vertical-align:middle;"  class="fixed-column _col" onclick="sortItem('BusinessUnit')" style="cursor:pointer">Business Unit&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                    <th colspan="2" class="fixed-column _col">Tax invoice or Credit Note</th>
                    <th colspan="2" class="fixed-column _col">Customer</th>
                    <th rowspan="2" style="vertical-align:middle;" onclick="sortItem('FrameNumber')" style="cursor:pointer">&nbsp;&nbsp;&nbsp;Frame Number&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th rowspan="2" style="vertical-align:middle;" onclick="sortItem('EngineNumber')" style="cursor:pointer">Engine Number&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                <th rowspan="2" style="vertical-align:middle;" onclick="sortItem('MerkorType')" style="cursor:pointer">Merk Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th rowspan="2" style="vertical-align:middle;" onclick="sortItem('Model')" style="cursor:pointer">Model &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th rowspan="2" style="vertical-align:middle;" onclick="sortItem('Year')" style="cursor:pointer">Year &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                    <th colspan="2">Vehicle Selling Price</th>
                    <th rowspan="2" style="vertical-align:middle;" onclick="sortItem('PrevLuxTaxAmount')" style="cursor:pointer">Previous Luxury Tax Amount&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                    <th rowspan="2 "style="vertical-align:middle;" onclick="sortItem('Remark')" style="cursor:pointer">Remarks &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                </tr>
                <tr>
                    <th class="fixed-column _col" onclick="sortItem('TaxNumber')" style="cursor:pointer">Tax Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column _col" onclick="sortItem('TanggalFaktur')" style="cursor:pointer">Tax Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th  class="fixed-column _col" onclick="sortItem('NPWPCustomer')" style="cursor:pointer">&nbsp;&nbsp;&nbsp; NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th  class="fixed-column _col" onclick="sortItem('NamaCustomer')" style="cursor:pointer">Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    
                    <th onclick="sortItem('JumlahDPP')" style="cursor:pointer">VAT Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('JumlahPPN')" style="cursor:pointer">VAT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th onclick="" style="cursor:pointer">Luxury Tax Amount&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@

                </tr>
            </thead>
            <tbody>
                @if (DRKBList != null && DRKBList.Count > 0)
                {
                    foreach (var DRKB in DRKBList)
                    {
                <tr>
                    <td class="text-center fixed-column">
                        <input id="@string.Format("chkGrid{0}", DRKB.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                        <input type="hidden" class="DRKBId" value="@DRKB.IdNya" />
                    </td>
                    <td class="text-left fixed-column">@DRKB.BusinessUnit</td>

                    <td class="text-center fixed-column">@DRKB.TaxNumber</td>
                    <td class="text-center fixed-column">@DRKB.TanggalFaktur.FormatViewDate()</td>
                    <td class="text-center fixed-column">@DRKB.NPWPCustomer</td>
                    <td class="fixed-column">@DRKB.NamaCustomer</td>
                    <td>@DRKB.FrameNumber</td>
                    @*<td>@DRKB.EngineNumber</td>*@
                    <td>@DRKB.MerkorType</td>
                    <td>@DRKB.Model</td>
                    <td>@DRKB.Year</td>
                    <td class="text-right">@DRKB.JumlahDPP.FormatViewCurrency()</td>
                    <td class="text-right">@DRKB.JumlahPPN.FormatViewCurrency()</td>
                    @*<td class="text-right">@DRKB.JumlahLuxTax.FormatViewCurrency()</td>*@
                    <td class="text-right">@DRKB.PrevLuxTaxAmount.FormatViewCurrency()</td>

                    <td>@DRKB.Remarks</td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="20"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>