﻿<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Facility Category</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxFacCat">
                        <option value="">--ALL--</option>
                        <option value="SKB">SKB (Surat Keterangan Bebas)</option>
                        <option value="COD">COD (Certificate of Domicile)</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Facility No.</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxFacNo" type="text" class="form-control" readonly />
                        <input id="lookupTaxFacNo" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupTaxFacNo" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierName" type="text" class="form-control" readonly />
                        <input id="lookupSupplierName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSupplierName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            @*<div class="form-group form-group-xs _searchCriteria">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Address</label>
            <div class="col-xs-12 col-sm-9 col-md-8">
                <div class="input-group input-group input-group-xs">
                    <input id="txtSupplierAddress" type="text" class="form-control" readonly />
                    <input id="lookupSupplierAddress" type="hidden" />
                    <span class="input-group-btn">
                        <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSupplierAddress" })"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Country</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierCountry" type="text" class="form-control" readonly />
                        <input id="lookupSupplierCountry" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSupplierCountry" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Establishment Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSupplierEstDateFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 _searchCriteria">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtSupplierEstDateTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Facility Doc. Signer Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtFacDocSignerName" type="text" class="form-control" readonly />
                        <input id="lookupFacDocSignerName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupFacDocSignerName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">MAP Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlMAPCode" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Recorded Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordedDateFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 _searchCriteria">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordedDateTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtRecordTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtRecordTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlApprovalStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">PDF Facility Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlPDFFacStatus">
                        <option value="">--ALL--</option>
                        <option value="Exists">Exists</option>
                        <option value="NotExists">Not Exists</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SKB Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlSKBType" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Facility Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxFacDateFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTaxFacDateTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier TIN/NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierNPWP" type="text" class="form-control" placeholder="00.000.000-0.000.000" readonly />
                        <input id="lookupSupplierNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSupplierNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Phone No.</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtSupplierPhone" type="text" class="form-control" readonly />
                        <input id="lookupSupplierPhone" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupSupplierPhone" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Supplier Country Code</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <select class="form-control" id="ddlSupplierCountryCode" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Facility Valid Period</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtFacValidPeriodFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 _searchCriteria">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtFacValidPeriodTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Facility Doc. Signer Title</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtFacDocSignerTitle" type="text" class="form-control" readonly />
                        <input id="lookupFacDocSignerTitle" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupFacDocSignerTitle" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Recorded By</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordedBy" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateFrom" type="text" class="form-control" placeholder="From" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 _searchCriteria">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateTo" type="text" class="form-control" placeholder="To" @*value="@DateTime.Now.Day"*@ />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBoxRegister();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //Clear TextBox

    function clearTextBoxRegister() {
        //hardcode
        $("#lookupNameddlSupplierCountryCode").val("");
        $("#lookupIdddlSKBType").val("");
        $("#ddlSKBType").multiselect("clearSelection");
        $("#ddlApprovalStatus").multiselect("clearSelection");
        $("#ddlSupplierCountryCode").multiselect("clearSelection");


        $("#ddlRecordedBy").multiselect("clearSelection");
        $("#ddlMAPCode").multiselect("clearSelection");
        //document.getElementById("ddlTaxFacCat").value = "";
        //document.getElementById("ddlPDFFacStatus").value = "";

        //textarea
        //document.getElementById("txtTaxFacNo").value = "";
        $("#txtTaxFacNo").val("");
        document.getElementById("lookupTaxFacNo").value = "";

        $("#txtSupplierName").val("");
        //document.getElementById("txtSupplierName").value = "";
        document.getElementById("lookupSupplierName").value = "";

        $("#txtSupplierCountry").val("");
        //document.getElementById("txtSupplierCountry").value = "";
        document.getElementById("lookupSupplierCountry").value = "";

        $("#txtFacDocSignerName").val("");
        //document.getElementById("txtFacDocSignerName").value = "";
        document.getElementById("lookupFacDocSignerName").value = "";

        $("#txtSupplierNPWP").val("");
        //document.getElementById("txtSupplierNPWP").value = "";
        document.getElementById("lookupSupplierNPWP").value = "";

        $("#txtSupplierPhone").val("");
        //document.getElementById("txtSupplierPhone").value = "";
        document.getElementById("lookupSupplierPhone").value = "";

        $("#txtFacDocSignerTitle").val("");
        //document.getElementById("txtFacDocSignerTitle").value = "";
        document.getElementById("lookupFacDocSignerTitle").value = "";

        //date
        //document.getElementById("txtSupplierEstDateFrom").value = "";
        //document.getElementById("txtSupplierEstDateTo").value = "";
        //document.getElementById("txtRecordedDateFrom").value = "";
        //document.getElementById("txtRecordedDateTo").value = "";
        //document.getElementById("txtTaxFacDateFrom").value = "";
        //document.getElementById("txtTaxFacDateTo").value = "";
        //document.getElementById("txtFacValidPeriodFrom").value = "";
        //document.getElementById("txtFacValidPeriodTo").value = "";
        //document.getElementById("txtApprovalDateFrom").value = "";
        //document.getElementById("txtApprovalDateTo").value = "";
       

        document.getElementById("lookupIdddlSKBType").value = "";

        $("#ddlTaxFacCat").val("");
        $("#lookupTaxFacNo").val("");
        $("#lookupSupplierName").val("");
        //SupplierCountry: $("#lookupSupplierCountry").val();
        $("#txtSupplierEstDateFrom").val("");
        $("#txtSupplierEstDateTo").val("");
        $("#lookupFacDocSignerName").val("");
        $("#txtRecordedDateFrom").val("");
        $("#txtRecordedDateTo").val("");
        $("#txtTaxFacDateFrom").val("");
        $("#txtTaxFacDateTo").val("");
        $("#lookupSupplierNPWP").val("");
        $("#lookupSupplierPhone").val("");


        $("#txtFacValidPeriodFrom").val("");
        $("#txtFacValidPeriodTo").val("");
        $("#lookupFacDocSignerTitle").val("");
        $("#txtApprovalDateFrom").val("");
        $("#txtApprovalDateTo").val("");

        $("#lookupNameddlTaxFacCat").val("");
        $("#lookupNameddlApprovalStatus").val("");
        $("#ddlPDFFacStatus").val("");
        $("#lookupIdddlSKBType").val("");
        $("#lookupNameddlSupplierCountryCode").val("");
        $("#txtSupplierCountry").val("");
        $("#lookupNameddlRecordedBy").val("");

        $("#lookupIdddlMAPCode").val("");

        //lookup


    }
</script>
