﻿@using TAM.EFaktur.Web.Models.Register
@using TAM.EFaktur.Web.Models

@{
    List<RegisterDashboardViewModel> RegisterList = (List<RegisterDashboardViewModel>)ViewData["RegisterListDashboard"];
}

<div class="table-responsive _table-flow">
    <table class="table table-striped table-bordered table-condensed fixed-columns" id="DashboardRegister" style="width: auto !important;">
        <thead>
            <tr>
                <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                <th class="fixed-column _col" onclick="sortItem(1)" style="cursor:pointer">Tax Facility Category &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(2)" style="cursor:pointer">SKB Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th class="fixed-column _col" onclick="sortItem(3)" style="cursor:pointer">Tax Facility No. &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(4)" style="cursor:pointer">Tax Facility Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(5)" style="cursor:pointer">Supplier Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(6)" style="cursor:pointer">Supplier NPWP/TIN &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(7)" style="cursor:pointer">Supplier Phone No. &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(8)" style="cursor:pointer">Supplier Country &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(9)" style="cursor:pointer">Supplier Country Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(10)" style="cursor:pointer">Supplier Establishment Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(11)" style="cursor:pointer">Facility Valid Period From&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(12)" style="cursor:pointer">Facility Valid Period To&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(13)" style="cursor:pointer">Facility Doc. Signer Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(14)" style="cursor:pointer">Facility Doc. Signer Tittle &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(22)" style="cursor:pointer">MAP Code &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(15)" style="cursor:pointer">Recorded Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                <th onclick="sortItem(23)" style="cursor:pointer">Recorded Time &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                <th onclick="sortItem(16)" style="cursor:pointer">Recorded By &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(17)" style="cursor:pointer">Approval Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(18)" style="cursor:pointer">Approval Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(19)" style="cursor:pointer">Registration Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(20)" style="cursor:pointer">PDF Facility Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                <th onclick="sortItem(21)" style="cursor:pointer">Upload Doc. &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                @*<th onclick="sortItem(21)" style="cursor:pointer">Seq &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@

            </tr>
        </thead>
        <tbody>
            @if (RegisterList != null && RegisterList.Count > 0)
            {
                foreach (RegisterDashboardViewModel Register in RegisterList)
                {
            <tr>
                <td class="text-center fixed-column">
                    <input id="@string.Format("chkGrid{0}", Register.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                    <input type="hidden" class="TaxFacNo" value="@Register.TaxFacNo" />
                    <input type="hidden" class="TaxFacSeq" value="@Register.Seq" />
                </td>
                <td class="fixed-column">@Register.TaxFacCategory</td>
                <td class="fixed-column">@Register.SKBType</td>
                <td class="fixed-column">@Register.TaxFacNo</td>
                <td>@Register.TaxFacDate.FormatViewDate()</td>
                @*<td class="fixed-column WHtStatusInvoice">@Register.TaxFacDate.FormatViewDate()</td>*@
                <td>@Register.SupplierName</td>
                <td>@Register.SupplierNPWP</td>
                <td>@Register.SupplierPhoneNo</td>
                <td>@Register.SupplierCountryName</td>
                <td>@Register.SupplierCountry</td>
                <td>@Register.SupplierEstDate.FormatViewDate()</td>
                <td>@Register.FacValidPeriodFrom.FormatViewDate()</td>
                <td>@Register.FacValidPeriodTo.FormatViewDate()</td>
                <td>@Register.FacDocSignerName</td>
                <td>@Register.FacDocSignerTitle</td>
                <td>@Register.MAPCode</td>
                <td>@Register.RecordedDate.FormatViewDate()</td>
                <td>@Register.RecordedDate.FormatViewTime()</td>
                @*@if (Register.RecordedDate != DateTime.MinValue) //!dat.HasValue apabila datetimenullable
        {
            @Register.RecordedDate.FormatViewTime()
        }*@
                <td>@Register.RecordedBy</td>
                <td>@Register.ApprovalStatus</td>
                <td>@Register.ApprovalDate.FormatViewDate()</td>
                <td>@Register.RegistrationNumber</td>
                <td>
                    @if (Register.PDFFacStatus == "0" || Register.PDFFacStatus == null)
                    {
                        <text>
                            Not Exist
                        </text>
                    }
                    else
                    {
                        <text>
                            Exist
                        </text>
                    }
                </td>

                <td>

            @if (Register.PDFFacStatus == "0" || Register.PDFFacStatus == null)
        {
            @Html.ActionLink("Upload File", "PopupUploadRegisterFile", "Register", new { taxFaxNo = Register.TaxFacNo } ,new { @class = "modal-link" })
        }
        </td>
                @*<td style="display:none">@Register.Seq</td>*@
        

            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="danger" colspan="31"><b class="padding-5">No Record</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-12 bottom-margin-20">
        @Html.Partial("_UIPaging")
    </div>
</div>
<script>
    function DownloadFilePDF(url) {
        alert(url);
        window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")";
    }
</script>
<script>
    function pageurl(url) {
        window.Location = url;
    };
</script>
