﻿<script src="~/Content/js/utility.js"></script>
<script type="text/javascript">

    var searchParam = {};
    var insertUser = {};
    var sort = {
        sortBy: 1,
        sortDirection: true
    };
    //bind event to buttons
    $("#btnSearch").click(function () {
        //console.log($("#lookupAlamatPT").val());
        searchParam = {
            //Username    : $("#lookupUserName").val(),
            //Email       : $("#lookupEmail").val(),
            Lokasi: $("#lookupLokasi").val(),
            Code: $("#lookupCode").val(),
            Nama_pt: $("#lookupNamaPT").val(),
            Jabatan_ttd: $("#lookupJabatanTTD").val(),
            Npwp_pt: $("#lookupNPWPPT").val(),
            Npwp_ttd: $("#lookupNpwpTTD").val(),
            Nama_ttd: $("#lookupNamaTTD").val(),
            Cut_Off_Start: $("#txtCutOffStart").val(),
            Cut_Off_End: $("#txtCutOffEnd").val(),

        };
        onGet(1);
    });

    //Function Search User
    function sortItem(field) {
        if (sort.sortBy == field) {
            sort.sortDirection = !sort.sortDirection;
        }
        else {
            sort.sortBy = field;
            sort.sortDirection = true;
        }
        onGet(1);
    }

    //Ajax POST/GET Method
    function onGet(page) {
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetUserList")",
            data: {
            data: JSON.stringify(searchParam),
            sortBy: sort.sortBy,
            sortDirection: sort.sortDirection,
            page: page,
            size: $("#ddlPageSize").val()
            },
            beforeSend: function () {
            $('#btnSearch').button('loading');
            if (DEBUG) {
            console.log('Search Start');
            }
            },
            success: function (result) {
            $("#gridMasterUser").html(result);
            if (DEBUG) {
            console.log('Search Result Rendered');
            }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            if (DEBUG) {
            console.log("error: " + errorThrown);
            }
            },
            complete: function () {
            $('#btnSearch').button('reset');
            if (DEBUG) {
            console.log('Search Done');
            }
            }
            });
            }

            function onCallback(pg) {
            var mx = $("#txtMaxPage").val();
            if ((pg <= mx) && (pg > 0)) {
            onGet(pg);
            }
            else {
            msgWarning('Page not found');
            }
            }

            //GetRoleDropdownList

            var URLDropdownDivision;
            var URLDropdownRole;
            $(document).ready(function () {
            URLDropdownDivision = "@Html.Toyota().Page.BaseUrl" + "/Master_Division/GetDivisionDropdown";
            getDropdownData(URLDropdownDivision, "ddlDivision");

            URLDropdownRole = "@Html.Toyota().Page.BaseUrl" + "/Master_Role/GetRoleDropdownList";
            getDropdownData(URLDropdownRole, "ddlRole");

            });

            var User = {};
            var URLSave = "@Html.Toyota().Page.GetActionUrl("Insert")";
            var URLSaveUpdate = "@Html.Toyota().Page.GetActionUrl("Update")";
            var URLSaveDelete = "@Html.Toyota().Page.GetActionUrl("Delete")";
            var URLSaveImage = "@Html.Toyota().Page.GetActionUrl("PopupCreateCompanyDetail")";
            var formData = new FormData();

    //custom revalidate for masking
    $('[name="Npwp_pt"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            debugger;
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_pt');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="Npwp_pt"]').val().indexOf('_') > -1) {
                $('[name="Npwp_pt"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_pt');
        });

    $('[name="SupplierNPWP"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="SupplierNPWP"]').val().indexOf('_') > -1) {
                $('[name="SupplierNPWP"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'SupplierNPWP');
        });

    function openfile(file) {
        alert('vewi');
        window.location = file;
    }

    function Download(type) {
        var warning = '';
        //popup for CSV
            //console.log(JSON.stringify(searchParam));
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GenerateDownloadFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    //vatOutSalesReturnIdList: JSON.stringify(vatOutSalesReturnIdList),
                    type: type,
                },
                success: function (result) {
                    if (result.ResultCode) {
                        if (result.Data != null && result.Data != "") {
                            window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.Data;
                            onGet(1);
                            msgOk(result.ResultDesc)

                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                }
            });

    }
</script>