﻿@using TAM.EFaktur.Web.Models.Master_Company_Details
@using TAM.EFaktur.Web.Models

@{
    CompanyUpdate Company = (CompanyUpdate)ViewData["DeleteCompanyDetail"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <center><h4 class="modal-title">Data will be deleted. Are you sure?</h4></center>
    <hr />

    <form role="form" class="form-horizontal" id="DeleteUserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@Company.Id" id="hiddenId" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted" style="display: none;">Code</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCodeUpdate" name="Code" type="text" class="form-control" value="@Company.Code" readonly style="display: none;" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted" style="display: none;">Lokasi</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtLokasiUpdate" name="Lokasi" type="text" class="form-control" value="@Company.Lokasi" readonly style="display: none;" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    @*getDropdownData(URLDropdownDivision, "ddlDivisionPopupUpdate", "@User.DivisionId");
    getDropdownData(URLDropdownRole, "ddlRolePopupUpdate", "@User.RoleId");*@

    $("#btnSave").click(function () {
        console.log($("#Code").val());
        User = {
            Id: $("#hiddenId").val(),
            Code: $("#txtCodeUpdate").val()
        };
        onSubmit();
    });

    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(User)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }
</script>