﻿<div class="modal-body ">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Create New Company</h4>
    <hr />

    <form role="form" class="form-horizontal" id="CreateCompanyForm" size="1000" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Key Invoice Number</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtCodeNameCreate" name="Code" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sign Off Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNamaTtdCreate" name="Nama_ttd" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Location</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtLokasiCreate" name="Lokasi" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sign Off Position</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtJabatanTtdCreate" name="Jabatan_ttd" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Company Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNamaPTCreate" name="Nama_pt" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sign Off NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNpwpTtdCreate" name="Npwp_ttd" type="text" class="form-control _mask-npwp" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Company NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNPWPPTCreate" name="Npwp_pt" type="text" class="form-control _mask-npwp" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Company Addres</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtAlamatPTCreate" name="alamat_pt" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Company Number</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtNoPengukuhanCreate" name="no_pengukuhan_pt" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Cut Off Start</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class='input-group input-group-xs  _datepicker'>
                            <input id="txtCut_Off_StartCreate" name="Cut_Off_Start" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Cut Off End</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <div class='input-group input-group-xs _datepicker'>
                            <input id="txtCut_Off_EndCreate" name="Cut_Off_End" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs ">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Sign Off Image</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="fileToUpload" name="fileToUpload" type="file" onchange="validate_fileupload(event, this.value,'output_imageTtd');" required>
                        <img id="output_imageTtd" style="height: 100px;width:100px" />
                        <label style="font-size:x-small">Format File.PNG & JPG</label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs ">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Stamp Image</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="fileToUploadCap" name="fileToUploadCap" value="~/Images/DefaultCap.png" type="file" onchange="validate_fileupload(event,this.value,'output_imageCap');">
                        <img id="output_imageCap" src="~/Images/DefaultCap.png" style="height:100px; width:100px" />
                        <label style="font-size:x-small">Format File.PNG & JPG </label>

                        <br />
                        <input id="isCapRemove" name="isCapRemove" type="hidden" value="false">
                        <button type="button" class="btn btn-default" id="btnRemoveCap" onclick="removeCap()">Remove Image</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/Content/js/utility.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#modal-container .modal-dialog").addClass("modal-lg")
        $('#CreateCompanyForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                //name of field
                Code: {
                    validators: {
                        notEmpty: {
                            message: 'Key Invoice Number is required'
                        }
                    }
                },
                Nama_ttd: {
                    validators: {
                        notEmpty: {
                            message: 'Sign Off Name  is required'
                        }
                    }
                },

                Lokasi: {
                    validators: {
                        notEmpty: {
                            message: 'Location is required'
                        }
                    }
                },

                Jabatan_ttd: {
                    validators: {
                        notEmpty: {
                            message: 'Sign Off Position is required'
                        }
                    }
                },

                Nama_pt: {
                    validators: {
                        notEmpty: {
                            message: 'Company Name is required'
                        }
                    }
                },


                //alamat_pt: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Company  Addres is required '
                //        }
                //    }
                //},

                no_pengukuhan_pt: {
                    validators: {
                        notEmpty: {
                            message: 'Company Number  Addres is required '
                        }
                    }
                },


                Cut_Off_Start: {
                    validators: {
                        notEmpty: {
                            message: 'Cut Off Start is required '
                        }
                    }
                },

                Cut_Off_End: {
                    validators: {
                        notEmpty: {
                            message: 'Cut Off End is required '
                        }
                    }
                },

                Npwp_pt: {
                    validators: {
                        notEmpty: {
                            message: 'Company NPWP is required '
                        }
                    }
                },

                //Npwp_ttd: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Sign Off NPWP is required '
                //        }
                //    }
                //},




            }
        })
            .on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();

                onSubmit();
            });
    });

    getDropdownData(URLDropdownDivision, "ddlDivisionPopupCreate");
    getDropdownData(URLDropdownRole, "ddlRolePopupCreate");

    //Insert New Company
    //Ajax POST/GET Method

    //ygbenerdikomen
    $("#btnSave").click(function () {
        formData.append("Lokasi", $("#txtLokasiCreate").val());
        formData.append("Nama_pt", $("#txtNamaPTCreate").val());
        formData.append("Npwp_pt", $("#txtNPWPPTCreate").val());
        formData.append("Npwp_ttd", $("#txtNpwpTtdCreate").val());
        formData.append("Nama_ttd", $("#txtNamaTtdCreate").val());
        formData.append("Jabatan_ttd", $("#txtJabatanTtdCreate").val());
        var files = $("#fileToUpload").get(0).files;
        formData.append("fileUpload", files[0]);

        var filesCap = $("#fileToUploadCap").get(0).files;
        formData.append("fileUploadCap", filesCap[0]);
        formData.append("Code", $("#txtCodeNameCreate").val());
        formData.append("alamat_pt", $("#txtAlamatPTCreate").val());
        formData.append("no_pengukuhan_pt", $("#txtNoPengukuhanCreate").val());
        formData.append("Cut_Off_Start", $("#txtCut_Off_StartCreate").val());
        formData.append("Cut_Off_End", $("#txtCut_Off_EndCreate").val());

        formData.append("isCapRemove", $("#isCapRemove").val());

    });


    function onSubmit() {
        var warning = 'Data will be saved. Are you sure?';
        var isCloseModal = false;
        if (confirm(warning)) {
            $.ajax({
                type: "POST",
                url: URLSaveImage,
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('#btnSave').button('loading');
                    if (DEBUG) {
                    }
                },
                //success: function (result) {
                //    if (result.ResultCode) {
                //        msgOk(result.ResultDesc);
                //        formData = new FormData(); // clear global variable
                //    }

                success: function (result) {
                    if (result.ResultCode) {
                        msgOk(result.ResultDesc);
                        formData = new FormData(); // clear global variable
                        isCloseModal = true;
                    }
                    else
                        msgError(result.ResultDesc);

                    if (DEBUG) {
                        console.log('Save Success');
                        formData = new FormData(); // clear global variable
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log("error: " + errorThrown);
                    }
                    msgError("An error has occured");
                },
                complete: function () {
                    $('#btnSave').button('reset');
                    if (DEBUG) {
                        console.log('Save Done');
                    }
                    onGet(1);
                    if (isCloseModal)
                        $('#btnCancel').click();
                }

            });
        }
    }

    function validate_fileupload(event, fileName, targersrc) {
        var allowed_extensions =
            ["png",
                "jpg"]
            ;

        var file_extension = fileName.split('.').pop().toLowerCase(); // split function will split the filename by dot(.), and pop function will pop the last element from the array which will give you the extension as well. If there will be no extension then it will return the filename.
        var extension = allowed_extensions.find(element => element == file_extension)
        console.log(extension);


        if (extension == undefined) {
            alert("Required format image .png and .jpg");
            $("#fileToUpload").val('');
            $("#fileToUploadCap").val('');
        }
        else {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById(targersrc);

                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    }

    //custom revalidate for masking
    $('[name="Npwp_pt"]')
        .on('keypress', function (e) {
            // Revalidate the when user press key
            //debugger;
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_pt');
        })
        .on('blur', function (e) {
            //detect and clear if there is any underscore char made by maskedinput
            if ($('[name="Npwp_pt"]').val().indexOf('_') > -1) {
                $('[name="Npwp_pt"]').val('');
            }
            // Revalidate the when user blur out from input text
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_pt');
        });

    //$('[name="Npwp_ttd"]')
    //    .on('keypress', function (e) {
    //        // Revalidate the when user press key
    //        //debugger;
    //        $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_ttd');
    //    })
    //    .on('blur', function (e) {
    //        //detect and clear if there is any underscore char made by maskedinput
    //        if ($('[name="Npwp_ttd"]').val().indexOf('_') > -1) {
    //            $('[name="Npwp_ttd"]').val('');
    //        }
    //        // Revalidate the when user blur out from input text
    //        $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Npwp_ttd');
    //    });

    $('[name="Cut_Off_Start"]')
        .on('blur', function (e) {
            // Revalidate the when user blur out from input text
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Cut_Off_Start');
        });
    $('[name="Cut_Off_End"]')
        .on('blur', function (e) {
            // Revalidate the when user blur out from input text
            $('#CreateCompanyForm').bootstrapValidator('revalidateField', 'Cut_Off_End');
        });


    function removeCap() {
        if (confirm('Are you sure to remove image ?')) {
            $('#output_imageCap').attr('src', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
            $('#isCapRemove').val('true');
            $('#fileToUploadCap').val('');
        } else {

        }
    }
</script>
