﻿<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col">
            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Key Invoice Number</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtCode" type="text" class="form-control" readonly />
                            <input id="lookupCode" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupCode" })" required><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch ">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Location</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtLokasi" type="text" class="form-control" readonly />
                            <input id="lookupLokasi" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupLokasi" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Company NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtNPWPPT" type="text" class="form-control _mask-npwp" placeholder="00.000.000-0.000.000" readonly />
                            <input id="lookupNPWPPT" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupNPWPPT" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
            <div class="form-group form-group-xs PopupMultipleSearch">
                <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Company Name</label>
                <div class="col-xs-12 col-sm-9 col-md-7">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtNamaPT" type="text" class="form-control" readonly />
                        <input id="lookupNamaPT" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupNamaPT" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col">

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Sign Off NPWP</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtNpwpTTD" type="text" class="form-control _mask-npwp" placeholder="00.000.000-0.000.000" readonly />
                            <input id="lookupNpwpTTD" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupNpwpTTD" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Sign Off Name</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtNamaTTD" type="text" class="form-control" readonly />
                            <input id="lookupNamaTTD" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupNamaTTD" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Sign Off Position </label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        <div class="input-group input-group input-group-xs">
                            <input id="txtJabatanTTD" type="text" class="form-control" readonly />
                            <input id="lookupJabatanTTD" type="hidden" />
                            <span class="input-group-btn">
                                <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupJabatanTTD" })"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="col">


            @*<div class="col-xs-12 col-sm-6 col-md-6 PopupMultipleSearch">
                    <div class="form-group form-group-xs PopupMultipleSearch">
                        <label class="col-xs-10 col-sm-2 col-md-3 control-label text-muted">Alamat PT</label>
                        <div class="col-xs-12 col-sm-9 col-md-5">
                            <div class="input-group input-group input-group-xs">
                                <input id="txtAlamatPT" type="text" class="form-control" readonly />
                                <input id="lookupAlamatPT" type="hidden" />
                                <span class="input-group-btn">
                                    <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupAlamatPT" })"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 PopupMultipleSearch">
                    <div class="form-group form-group-xs PopupMultipleSearch">
                        <label class="col-xs-10 col-sm-2 col-md-3 control-label text-muted">No Pengukuhan  PT</label>
                        <div class="col-xs-12 col-sm-9 col-md-5">
                            <div class="input-group input-group input-group-xs">
                                <input id="txtNoPengukuhanPT" type="text" class="form-control" readonly />
                                <input id="lookupNoPengukuhanPT" type="hidden" />
                                <span class="input-group-btn">
                                    <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookupNoPengukuhanPT" })"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Cut Off Start</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        @*<div class="input-group input-group input-group-xs">*@
                        <div class='input-group input-group-xs _datepicker'>
                            <input id="txtCutOffStart" type="text" name="Cut_Off_Start" class="form-control" />
                            @*<input id="lookuptxtCutOffStart" type="hidden" />*@
                            @*<span class="input-group-btn">*@
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                                @*<a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookuptxtCutOffStart" })"></a>*@
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12 PopupMultipleSearch">
                <div class="form-group form-group-xs PopupMultipleSearch">
                    <label class="col-xs-10 col-sm-2 col-md-5 control-label text-muted">Cut Off End</label>
                    <div class="col-xs-12 col-sm-9 col-md-7">
                        @*<div class="input-group input-group input-group-xs">*@
                        <div class='input-group input-group-xs _datepicker'>
                            <input id="txtCutOffEnd" type="text" name="" class="form-control" />
                            @*<input id="lookuptxtCutOffEnd" type="hidden" />*@
                            @*<span class="input-group-btn">*@
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                                @*<a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "Master_Company_Details", new { Id = "lookuptxtCutOffEnd" })"></a>*@
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">

        </div>
        <div class="col-xs-5 text-right">
            <div class="btn-group-sm">
                @*@Html.ActionLink("Create New Company", "PopupCreateCompanyDetail", "Master_Company_Details", null, new { @class = "modal-link btn btn-danger" })*@
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                &nbsp;
                @*<button type="reset" id="btnclear" class="btn btn-default" value="Clear" onclick='clearTextBox(),window.location.reload();'>Clear</button>*@
                <button type="reset" class="btn btn-default" onclick='clearTextBox()'>Clear</button>
                @*&nbsp;
                    <button type="reset" class="btn btn-warning" value="Download">Download To Excel</button>*@
            </div>
        </div>
    </div>
</form>

@*<script>
        const reloadtButton = document.querySelector("#btnclear");
        function btnclear() {
            btnclear = location.reload();
        }
    </script>*@

<script type="Text/Javascript">
    //Clear TextBox
    function clearTextBox() {
        document.getElementById("txtLokasi").value = "";
        document.getElementById("lookupLokasi").value = "";
        document.getElementById("txtCode").value = "";
        document.getElementById("lookupCode").value = "";
        document.getElementById("txtNamaPT").value = "";
        document.getElementById("lookupNamaPT").value = "";
        document.getElementById("txtJabatanTTD").value = "";
        document.getElementById("lookupJabatanTTD").value = "";
        document.getElementById("txtNPWPPT").value = "";
        document.getElementById("lookupNPWPPT").value = "";
        document.getElementById("txtNamaTTD").value = "";
        document.getElementById("lookupNamaTTD").value = "";
        document.getElementById("txtNpwpTTD").value = "";
        document.getElementById("lookupNpwpTTD").value = "";
        document.getElementById("txtDivisionName").value = "";
        document.getElementById("ddlDivision").value = "";
        document.getElementById("txtCutOffStart").value = "";
        //document.getElementById("lookuptxtCutOffStart").value = "";
        //$('#lookuptxtCutOffEnd')._datepicker('refresh');
        //$('#lookuptxtCutOffEnd').datepicker('refresh');
        document.getElementById("txtCutOffEnd").value = "";
        //document.getElementById("lookuptxtCutOffEnd").value = "";

        //$('#lookuptxtCutOffStart').multiselect("");
        //$('#lookuptxtCutOffStart').datepicker("").value = "";

        document.getElementById("txtRoleName").value = "";
        document.getElementById("ddlRole").value = "";
        $('#ddlRole').multiselect('refresh');
        document.getElementById("lookupIdddlRole").value = "";
        document.getElementById("lookupNameddlRole").value = "";
        $('#ddlDivision').multiselect('refresh');
        document.getElementById("lookupIdddlDivision").value = "";
        document.getElementById("lookupNameddlDivision").value = "";

    //      $('[name="Cut_Off_Start"]')
    //    .on('blur', function (e) {
    //        // Revalidate the when user blur out from input text
    //        $('#InputUserForm').bootstrapValidator('revalidateField', 'Cut_Off_Start');
    //    });
    //$('[name="Cut_Off_End"]')
    //    .on('blur', function (e) {
    //        // Revalidate the when user blur out from input text
    //        $('#InputUserForm').bootstrapValidator('revalidateField', 'Cut_Off_End');
    //    });
     
    }
  

</script>