﻿<script type="text/javascript">
    var searchParam = {};
    var id = "";
    $(document).ready(function () {
        var url_string = window.location.href
        var url = new URL(url_string);
        var notifFilter = url.searchParams.get("notifFilter");
        var getid = url.searchParams.get("id");

        var dateObjFrom = new Date();
        dateObjFrom.setDate(dateObjFrom.getDate() - @ViewBag.Notif_Days);
        var monthFrom = dateObjFrom.getUTCMonth() + 1;
        var dayFrom = dateObjFrom.getUTCDate();
        var yearFrom = dateObjFrom.getUTCFullYear();
        var newdateFrom =  dayFrom + "-" + monthFrom + "-" + yearFrom;

        var dateObjTo = new Date();
        var monthTo = dateObjTo.getUTCMonth() + 1;
        var dayTo = dateObjTo.getUTCDate();
        var yearTo = dateObjTo.getUTCFullYear();
        var newdateTo = dayTo + "-" + monthTo + "-" + yearTo;

        if (notifFilter) {
            //console.log('masuk notiffilter')

            $("#txtTaxInvoiceDateFrom").val(newdateFrom);
            $("#txtTaxInvoiceDateTo").val(newdateTo);

            searchParam = {
                EFakturStatus: notifFilter,
                TanggalFakturFrom: newdateFrom,
                TanggalFakturTo: newdateTo
            };

            onGet(1);
        }
        if (getid) {
            console.log('masuk id')
            id = getid;
            onGet(1);
            id = ""
        } else {
            id = "";
        }

    });

    var sort = {
        sortBy: 'VO.BusinessUnit,VO.TanggalFaktur,VO.NPWPCustomer',
        sortDirection: true
    };
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=ApprovalStatus", "ddlApprovalStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=StatusRekam", "ddlRecordStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=DownloadStatus", "ddlDownloadStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=PDFFilesStatus", "ddlPDFFileStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TaxInvoiceStatus", "ddlTaxInvoiceStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TransitoryStatus", "ddlTransitoryStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=ddlColor", "dllEFakturStatus");

    @if (ViewBag.IsFullACcess)
    {
        <text>
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=BusinessUnit", "ddlBusinessUnit");
    </text>
    }
    else
    {

          <text>
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetBusinessUnitByDivisionName?DivisionName=Lexus", "ddlBusinessUnit");
    </text>
    }



    //bind event to buttons
    $("#btnSearch").click(function () {

        //add by DA utk validasi
        if (!ValidasiEfakturStatus()) {
            return false;
        }
        window.history.replaceState({}, document.title, "/" + "VATOut");
        searchParam = {
                TanggalFakturFrom: $("#txtTaxInvoiceDateFrom").val(),
                TanggalFakturTo: $("#txtTaxInvoiceDateTo").val(),
                TanggalFileDiterimaFrom: $("#txtReceiveFileDateFrom").val(),
                TanggalFileDiterimaTo: $("#txtReceiveFileDateTo").val(),
                WaktuFileDiterimaFrom: $("#txtReceiveFileTimeFrom").val(),
                WaktuFileDiterimaTo: $("#txtReceiveFileTimeTo").val(),
                TanggalDownloadFrom: $("#txtDownloadDateFrom").val(),
                TanggalDownloadTo: $("#txtDownloadDateTo").val(),
                WaktuDownloadFrom: $("#txtDownloadTimeFrom").val(),
                WaktuDownloadTo: $("#txtDownloadTimeTo").val(),
                RecordTimeFrom: $("#txtRecordDateFrom").val(),
                RecordTimeTo: $("#txtRecordDateTo").val(),
                ApprovalTimeFrom: $("#txtApprovalDateFrom").val(),
                ApprovalTimeTo: $("#txtApprovalDateTo").val(),

                TaxInvoiceStatus: $("#lookupNameddlTaxInvoiceStatus").val(),
                TransitoryStatus: $("#lookupNameddlTransitoryStatus").val(),
                TransitoryNumber: $("#lookupTransitoryNumber").val(),
                TransitoryDateFrom: $("#txtTransitoryDateFrom").val(),
                TransitoryDateTo: $("#txtTransitoryDateTo").val(),

                BusinessUnit: $("#lookupNameddlBusinessUnit").val(),
                TransactionDataFile: $("#lookupTransactionDataFile").val(),
                NomorFakturPajak: $("#lookupTaxInvoiceNumber").val(),
                DANumber: $("#lookupDANumber").val(),
                NPWPCustomer: $("#lookupCustomerNPWP").val(),
                NamaCustomer: $("#lookupCustomerName").val(),
                VATBaseAmount: $("#txtVATBaseAmount").val(),
                VATBaseAmountOperator: $("#ddlVATBaseAmountOperator").val(),
                VATAmount: $("#txtVATAmount").val(),
                VATAmountOperator: $("#ddlVATAmountOperator").val(),
                RecordStatus: $("#lookupNameddlRecordStatus").val(),
                DownloadStatus: $("#lookupNameddlDownloadStatus").val(),
                ApprovalStatus: $("#lookupNameddlApprovalStatus").val(),
                BatchFileName: $("#lookupBatchFileName").val(),
                PDFFileStatus: $("#lookupNameddlPDFFileStatus").val(),
                //PDFFileStatus: $("#lookupNamedllEFakturStatus").val()
                EFakturStatus: $("#lookupNamedllEFakturStatus").val()
        };
        onGet(1);

    });

    $('#btnPrint').click(function () {
        var vatOutIdList = GetIdList();
        var isValid = true;

        if (vatOutIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        if (isValid) {
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GeneratePrintFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    vatOutIdList: JSON.stringify(vatOutIdList),
                    checkAll: $("#checkall").is(":checked")
                },
                beforeSend: function () {
                    $('#btnPrint').button('loading');
                    if (DEBUG) {
                        console.log('Generate Print Start');
                    }
                },
                success: function (result) {
                    if (result.ResultCode) {
                        if (result.Data != null && result.Data != "") {
                            window.open(result.Data, '_newtab');
                            onGet(1);
                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log('Generate Print Error');
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnPrint').button('reset');
                    if (DEBUG) {
                        console.log('Generate Print Done');
                    }
                }
            });
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    });

    $("#ddlPageSize").change(function () {
        onGet(1);
    });

    function sortItem(field) {
        if (sort.sortBy == field) {
            sort.sortDirection = !sort.sortDirection;
        }
        else {
            sort.sortBy = field;
            sort.sortDirection = true;
        }
        onGet(1);
    }

    //Ajax POST/GET Method
    function onGet(page) {
        @if (ViewBag.IsAuthPage)
        {
            @:clearCheckedItems();
        }
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetVATOutList")",
            data: {
                data: JSON.stringify(searchParam),
                sortBy: sort.sortBy,
                sortDirection: sort.sortDirection,
                page: page,
                Id: id,
                size: $("#ddlPageSize").val()
            },
            beforeSend: function () {
                $('#btnSearch').button('loading');
                    if (DEBUG) {
                        console.log('Search Start');
                    }
                },
            success: function (result) {
                    if (checkLoginTimeout(result)) return;

                $("#gridVATOut").html(result);
                    freezeTable.init();
                    if (DEBUG) {
                        console.log('Search Result Rendered');
                    }

                },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                    var title = XMLHttpRequest.responseText.match(/<title[^>]*>([^<]+)<\/title>/);
                    console.log("error: " + title[1]);

                    var check = XMLHttpRequest.responseText.includes('timeout');
                    if (check) {

                        msgError("Load too much data, please refine your filters");
                    }
                    else {

                        msgError("Error " + title[1]);
                    }

                },
            complete: function () {
                $('#btnSearch').button('reset');
                    if (DEBUG) {
                        console.log('Search Done');
                    }
                }
            });
        }

    var isContainDownloaded = false;
    function GetIdList() {
        var IdList = [];
        isContainDownloaded = false;
        isPermittedDownload = true;

        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATOutId').val();
                var thisDownloadStatus = $(this).find('.VATOutDownloadStatus').html();
                var thisApprovalStatus = $(this).find('.VATOutApprovalStatus').html();
                if (!$("#checkall").is(":checked")) {
                    IdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }
                console.log(thisDownloadStatus);
                if (thisApprovalStatus.toLowerCase() == 'reject') {
                    isPermittedDownload = false;
                }
                if (thisDownloadStatus.toLowerCase() == 'yes') {
                    isContainDownloaded = true;
                }
            }
        });

        return IdList;
    }

    function Download(type) {
        var vatOutIdList = GetIdList();
        var isValid = true;

        var warning = '';

        console.log(isContainDownloaded);
        //popup for CSV
        if (type == 'csv' && isContainDownloaded) {
            warning = 'Checked item(s) contain an already downloaded CSV. Do you want to proceed?';
            if (!confirm(warning)) {
                return;
            }
        }

        if (type == 'csv' && !isPermittedDownload ) {
            warning = 'Checked item(s) contain Reject Approval Status!';
            alert(warning);
            return;
        }

        if (vatOutIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        if (isValid) {
            console.log(JSON.stringify(searchParam));
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GenerateDownloadFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    vatOutIdList: JSON.stringify(vatOutIdList),
                    type: type,
                    checkAll: $("#checkall").is(":checked")
                },
                beforeSend: function () {
                    $('#btnDownloadChoice').button('loading');
                    if (DEBUG) {
                        console.log('Generate Download Start');
                    }
                },
                success: function (result) {
                    if (result.ResultCode) {
                        if (result.Data != null && result.Data != "") {
                            window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.Data;
                            onGet(1);
                            msgOk(result.ResultDesc);
                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        console.log('Generate Download Error');
                        console.log("error: " + errorThrown);
                    }
                },
                complete: function () {
                    $('#btnDownloadChoice').button('reset');
                    if (DEBUG) {
                        console.log('Generate Download Done');
                    }
                }
            });
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    }

    function onCallback(pg) {
        var mx = $("#txtMaxPage").val();
        if ((pg <= mx) && (pg > 0)) {
            onGet(pg);
        }
        else {
            msgWarning('Page not found');
        }
    }

    function ValidasiEfakturStatus() {

        if ($("#lookupNamedllEFakturStatus").val()) {

            if ($("#txtTaxInvoiceDateFrom").val() && $("#txtTaxInvoiceDateTo").val()) {
                document.getElementById("btnSearch").disabled = false;
                return true;
            }
            else {

                msgWarning('Invoice Date is required and can\'t be empty');
                document.getElementById("btnSearch").disabled = true;
                return false;
            }
        }
        return true;
    }
    function EnabledbtnSearch() {

     document.getElementById("btnSearch").disabled = false;
     return true;

    }
    //add by DA 26112020

    function DeleteVATOut() {
        vatoutIdList = [];
        var isValid = true;


        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATOutId').val();
                //var thisTransitoryStatus = $(this).find('.TransitoryStatus').html();
                if (!$("#checkall").is(":checked")) {
                    vatoutIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }


            }
        });


        //popup for Delete
        var warn = '';

         if (vatoutIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        var warning = 'Are you sure you want to delete the data?';
        if (isValid) {
            if (confirm(warning)) {
                console.log(JSON.stringify(searchParam));
                $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.GetActionUrl("DeleteVATOutSales")",
                    data: {
                        data: JSON.stringify(searchParam),
                        vatoutIdList: JSON.stringify(vatoutIdList),

                        checkAll: $("#checkall").is(":checked")
                    },
                    beforeSend: function () {
                        $('#btnAction').button('loading');
                        if (DEBUG) {
                            console.log('Delete Start');
                        }
                    },
                    complete: function () {
                        $('#btnAction').button('reset');
                        if (DEBUG) {
                            console.log('Delete Done');
                        }
                    },
                    success: function (result) {
                        if (result.ResultCode) {
                            onGet(1);
                            if (DEBUG) {
                                console.log('Delete Success');
                            }
                            $('#btnAction').button('reset');
                            msgOk(result.ResultDesc);
                        }
                        else {
                            $('#btnAction').button('reset');
                            msgError(result.ResultDesc);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (DEBUG) {
                            console.log('Delete Error');
                            console.log("error: " + errorThrown);
                        }
                        $('#btnAction').button('reset');
                    }
                });
            }
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    }
</script>