﻿<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Upload Tax Invoice</h4>
    <hr />
    <div class="row" style="margin-bottom:15px;">
        <div class="col-xs-12 text-right">
            <a href="@ViewBag.TemplateLink" target="_blank">Download Template</a>
        </div>
    </div>
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>    
</div>

<script type="text/javascript">
    //$(function () {
    //    'use strict';
        
    //    var url = '/VATOut/UploadVATOut';
    //    $('#fileupload').fileupload({
    //        url: url,
    //        dataType: 'json',
    //        done: function (e, data) {
    //            if (data.result.ResultCode) {
    //                $.each(data.result.Data, function (index, file) {
    //                    $('<p/>').text(file.name).appendTo('#files');
    //                });
    //                msgInfo(data.result.ResultDesc);
    //                if (DEBUG) {
    //                    console.log("Upload Success");
    //                    console.log(data);
    //                }
    //            }
    //            else {
    //                msgError(data.result.ResultDesc);
    //            }
    //        },
    //        progressall: function (e, data) {
    //            var progress = parseInt(data.loaded / data.total * 100, 10);
    //            $('#progress .progress-bar').css(
    //                'width',
    //                progress + '%'
    //            );
    //            if (DEBUG) {
    //                console.log(data);
    //            }
    //        },
    //        fail: function (e, data) {
    //            msgError("Upload has failed, please check Sync Log for detail.");
    //            if (DEBUG) {
    //                console.log("Upload Error");
    //                console.log(data);
    //                console.log(data.errorThrown);
    //            }
    //        }
    //    }).prop('disabled', !$.support.fileInput)
    //        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    //});
    $(function () {
        'use strict';

        var url = '/VATOut/UploadVATOut';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                if (data.result.ResultCode) {
                    $.each(data.result.Data, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                    msgInfo(data.result.ResultDesc);
                    if (DEBUG) {
                        console.log("Upload Success");
                        console.log(data);
                    }
                }
                else {
                    msgError(data.result.ResultDesc);
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
                if (DEBUG) {
                    console.log(data);
                }
            },
            fail: function (e, data) {
                msgError("Upload has failed, please check Sync Log for detail.");
                if (DEBUG) {
                    console.log("Upload Error");
                    console.log(data);
                    console.log(data.errorThrown);
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>