﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Date / DA</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker' onclick="EnabledbtnSearch()">
                        <input id="txtTaxInvoiceDateFrom" type="text" class="form-control"  placeholder="From" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker' onclick="EnabledbtnSearch()">
                        <input id="txtTaxInvoiceDateTo" type="text" class="form-control"  placeholder="To" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReceiveFileDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReceiveFileTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtDownloadDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtDownloadTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtDownloadTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtRecordDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtApprovalDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- begin update imron 27102020 -->
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxInvoiceStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTransitoryStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTransitoryNumber" type="text" class="form-control" readonly>
                        <input id="lookupTransitoryNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupTransitoryNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- end update imron 27102020 -->
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Business Unit</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlBusinessUnit" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transaction Data File</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTransactionDataFile" type="text" class="form-control" readonly>
                        <input id="lookupTransactionDataFile" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupTransactionDataFile" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTaxInvoiceNumber" type="text" class="form-control" placeholder="000.000-00.00000000" readonly>
                        <input id="lookupTaxInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupTaxInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Debit Advice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtDANumber" type="text" class="form-control" readonly>
                        <input id="lookupDANumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupDANumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtCustomerNPWP" type="text" class="form-control" placeholder="00.000.000.0-000.000" readonly>
                        <input id="lookupCustomerNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupCustomerNPWP" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                    @* <small class="help-block" data-bv-validator="notEmpty" data-bv-for="InvoiceNumber" style="display: block;">Format Customer NPWP: (00.00.00.0-000.000)</small>*@
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtCustomerName" type="text" class="form-control" readonly>
                        <input id="lookupCustomerName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupCustomerName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Based Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATBaseAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtVATBaseAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlVATAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtVATAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlRecordStatus" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlDownloadStatus" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlApprovalStatus" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Batch File Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtBatchFileName" type="text" class="form-control" readonly>
                        <input id="lookupBatchFileName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupBatchFileName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Pdf File Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlPDFFileStatus" multiple>
                    </select>
                </div>
            </div>
            @*ADD AD Filter Color*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">EFaktur Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="dllEFakturStatus" multiple >
                        @*<option></option>
                        <option value="red">Red</option>
                        <option value="yellow">Yellow</option>
                        <option value="green">Green</option>*@
                    </select>
                </div>
            </div>
            @*END*@
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch"   data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>   
</form>

<script style="Text/Javascript">
  

    //Clear TextBox
    function clearTextBox() {
        document.getElementById("txtTaxInvoiceDateFrom").value = "";
        document.getElementById("txtTaxInvoiceDateTo").value = "";
        document.getElementById("txtReceiveFileDateFrom").value = "";
        document.getElementById("txtReceiveFileDateTo").value = "";
        document.getElementById("txtReceiveFileTimeFrom").value = "";
        document.getElementById("txtReceiveFileTimeTo").value = "";
        document.getElementById("txtDownloadDateFrom").value = "";
        document.getElementById("txtDownloadDateTo").value = "";
        document.getElementById("txtDownloadTimeFrom").value = "";
        document.getElementById("txtDownloadTimeTo").value = "";
        document.getElementById("txtRecordDateFrom").value = "";
        document.getElementById("txtRecordDateTo").value = "";
        document.getElementById("txtApprovalDateFrom").value = "";
        document.getElementById("txtApprovalDateTo").value = "";
        document.getElementById("ddlBusinessUnit").value = "";
        document.getElementById("txtTransactionDataFile").value = "";
        document.getElementById("lookupTransactionDataFile").value = "";
        document.getElementById("txtTaxInvoiceNumber").value = "";
        document.getElementById("lookupTaxInvoiceNumber").value = "";
        document.getElementById("txtDANumber").value = "";
        document.getElementById("lookupDANumber").value = "";
        document.getElementById("txtCustomerNPWP").value = "";
        document.getElementById("lookupCustomerNPWP").value = "";
        document.getElementById("txtCustomerName").value = "";
        document.getElementById("lookupCustomerName").value = "";
        document.getElementById("ddlVATBaseAmountOperator").value = "";
        document.getElementById("txtVATBaseAmount").value = "";
        document.getElementById("ddlVATAmountOperator").value = "";
        document.getElementById("txtVATAmount").value = "";
        document.getElementById("ddlRecordStatus").value = "";
        document.getElementById("ddlDownloadStatus").value = "";
        document.getElementById("ddlApprovalStatus").value = "";
        document.getElementById("txtBatchFileName").value = "";
        document.getElementById("lookupBatchFileName").value = "";
        document.getElementById("ddlPDFFileStatus").value = "";
        document.getElementById("dllEFakturStatus").value = "";

        document.getElementById("ddlTaxInvoiceStatus").value = "";
        document.getElementById("ddlTransitoryStatus").value = "";
        document.getElementById("txtTransitoryDateFrom").value = "";
        document.getElementById("txtTransitoryDateTo").value = "";
        //clear all multiselect
        $('#ddlBusinessUnit').multiselect('clearSelection');
        document.getElementById("lookupIdddlBusinessUnit").value = "";
        document.getElementById("lookupNameddlBusinessUnit").value = "";

        $('#ddlRecordStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlRecordStatus").value = "";
        document.getElementById("lookupNameddlRecordStatus").value = "";

        $('#ddlDownloadStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlDownloadStatus").value = "";
        document.getElementById("lookupNameddlDownloadStatus").value = "";

        $('#ddlApprovalStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlApprovalStatus").value = "";
        document.getElementById("lookupNameddlApprovalStatus").value = "";

        $('#ddlPDFFileStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlPDFFileStatus").value = "";
        document.getElementById("lookupNameddlPDFFileStatus").value = "";

        //ADD AD COlor
        $('#dllEFakturStatus').multiselect('clearSelection');
        document.getElementById("lookupIddllEFakturStatus").value = "";
        document.getElementById("lookupNamedllEFakturStatus").value = "";
        //document.getElementById("lookupEFakturStatusdllEFakturStatus").value = "";
        //END

        $('#ddlTaxInvoiceStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlTaxInvoiceStatus").value = "";
        document.getElementById("lookupNameddlTaxInvoiceStatus").value = "";

        $('#ddlTransitoryStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlTransitoryStatus").value = "";
        document.getElementById("lookupNameddlTransitoryStatus").value = "";

        document.getElementById("txtTransitoryNumber").value = "";
        document.getElementById("lookupTransitoryNumber").value = "";

        //add by DA utk validasi color
        document.getElementById("btnSearch").disabled = false;
    }
</script> 
