﻿@using TAM.EFaktur.Web.Models.VATOut
@using TAM.EFaktur.Web.Models

@{
    List<VATOutDashboardViewModel> VATOutList = (List<VATOutDashboardViewModel>)ViewData["VATOutListDashboard"];
}

<div id="gridVATOut">
    <div class="table-responsive _table-flow">
        <table class="table table-striped table-bordered table-condensed fixed-columns">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>
                    <th class="fixed-column _col" onclick="sortItem('VO.NomorFakturGabungan')" style="cursor:pointer">Tax Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column _col" onclick="sortItem('VO.DANumber')" style="cursor:pointer">Debit Advice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.NPWPCustomer')" style="cursor:pointer">Customer NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.NamaCustomer')" style="cursor:pointer">Customer Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.JumlahDPP')" style="cursor:pointer">VAT Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.JumlahPPN')" style="cursor:pointer">VAT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.BusinessUnit')" style="cursor:pointer">Business Unit &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.TanggalFaktur')" style="cursor:pointer">Tax Invoice Date/Debit Advice Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('SD.Filename')" style="cursor:pointer">Transaction Data File &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('SD.SyncTime')" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Receive File Time</th>
                    <th class="fixed-column-hide _col" onclick="sortItem('VO.DownloadStatus')" style="cursor:pointer">Download Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('CSV.CsvTime')" style="cursor:pointer">Download Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Download Time</th>
                    <th onclick="sortItem('VO.RecordStatus')" style="cursor:pointer">Record Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.RecordTime')" style="cursor:pointer">Record Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column-hide _col" onclick="sortItem('VO.ApprovalStatus')" style="cursor:pointer">Approval Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.ApprovalTime')" style="cursor:pointer">Approval Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.TaxInvoiceStatus')" style="cursor:pointer">Tax Invoice Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.TransitoryStatus')" style="cursor:pointer">Transitory Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.TransitoryNumber')" style="cursor:pointer">Transitory Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.TransitoryDate')" style="cursor:pointer">Transitory Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.BatchFileName')" style="cursor:pointer">Batch File Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem('VO.PdfUrl')" style="cursor:pointer">E-Faktur PDF File Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*<th onclick="sortItem('VO.EFakturStatus')" style="cursor:pointer">E-Faktur Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>*@
                    <th>E-faktur Status&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (VATOutList != null && VATOutList.Count > 0)
                {
                    foreach (var VATOut in VATOutList)
                    {
                        <tr>
                            <td class="text-center fixed-column">
                                <input id="@string.Format("chkGrid{0}", VATOut.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                                <input type="hidden" class="VATOutId" value="@VATOut.Id" />
                            </td>
                            <td class="fixed-column">@VATOut.NomorFaktur</td>
                            <td class="fixed-column">@VATOut.DANumber</td>
                            <td>@VATOut.NPWPCustomer</td>
                            <td>@VATOut.NamaCustomer</td>
                            <td class="text-right">@VATOut.JumlahDPP.FormatViewCurrency()</td>
                            <td class="text-right">@VATOut.JumlahPPN.FormatViewCurrency()</td>
                            <td>@VATOut.BusinessUnit</td>
                            <td>@VATOut.TanggalFaktur.FormatViewDate()</td>
                            <td>@VATOut.TransactionDataFile</td>
                            <td>
                                @if (VATOut.SyncTime.HasValue)
                                {@Html.Raw(VATOut.SyncTime.Value.FormatViewDate());
                                }
                            </td>
                            <td>
                                @if (VATOut.SyncTime.HasValue)
                                {@Html.Raw(VATOut.SyncTime.Value.FormatViewTime());
                                }
                            </td>
                            <td class="fixed-column-hide VATOutDownloadStatus">@VATOut.DownloadStatus</td>
                            <td>
                                @if (VATOut.CSVTime.HasValue)
                                {@Html.Raw(VATOut.CSVTime.Value.FormatViewDate());
                                }
                            </td>
                            <td>
                                @if (VATOut.CSVTime.HasValue)
                                {@Html.Raw(VATOut.CSVTime.Value.FormatViewTime());
                                }
                            </td>
                            <td>@VATOut.RecordStatus</td>
                            <td>@VATOut.RecordTime.FormatViewDate()</td>
                            <td class="fixed-column-hide VATOutApprovalStatus">@VATOut.ApprovalStatus</td>
                            <td>@VATOut.ApprovalTime.FormatViewDate()</td>
                            <td>@VATOut.TaxInvoiceStatus</td>
                            <td>@VATOut.TransitoryStatus</td>
                            <td>@VATOut.TransitoryNumber</td>
                            <td>@VATOut.TransitoryDate.FormatViewDate()</td>
                            <td>@VATOut.BatchFileName</td>
                            <td>@VATOut.PDFFileStatus</td>
                            <td>
                                <div style='text-align:center;width:fit-content;margin: auto;'>
                                    @if (VATOut.EFakturStatus.Contains("|"))
                                    {
                                        <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@VATOut.EFakturStatus.Split('|')[0];width:10px;min-height: 20px;' title='@VATOut.EFakturStatus.Split('|')[1]'></p>                                    
                                    }
                                    else
                                    {
                                        <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@VATOut.EFakturStatus;width:10px;min-height: 20px;' title='@VATOut.EFakturStatus'></p>

                                    }
                                </div>
                            </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="danger" colspan="20"><b class="padding-5">No Record</b></td>
        </tr>
    }
                </tbody>
                </table>
            </div>

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>