﻿@{
    ViewBag.Title = "VATOutDashboard";
}

@section HeadScript{
    <style>
        ._searchCriteria {
            display: none;
        }

        .alert {
            word-break: break-all !important;
        }
    </style>
}

@if (ViewBag.IsAuthPage)
{
    @Html.Partial("_SearchCriteria")

    <div class="_line-br"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            @Html.Partial("_UIPageSize")
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <div class="form-group form-group-xs">
                @Html.Partial("_UITotalSelectedIndicator")
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "Print"))
                {
                    <button id="btnPrint" type="button" class="btn btn-primary btn-sm">Print E-Faktur</button>

                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "Delete"))
                {


                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning" id="btnAction" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Action</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a style="cursor:pointer" onclick="DeleteVATOut()">Delete</a></li>
                        </ul>
                    </div>

                    @*<button id="btndelete" type="button" onclick="DeleteVATOut()" class="btn btn-primary btn-sm" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Delete</button>*@
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadCSV") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadOriginal") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadPDF") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadReport"))
                {
                    <div class="btn-group btn-group-sm">
                        <button id="btnDownloadChoice" type="button" class="btn btn-primary" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Download</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadCSV"))
                            {
                                <li><a href="#" onclick="Download('csv')">Converted to .csv file</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadOriginal"))
                            {
                                <li><a href="#" onclick="Download('xls')">Original Data/File</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadPDF"))
                            {
                                <li><a href="#" onclick="Download('pdf')">E-Faktur PDF</a></li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "DownloadReport"))
                            {
                                <li><a href="#" onclick="Download('report')">Report</a></li>
                            }
                        </ul>
                    </div>
                }
                @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadTaxInvoice") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadApprovalStatus") ||
                     Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadTaxDataMotorVehicle"))
                {
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning">Upload</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadTaxInvoice"))
                            {
                                <li>@Html.ActionLink("Tax Invoice Data", "PopupUploadTaxInvoice", "VATOut", null, new { @class = "modal-link" })</li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadTaxDataMotorVehicle"))
                            {
                                <li>@Html.ActionLink("Tax Inv. Data Motor Vehicle", "PopupUploadTaxDataMotorVehicle", "VATOut", null, new { @class = "modal-link" })</li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadApprovalStatus"))
                            {
                                <li>@Html.ActionLink("Approval Status ", "PopupUploadApprovalStatus", "VATOut", null, new { @class = "modal-link" })</li>
                            }
                            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("VATOut", "UploadApprovalStatus"))
                            {
                                <li>@Html.ActionLink("Transitory Status ", "PopupUploadTransitoryStatus", "VATOut", null, new { @class = "modal-link" })</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    @Html.Partial("_SimpleGrid")
}
    @section BodyScript{
        <script type="text/javascript">
            $(document).ready(function () {
                @if (!ViewBag.IsAuthPage) {
                    @:window.location.replace("/");
                }

                /* toggle show or hide searching criteria (that has class _searchCriteria) */
                $("#lnsearch-toggle").click(function () {
                    var _criteria = $("._searchCriteria");
                    _criteria.toggle(200, "linear");

                    var text = $("#lnsearch-toggle").text();
                    $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
                });
            });
        </script>
    }
    @Html.Partial("_Javascript")
