﻿
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Add New Questionaire</h4>
    <hr />

    <form role="form" class="form-horizontal" id="CreateUserForm">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _datepicker'>
                            <select class="form-control" id="ddlCategoryCodeCreate" style="width: 270px;" name="ddlCategoryCodeCreate">
                            </select>
                        </div>
                    </div>
                </div>

                @*<div class="col-xs-12 col-sm-6 col-md-6">*@
                    <div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Question</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input id="txtQuestionCreate" name="Question" type="text" maxlength="100" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Yes</label>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class='input-group input-group-xs _timepicker'>
                                <input id="Yes" type="checkbox" name="browsers[]" />
                                <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4">
                            <div class='input-group input-group-xs _timepicker'>
                                <select class="form-control" id="ddlWaringstatusYeCreate" style="width: 270px;" name="ddlWaringstatusYeCreate">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No</label>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class='input-group input-group-xs _timepicker'>
                                <input id="No" type="checkbox"  name="browsers[]"  />
                                <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4">
                            <div class='input-group input-group-xs _timepicker'>
                                <select class="form-control" id="ddlWaringstatusNoCreate" style="width: 270px;" name="ddlWaringstatusNoCreate">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="btn-group-sm">
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
</form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("ddlWaringstatusYeCreate").disabled = true;
        document.getElementById("ddlWaringstatusNoCreate").disabled = true;

        $('#Yes').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusYeCreate").disabled = false;                
                //$('#CreateUserForm').data('bootstrapValidator').validateField("ddlWaringstatusYeCreate");             
            } else {
                $("#ddlWaringstatusYeCreate").val("");              
                document.getElementById("ddlWaringstatusYeCreate").disabled = true;                              
            }
        });

        $('#No').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusNoCreate").disabled = false;
                //$('#CreateUserForm').data('bootstrapValidator').validateField("ddlWaringstatusNoCreate");          
            } else {
                $("#ddlWaringstatusNoCreate").val("");               
                document.getElementById("ddlWaringstatusNoCreate").disabled = true;
                
            }
        });

        getDropdownlist("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionKategoriDropdown", "ddlCategoryCodeCreate");
        getDropdownlist("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusYeCreate");
        getDropdownlist("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusNoCreate");

        $('#CreateUserForm').bootstrapValidator({
            live: 'enabled',

            fields: {
                //name of field
                ddlCategoryCodeCreate: {
                    validators: {
                        notEmpty: {
                            message: 'Category is required and can\'t be empty'
                        }
                    }
                },
                Question: {
                    validators: {
                        notEmpty: {
                            message: 'Question is required and can\'t be empty'
                        }
                    }
                },
                //ddlWaringstatusYeCreate: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Warning Status Yes is required and can\'t be empty'
                //        }
                //    }
                //},
                //ddlWaringstatusNoCreate: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Warning Status No is required and can\'t be empty'
                //        }
                //    }
                //},

                'browsers[]': {
                    validators: {
                        notEmpty: {
                            message: 'Please selected Warning Status'
                        }
                    }
                }

            }

        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });
    //Insert New User
    //Ajax POST/GET Method

    $("#btnSave").click(function () {
        User = {
            CategoryCode: $("#ddlCategoryCodeCreate").val(),
            //CategoryCodeid: document.getElementById("ddlCategoryCodeCreate :selected").text(),
            Question: $("#txtQuestionCreate").val(),
            IsYes: document.getElementById("Yes").checked,
            WarningStatusYes: $("#ddlWaringstatusYeCreate :selected").text(),
            IsNo: document.getElementById("No").checked,
            WarningStatusNo: $("#ddlWaringstatusNoCreate :selected").text(),
        };
        
    });
    function onSubmit() {
        var isCloseModal = false;
        $.ajax({
            type: "POST",
            url: URLSave,
            data: {
                data: JSON.stringify(User)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    //console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    formData = new FormData(); // clear global variable
                    isCloseModal = true;
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                //$('#btnCancel').click();
                if (isCloseModal)
                    $('#btnCancel').click();
            }

        });
    }
</script>