﻿@*@using TAM.EFaktur.Web.Models.Master_User*@
@using TAM.EFaktur.Web.Models
@using TAM.EFaktur.Web.Models.Master_Questionaire

@{
    QuestionaireUpdateViewModel User = (QuestionaireUpdateViewModel)ViewData["DeleteQuestionaire"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Are you sure remove this data?</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateUserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@User.QuestionId" id="hiddenId" />
                    <input type="hidden" value="@User.CategoryCode" id="hiddenCategoryCode" />
                    <input type="hidden" value="@User.WarningStatusYes" id="hiddenYes" />
                    <input type="hidden" value="@User.WarningStatusNo" id="hiddenNo" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _datepicker'>
                            <select class="form-control" id="ddlCategoryCodeUpdate" style="width: 270px;" name="ddlCategoryCodeUpdate" value="@User.CategoryCode" readonly>
                            </select>
                        </div>
                    </div>

                    @*<div class="col-xs-12 col-sm-6 col-md-6">*@

                    @*</div>*@

                </div>

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Question</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtQuestionUpdate" name="Question" type="text" maxlength="100" class="form-control" value="@User.Question" readonly />
                    </div>
                </div>


                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Yes</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <input id="Yes" type="checkbox"  name="Yes" value="@User.IsYes" disabled="disabled"/>
                            <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <select class="form-control" id="ddlWaringstatusYeCreate" style="width: 270px;" name="ddlWaringstatusYeCreate" readonly>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <input name="CheckedNo" type="checkbox" id="No" value="@User.IsNo" disabled="disabled" />
                            <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <select class="form-control" id="ddlWaringstatusNoCreate" style="width: 270px;" name="ddlWaringstatusNoCreate" value="@User.WarningStatusNo" readonly>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-danger" id="btnSave">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var getCategoryCode = $("#hiddenCategoryCode").val();
        var getYes = $("#hiddenYes").val();
        var getNo = $("#hiddenNo").val();

        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/GroupNominative/GetKategoriDropdown", "ddlCategoryCodeUpdate", getCategoryCode);
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusYeCreate", getYes);
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusNoCreate", getNo);


        if (getYes != "NA") {
            document.getElementById("ddlWaringstatusYeCreate").disabled = false;
            document.getElementById("Yes").checked = true;
        } else {
            document.getElementById("ddlWaringstatusYeCreate").disabled = true;
        }

        if (getNo != "NA") {
            document.getElementById("ddlWaringstatusNoCreate").disabled = false;
            document.getElementById("No").checked = true;
        } else {

             document.getElementById("ddlWaringstatusNoCreate").disabled = true;

        }

        //initiate Dropdownlist Yes/No

        $('#Yes').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusYeCreate").disabled = false;
            } else {
                $("#ddlWaringstatusYeCreate").val('');
                document.getElementById("ddlWaringstatusYeCreate").disabled = true;
            }
        });

        $('#No').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusNoCreate").disabled = false;
            } else {
                $("#ddlWaringstatusNoCreate").val('');
                document.getElementById("ddlWaringstatusNoCreate").disabled = true;
            }
        });

        //end initiate Dropdownlist Yes/No
    });

    //Insert New User
    $("#btnSave").click(function () {
        console.log($("#Username").val());
        User = {
            QuestionId: $("#hiddenId").val()
        };
        onSubmit();
    });
    //Ajax POST/GET Method

    function onSubmit() {
        $.ajax({
            type: "POST",
            url: URLSaveDelete,
            data: {
                data: JSON.stringify(User)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                $('#btnCancel').click();
            }
        });
    }
</script>