﻿@*@using TAM.EFaktur.Web.Models.Master_User*@
@using TAM.EFaktur.Web.Models
@using TAM.EFaktur.Web.Models.Master_Questionaire
@{
    QuestionaireUpdateViewModel User = (QuestionaireUpdateViewModel)ViewData["UpdateQuestionaire"];
}
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Update Questonaire</h4>
    <hr />

    <form role="form" class="form-horizontal" id="UpdateUserForm">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs">
                    <input type="hidden" value="@User.QuestionId" id="hiddenId" />
                    <input type="hidden" value="@User.CategoryCode" id="hiddenCategoryCode" />
                    <input type="hidden" value="@User.WarningStatusYes" id="hiddenYes" />
                    <input type="hidden" value="@User.WarningStatusNo" id="hiddenNo" />
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _datepicker'>
                            <select class="form-control" id="ddlCategoryCodeUpdate" style="width: 270px;" name="ddlCategoryCodeUpdate" value="@User.CategoryCode">
                            </select>
                        </div>
                    </div>

                    @*<div class="col-xs-12 col-sm-6 col-md-6">*@

                    @*</div>*@

                </div>

                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Question</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input id="txtQuestionUpdate" name="Question" type="text" maxlength="100" class="form-control" value="@User.Question" />
                    </div>
                </div>


                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Yes</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <input id="Yes" type="checkbox" name="browsers" value="@User.IsYes" />
                            <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <select class="form-control" id="ddlWaringstatusYeCreate" style="width: 270px;" name="ddlWaringstatusYeCreate">
                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group form-group-xs">
                    <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">No</label>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <input id="No" type="checkbox"  name="browsers" value="@User.IsNo" />
                            <label class="control-label text-muted">&nbsp;&nbsp;&nbsp; Warning Status</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class='input-group input-group-xs _timepicker'>
                            <select class="form-control" id="ddlWaringstatusNoCreate" style="width: 270px;" name="ddlWaringstatusNoCreate"">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

           

        </div>

      
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group-sm">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var getCategoryCode = $("#hiddenCategoryCode").val();
        var getYes = $("#hiddenYes").val();
        var getNo = $("#hiddenNo").val();
        
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/GroupNominative/GetKategoriDropdown", "ddlCategoryCodeUpdate", getCategoryCode);
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusYeCreate", getYes);
        getDropdownlistVal("@Html.Toyota().Page.BaseUrl" + "/Master_Questionaire/GetQuestionDropdown", "ddlWaringstatusNoCreate", getNo);


        if (getYes != "NA") {
            document.getElementById("ddlWaringstatusYeCreate").disabled = false;
            document.getElementById("Yes").checked = true;
        } else {
            document.getElementById("ddlWaringstatusYeCreate").disabled = true;
        }

        if (getNo != "NA") {
            document.getElementById("ddlWaringstatusNoCreate").disabled = false;
            document.getElementById("No").checked = true;
        } else {
            
             document.getElementById("ddlWaringstatusNoCreate").disabled = true;
           
        }

        //initiate Dropdownlist Yes/No

        $('#Yes').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusYeCreate").disabled = false;
            } else {
                $("#ddlWaringstatusYeCreate").val('');
                document.getElementById("ddlWaringstatusYeCreate").disabled = true;
            }
        });

        $('#No').click(function () {
            if ($(this).is(':checked')) {
                document.getElementById("ddlWaringstatusNoCreate").disabled = false;
            } else {
                $("#ddlWaringstatusNoCreate").val('');
                document.getElementById("ddlWaringstatusNoCreate").disabled = true;
            }
        });
        //end initiate Dropdownlist Yes/No

        $('#UpdateUserForm').bootstrapValidator({
            live: 'enabled',
            fields: {
                //name of field
                ddlCategoryCodeUpdate: {
                    validators: {
                        notEmpty: {
                            message: 'Category is required and can\'t be empty'
                        }
                    }
                },
                Question: {
                    validators: {
                        notEmpty: {
                            message: 'Question is required and can\'t be empty'
                        }
                    }
                },
                //ddlWaringstatusYeCreate: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Warning Status Yes is required and can\'t be empty'
                //        }
                //    }
                //},
                //ddlWaringstatusNoCreate: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Warning Status No is required and can\'t be empty'
                //        }
                //    }
                //},
                browsers: {
                    validators: {
                        notEmpty: {
                            message: 'Please selected Warning Status'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();

            onSubmit();
        });
    });

    //Insert New User
    $("#btnSave").click(function () {
        //console.log("Apakah Masuk Sini ?");
        User = {
            QuestionId: $("#hiddenId").val(),
            CategoryCode: $("#ddlCategoryCodeUpdate").val(),
            Question: $("#txtQuestionUpdate").val(),
            IsYes: document.getElementById("Yes").checked,
            WarningStatusYes: $("#ddlWaringstatusYeCreate :selected").text(),
            IsNo: document.getElementById("No").checked,
            WarningStatusNo: $("#ddlWaringstatusNoCreate :selected").text(),
        };
    });
    //Ajax POST/GET Method

    function onSubmit() {
        var isCloseModal = false;
        $.ajax({
            type: "POST",
            url: URLSaveUpdate,
            data: {
                data: JSON.stringify(User)
            },
            beforeSend: function () {
                $('#btnSave').button('loading');
                if (DEBUG) {
                    console.log('Save Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    msgOk(result.ResultDesc);
                    formData = new FormData(); // clear global variable
                    isCloseModal = true;
                }
                else {
                    msgError(result.ResultDesc);
                }
                if (DEBUG) {
                    console.log('Save Success');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $('#btnSave').button('reset');
                if (DEBUG) {
                    console.log('Save Done');
                }
                onGet(1);
                //$('#btnCancel').click();

                if (isCloseModal)
                    $('#btnCancel').click();
            }
        });
    }



</script>