﻿<form role="form" class="form-horizontal" id="InputUserForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Category</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlCategoryName" multiple>
                    </select>
                </div>
            </div>
             
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Question</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    @*<input id="txtQuestion" type="text" maxlength="100" class="form-control" />*@

                    <div class="input-group input-group input-group-xs">
                        <input id="txtQuestion" type="text" class="form-control" readonly />
                        <input id="lookupQuestion" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "Register", new { Id = "lookupQuestion" })"><i class="fa fa-search"></i></a>
                        </span>



                    </div>
                </div>
                </div>
            
        </div>
        @*<div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Categori</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlCategoryName" multiple>
                    </select>

                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 _searchCriteria">
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Question</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtQuestion" type="text" style="width:100%" maxlength="100" class="form-control" />
                    </div>
                </div>
            </div>
        </div>*@
    </div>
        <div class="row">
            <div class="col-xs-6" style="margin-top: 5px;">

            </div>
            <div class="col-xs-6 text-right">
                <div class="btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                    <button type="reset" class="btn btn-default" value="Clear" onclick='clearTextBox();'>Clear</button>
                </div>
            </div>
        </div>
</form>

<script type="Text/Javascript">
    //Clear TextBox
 function clearTextBox()
        {
     //document.getElementById("txtCategoryCode").value = "";
     //document.getElementById("lookupCategoryCode").value = "";
     document.getElementById("ddlCategoryName").value = "";

     document.getElementById("lookupQuestion").value = "";
     document.getElementById("txtQuestion").value = "";
     //document.getElementById("lookupQuestion").value = "";
    
    
     $('#ddlCategoryName').multiselect('clearSelection');
     document.getElementById("lookupIdddlCategoryName").value = "";
     document.getElementById("lookupNameddlCategoryName").value = "";
        }
</script>