﻿@*@using TAM.EFaktur.Web.Models.Master_User*@
@using TAM.EFaktur.Web.Models
@using TAM.EFaktur.Web.Models.Master_Questionaire

@{
    List<QuestionaireViewModel> UserList = (List<QuestionaireViewModel>)ViewData["UserListDashboard"];
}
<div id="gridMasterUser">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    @if (ViewBag.EditDeleteQuestionaireEnom == true)
                    {
                        <th class="fixed-column _col" style="width:12px">Edit</th>
                        <th class="fixed-column _col" style="width:12px">Delete</th>
                    }
                    <th hidden="hidden" style="width:70px;">NO.</th>
                    <th onclick="sortItem(2)" style="cursor:pointer;width:900px">Category &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer;width:900px">Question &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="width:90px;">Yes</th>
                    <th onclick="sortItem(5)" style="width:90px;">No</th>

                </tr>
            </thead>
            @{ int rowNo = 0; }
            <tbody>
                @if (UserList != null && UserList.Count > 0)
                {
                    foreach (QuestionaireViewModel Master_User in UserList)
                    {
                <tr>
                    <td class="text-center fixed-column">
                        <input id="@string.Format("chkGrid{0}", Master_User.QuestionId)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                        <input type="hidden" class="paramId" value="@Master_User.QuestionId" />
                    </td>

                    @if (ViewBag.EditDeleteQuestionaireEnom == true)
                    {
                        <td class="text-center">
                            <a href="@Url.Action("PopupUpdateQuestionaire", "Master_Questionaire", new { QuestionId = @Master_User.QuestionId })" class="modal-link btn btn-primary btn-xs btn-edit"><i class="fa fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("PopupDeleteQuestionaire", "Master_Questionaire", new { QuestionId = @Master_User.QuestionId })" class="modal-link btn btn-primary btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    }

                    <td>@Master_User.CategoryCode</td>
                    <td>@Master_User.Question</td>

                    @{var getyes = @Master_User.IsYes;}
                    @{var ConvertYes = getyes.Contains("True") ? "X" : "";}

                    @{var getno = @Master_User.IsNo;}
                    @{var ConvertNo = getno.Contains("True") ? "X" : "";}

                    @*<td>@(rowNo += 1)</td>*@



                    @if (Master_User.WarningStatusYes == "NA")
                    {
                        <td style="background-color:red">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertYes
                            </div>
                        </td>
                    }
                    @if (Master_User.WarningStatusYes == "OQ")
                    {
                        <td style="background-color:yellow">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertYes
                            </div>
                        </td>
                    }
                    @if (Master_User.WarningStatusYes == "BQ")
                    {
                        <td style="background-color:#00ff00">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertYes
                            </div>
                        </td>
                    }

                    @if (Master_User.WarningStatusNo == "NA")
                    {
                        <td style="background-color:red">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertNo
                            </div>
                        </td>
                    }
                    @if (Master_User.WarningStatusNo == "OQ")
                    {
                        <td style="background-color:yellow">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertNo
                            </div>
                        </td>
                    }
                    @if (Master_User.WarningStatusNo == "BQ")
                    {
                        <td style="background-color:#00ff00">
                            <div style='text-align:center ; width:fit-content ; margin: auto;'>
                                @ConvertNo
                            </div>
                        </td>
                    }


                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>