﻿@{
    ViewBag.Title = "Maintain Questionaire";
}

@section HeadScript{
    <style>
        ._SearchCriteria {
            display: none;
        }
    </style>
}

@Html.Partial("_SearchCriteria")

<div class="_line-br"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("_UIPageSize")
    </div>
    <div class="col-xs-12 col-sm-6 text-right" font-size: 5px;>
        @Html.Partial("_UITotalSelectedIndicator")

        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature("Master_Questionaire", "AddQuestionaireEnom"))
        {
            <div class="btn-group btn-group-sm">
                @Html.ActionLink("Add", "PopupCreateQuestionaire", "Master_Questionaire", null, new { @class = "modal-link btn btn-danger" })
                &nbsp;
            </div>
        }

        <div class="btn-group btn-group-sm">
            <button type="reset" class="btn btn-primary" onclick="Download('xls')"> Download To Excel</button>
        </div>
    </div>
</div>


@Html.Partial("_SimpleGrid")


@section BodyScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".btn-edit").click(function () {
                $("#edit-popup").modal();
            });

            $(".btn-delete").click(function () {
                $("#delete-confirm").modal();
            });



            /* toggle show or hide searching criteria (that has class _searchCriteria) */
            $("#lnsearch-toggle").click(function () {
                var _criteria = $("._searchCriteria");
                _criteria.toggle(200, "linear");

                var text = $("#lnsearch-toggle").text();
                $("#lnsearch-toggle").text(text == "Expand search criteria" ? "Less search criteria" : "Expand search criteria");
            });


        });

    </script>
}
@Html.Partial("_Javascript")


