﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Masa Pajak</label>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <select class="form-control" id="ddlMasa">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <select class="form-control" id="ddlTahun"></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">KJS MAP Code</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlKjsMapCode" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Account</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlGlAccount" multiple></select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">GL Description</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtGlDescription" type="text" class="form-control" readonly />
                        <input id="lookupGlDescription" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupMultipleSearch", "WHTSummary", new { Id = "lookupGlDescription" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Tax Article</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxArticle" multiple></select>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">SPT Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlSptType" multiple></select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            @*<a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>*@
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" id="btnClearSearch" value="Clear" onclick='clearTextBox();'>Clear</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //Clear TextBox
    function clearTextBox() {
        //document.getElementById("ddlMasa").value = "";
        //document.getElementById("ddlTahun").value = "";

        $("#ddlKjsMapCode").multiselect("clearSelection");
        document.getElementById("lookupIdddlKjsMapCode").value = "";
        document.getElementById("lookupNameddlKjsMapCode").value = "";

        $("#ddlGlAccount").multiselect("clearSelection");
        document.getElementById("lookupIdddlGlAccount").value = "";
        document.getElementById("lookupNameddlGlAccount").value = "";

        document.getElementById("txtGlDescription").value = "";
        document.getElementById("lookupGlDescription").value = "";

        $("#ddlTaxArticle").multiselect("clearSelection");
        document.getElementById("lookupIdddlTaxArticle").value = "";
        document.getElementById("lookupNameddlTaxArticle").value = "";

        $("#ddlSptType").multiselect("clearSelection");
        document.getElementById("lookupIdddlSptType").value = "";
        document.getElementById("lookupNameddlSptType").value = "";
    }
</script>
