﻿<script type="text/javascript">
    $("#txtWebServiceURL").focus();
    
    //$("#txtWebServiceURL").bind("input propertychange", function (evt) {
    //    // If it's the propertychange event, make sure it's the value that changed.
    //    if (window.event && event.type == "propertychange" && event.propertyName != "value")
    //        return;

    //    // Clear any previously set timer before setting a fresh one
    //    window.clearTimeout($(this).data("timeout"));
    //    $(this).data("timeout", setTimeout(function () {
    //        var serviceUrl = $("#txtWebServiceURL").val();
    //        if (serviceUrl != "" && serviceUrl.indexOf("svc.efaktur.pajak.go.id") > -1) { // if not empty and contains DJP website URL
    //            onGetXML(serviceUrl);
    //        }
    //    }, 500)); //after 0.5 second idle (500 ms)
    //});

    $(document).ready(function () {
       
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetTAM")",
            data: {
            data: JSON.stringify(scanObject),
            serviceURL: $("#hiddenWebServiceURL").val()
            },
        success: function (result) {
            if (result.ResultCode) {

                var dataa;
                dataa = result.ResultDesc

                var buyer = dataa.split("|")[0];
                var address = dataa.split("|")[1];
                    
                document.getElementById("lblcompany").style.color = "blue";
                document.getElementById("lbladdress").style.color = "blue";

                document.getElementById("lblcompany").innerHTML = "Company Name " + buyer;
                document.getElementById("lbladdress").innerHTML = "Company Address " + address;
            }
        }
    });
    });

    $("#xmlSubmitForm").submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var serviceUrl = $("#txtWebServiceURL").val();
        if (serviceUrl != "" && serviceUrl.toLowerCase().indexOf("svc.efaktur.pajak.go.id") > -1) { // if not empty and contains DJP website URL
            onGetXML(serviceUrl);
        }
    });

    $("#btnClear").click(function () {
        var warning = 'Are you sure you want to clear this form?';
        if (confirm(warning)) {
            ClearForm();
        }
    });

    var scanObject = {};

    function ClearForm() {
        $("#txtInvoiceNumber").val("");
        $("#txtInvoiceDate").val("");
        $("#txtSupplierNPWP").val("");
        $("#txtSupplierName").val("");
        $("#txtBuyerNPWP").val("");
        $("#txtBuyerName").val("");
        $("#txtBuyerAddress").val("");
        $("#txtTotalDPP").val("");
        $("#txtTotalPPN").val("");
        $("#txtTotalPPNBM").val("");
        document.getElementById("lblnpwp").innerHTML = "";
        document.getElementById("lbldate").innerHTML = "";
        document.getElementById("lblfaktur").innerHTML = "";

        $('tbody').empty();
        var row = "<tr>";
        row += "<td class='danger' colspan='10'><b class='padding-5'>No Record</b></td>";
        row += "</tr>";
        $('tbody').append(row);

        scanObject = {};
        
        $('body').focus();
        $("#txtWebServiceURL").val("");
        $("#txtWebServiceURL").focus();
    }

    //Ajax POST/GET Method
    function onGetXML(URL) {
        $.ajax({
            type: "GET",
            url: "@Html.Toyota().Page.GetActionUrl("GetXML")",
            cache: false,
            data: {
                serviceUrl: URL
            },
            beforeSend: function () {
                $("#loadingIcon").show();
                $("#hiddenWebServiceURL").val($("#txtWebServiceURL").val());
                if (DEBUG) {
                    console.log('Get XML Start');
                }
            },
            success: function (result) {
                if (result.ResultCode) {
                    scanObject = result.Data;
                    //master
                    $("#txtInvoiceNumber").val(result.Data.nomorFakturGabungan);
                    $("#txtInvoiceDate").val(result.Data.tanggalFakturDashed);
                    $("#txtSupplierNPWP").val(result.Data.npwpPenjual);
                    $("#txtSupplierName").val(result.Data.namaPenjual);
                    $("#txtBuyerNPWP").val(result.Data.npwpLawanTransaksi);
                    $("#txtBuyerName").val(result.Data.namaLawanTransaksi);
                    $("#txtBuyerAddress").val(result.Data.alamatLawanTransaksi);
                    $("#txtTotalDPP").val(numeral(result.Data.jumlahDpp).format(currencyFormat));
                    $("#txtTotalPPN").val(numeral(result.Data.jumlahPpn).format(currencyFormat));
                    $("#txtTotalPPNBM").val(numeral(result.Data.jumlahPpnBm).format(currencyFormat));
                    $("#txtBuyerNPWP").trigger('focus');
                    $("#txtSupplierNPWP").trigger('focus');
                    $("#txtInvoiceNumber").trigger('focus');
                    $('#txtWebServiceURL').trigger('focus');

                    if (result.ResultCode) {
                        datas = result.ResultDesc;
                        var notmatch = "Doesnt Match"
                        var match = "Match"

                        var dateval = datas.split("|")[0];
                        var npwpval = datas.split("|")[1];
                        var fgval = datas.split("|")[2];
                        var statusval = datas.split("|")[3];
                        var company = datas.split("|")[4];
                        var name = datas.split("|")[5];
                        var npwpbatam = datas.split("|")[6];
                        var companybatam = datas.split("|")[7];
                        var containbatam = datas.split("|")[8];
                        var containjakarta = datas.split("|")[9];
                        var containname = datas.split("|")[10];

                        if (dateval < 14) {
                            document.getElementById("lbldate").style.color = "blue";
                            document.getElementById("lbldate").innerHTML = "Remaining Days Before Expired : " + dateval.fontcolor("orange");
                        }
                        else {
                            document.getElementById("lbldate").style.color = "blue";
                            document.getElementById("lbldate").innerHTML = "Remaining Days Before Expired : " + dateval;
                        }

                        document.getElementById("lblfaktur").innerHTML = fgval;

                        //validasi NPWP
                        if (result.Data.npwpLawanTransaksi != npwpval.replace(/-/g, "").split(".").join("") && result.Data.npwpLawanTransaksi != npwpbatam.replace(/-/g, "").split(".").join("")) {
                            document.getElementById("lblnpwp").innerHTML = "Company NPWP" + " " + notmatch.fontcolor("red") + " with" + " " + npwpval + " (NPWP TAM)";
                            document.getElementById("lbladdress").style.color = "red";
                            document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + company;
                        }
                        else if (result.Data.npwpLawanTransaksi != npwpbatam.replace(/-/g, "").split(".").join("")) {
                            document.getElementById("lblnpwp").innerHTML = "";

                            if (result.Data.alamatLawanTransaksi.toLowerCase().includes(containbatam.toLowerCase())) {
                                document.getElementById("lbladdress").style.color = "blue";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + companybatam;
                            }
                            else if (result.Data.alamatLawanTransaksi.toLowerCase().includes(containjakarta.toLowerCase())) {
                                document.getElementById("lbladdress").style.color = "blue";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + company;
                            }
                            else {
                                document.getElementById("lbladdress").style.color = "red";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + company;
                            }
                        }
                        else {
                            document.getElementById("lblnpwp").innerHTML = "";

                            if (result.Data.alamatLawanTransaksi.toLowerCase().includes(containbatam.toLowerCase())) {
                                document.getElementById("lbladdress").style.color = "blue";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + companybatam;
                            }
                            else if (result.Data.alamatLawanTransaksi.toLowerCase().includes(containjakarta.toLowerCase())) {
                                document.getElementById("lbladdress").style.color = "blue";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + company;
                            }
                            else {
                                document.getElementById("lbladdress").style.color = "red";
                                document.getElementById("lbladdress").innerHTML = "*Company Address" + " " + companybatam;
                            }
                        }

                        //validasi faktur
                        if (fgval == "0" && statusval != "Faktur Dibatalkan" && dateval > 14) {
                            document.getElementById("lblfaktur").style.color = "blue";
                            document.getElementById("lblfaktur").innerHTML = "Status Faktur Pengganti" + " : " + fgval + " - " + statusval;
                        }
                        else if (fgval == "1" && statusval != "Faktur Dibatalkan" && dateval > 14) {
                            document.getElementById("lblfaktur").style.color = "blue";
                            document.getElementById("lblfaktur").innerHTML = "Nomor Faktur Pengganti" + " : " + fgval.fontcolor("orange") + " - " + statusval.fontcolor("orange");
                        }
                        else if (statusval == "Faktur Dibatalkan" || dateval <= 14) {
                            document.getElementById("lblfaktur").style.color = "blue";
                            document.getElementById("lblfaktur").innerHTML = "Nomor Faktur Pengganti" + " : " + fgval.fontcolor("red") + " - " + statusval.fontcolor("red");
                        }

                        //validasi alamat dan nama


                        if (result.Data.namaLawanTransaksi.toLowerCase().includes(containname.toLowerCase())) {
                            document.getElementById("lblcompany").style.color = "blue";
                            document.getElementById("lblcompany").innerHTML = "*Company Name " + " " + name;
                        }
                        else {
                            document.getElementById("lblcompany").style.color = "red";
                            document.getElementById("lblcompany").innerHTML = "*Company Name " + " " + name;
                        }
                    }

                    //detail
                    $('tbody').empty();
                    if (result.Data.detailTransaksi != null && result.Data.detailTransaksi.length > 0) {
                        $.each(result.Data.detailTransaksi, function (i, item) {
                            var row = "<tr>";
                            row += "<td>" + (i + 1) + "</td>";
                            row += "<td>" + item.nama + "</td>";
                            row += "<td class='text-right'>" + numeral(item.hargaSatuan).format(currencyFormat) + "</td>";
                            row += "<td>" + numeral(item.jumlahBarang).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.hargaTotal).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.diskon).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.dpp).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.ppn).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.tarifPpnbm).format(currencyFormat) + "</td>";
                            row += "<td class='text-right'>" + numeral(item.ppnbm).format(currencyFormat) + "</td>";
                            row += "</tr>";
                            $('tbody').append(row);
                        });
                    }
                    else {
                        var row = "<tr>";
                        row += "<td class='danger' colspan='10'><b class='padding-5'>No Record</b></td>";
                        row += "</tr>";
                        $('tbody').append(row);
                    }

                    if (DEBUG) {
                        console.log('Get XML Success');
                    }
                }
                else {
                    msgError(result.ResultDesc);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    console.log("error: " + errorThrown);
                }
                msgError("An error has occured");
            },
            complete: function () {
                $("#loadingIcon").hide();
                if (DEBUG) {
                    console.log('Get XML Done');
                }
            }
        });
    }


    $("input[type='text']").on("click", function () {
        $(this).select();
    });
</script>