﻿@{
    ViewBag.Title = "VAT-In 2nd Barcode Scanner";
}

@section HeadScript{
    
}

<form class="form-horizontal" id="xmlSubmitForm">
    <div class="form-group">
        <div id="loadingIcon" style="display:none;">
            <div class="col-sm-12">
                <i class='fa fa-refresh fa-spin'></i> Loading, please wait..
            </div>
        </div>
        <div class="col-sm-12">
            <label for="txtWebServiceURL">Service URL</label>
            <input id="txtWebServiceURL" type="text" class="form-control"
                   placeholder="Click here and target the document QR Code with provided barcode scanner ">
            <input id="hiddenWebServiceURL" type="hidden" />
            <button id="btnSubmitXML" type="submit" style="display:none;"></button>
        </div>
    </div>
</form>

<form role="form" class="form-horizontal" id="inputForm">
    @Html.Partial("_MasterDetailForm")
</form>

@Html.Partial("_Javascript")