﻿<form role="form" class="form-horizontal" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Log Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtLogDateFrom" type="text" class="form-control" placeholder="From" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtLogDateTo" type="text" class="form-control" placeholder="To" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Log Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtLogTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtLogTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Message Type</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlMessageType" name="ddlMessageType" multiple>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" onclick="clearSearch()">Clear</button>
            </div>
        </div>
    </div>
    
</form>

<script type="text/javascript">
    //Get DropDown Message Type
    var URLDropdownMessageType = "@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=MessageType";
    getDropdownData(URLDropdownMessageType, "ddlMessageType");

    //Clear Form Search
    function clearSearch() {
        document.getElementById("txtLogDateFrom").value = "";
        document.getElementById("txtLogDateTo").value = "";
        document.getElementById("txtLogTimeFrom").value = "";
        document.getElementById("txtLogTimeTo").value = "";
        document.getElementById("ddlMessageType").value = "";
        $('#ddlMessageType').multiselect('clearSelection');
        document.getElementById("lookupIdddlMessageType").value = "";
        document.getElementById("lookupNameddlMessageType").value = "";
    }
</script>