﻿@using TAM.EFaktur.Web.Models.Log_Sync
@using TAM.EFaktur.Web.Models

@{
    List<LogSyncDashboardViewModel> LogSyncList = (List<LogSyncDashboardViewModel>)ViewData["LogSyncListDashboard"];
}

<div id="gridLogSync">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th onclick="sortItem(1)" style="cursor:pointer">Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Time</th>
                    <th onclick="sortItem(6)" style="cursor:pointer;width:60px;">FileName &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(2)" style="cursor:pointer">Rows &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(3)" style="cursor:pointer">Row Data &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(4)" style="cursor:pointer">Message &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer;width:60px;">Message Type &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>

            <tbody>
                @if (LogSyncList != null && LogSyncList.Count > 0)
                {
                    foreach (LogSyncDashboardViewModel LogSync in LogSyncList)
                    {
                        <tr>
                            <td>@LogSync.CreatedOn.FormatViewDate()</td>
                            <td>@LogSync.CreatedOn.FormatViewTime()</td>
                            <td>@LogSync.FileName</td>
                            <td>@LogSync.RowID</td>
                            <td>@LogSync.RowData</td>
                            <td>@LogSync.Message</td>
                            <td>@LogSync.MessageType</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="19"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-margin-20">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>