﻿<script type="text/javascript">
    var searchParam = {};
    var id = "";
    //ADD AD
    $(document).ready(function () {
        var url_string = window.location.href
        var url = new URL(url_string);
        var notifFilter = url.searchParams.get("notifFilter");
        var getid = url.searchParams.get("id");

        var dateObjFrom = new Date();
        dateObjFrom.setDate(dateObjFrom.getDate() - @ViewBag.Notif_Days);
        var monthFrom = dateObjFrom.getUTCMonth() + 1;
        var dayFrom = dateObjFrom.getUTCDate();
        var yearFrom = dateObjFrom.getUTCFullYear();
        var newdateFrom =  dayFrom + "-" + monthFrom + "-" + yearFrom;

        var dateObjTo = new Date();
        var monthTo = dateObjTo.getUTCMonth() + 1;
        var dayTo = dateObjTo.getUTCDate();
        var yearTo = dateObjTo.getUTCFullYear();
        var newdateTo = dayTo + "-" + monthTo + "-" + yearTo;

        if (notifFilter) {
            //console.log('masuk notiffilter')

            $("#txtReturnTaxInvoiceDateFrom").val(newdateFrom);
            $("#txtReturnTaxInvoiceDateTo").val(newdateTo);
            $("#txtReturnDateFrom").val(newdateFrom);
            $("#txtReturnDateTo").val(newdateTo);

            searchParam = {
                EFakturStatus: notifFilter,
                TanggalFakturFrom: newdateFrom  ,
                TanggalFakturTo: newdateTo,
                TanggalKembaliFrom: newdateFrom ,
                TanggalKembaliTo: newdateTo
            };
            onGet(1);
        }

        if (getid) {
            //console.log('masuk id')
            id = getid;
            onGet(1);
            id = ""
        } else {
            id = "";
        }
    });
    //END

    var sort = {
        sortBy: 0,
        sortDirection: true
    };

    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=ApprovalStatus", "ddlReturnApprovalStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=StatusRekam", "ddlReturnRecordStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=DownloadStatus", "ddlReturnDownloadStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TaxInvoiceStatus", "ddlTaxInvoiceStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TransitoryStatus", "ddlTransitoryStatus");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=ddlColor", "ddlEFakturStatus");
    //edd ridwam
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=TTD", "ddlReturnTTD");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=DGT", "ddlReturnDGT");
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=Original", "ddlReturnOriginal");
    // batas
      @if (ViewBag.IsFullACcess)
      {
          <text>
      getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetGeneralParamDropdown?ParamType=BusinessUnit", "ddlReturnBusinessUnit");
          </text>
      }
      else
      {

          <text>
    getDropdownData("@Html.Toyota().Page.BaseUrl" + "/Master_GeneralParam/GetBusinessUnitByDivisionName?DivisionName=Lexus", "ddlReturnBusinessUnit");
          </text>
      }

    //bind event to buttons
    $("#btnSearch").click(function () {
        //add by DA utk validasi
        if (!ValidasiEfakturStatus()) {
            return false;
        }
        searchParam = {
            TanggalFakturFrom: $("#txtReturnTaxInvoiceDateFrom").val(),
            TanggalFakturTo: $("#txtReturnTaxInvoiceDateTo").val(),
            TanggalKembaliFrom: $("#txtReturnDateFrom").val(),
            TanggalKembaliTo: $("#txtReturnDateTo").val(),
            TanggalFileDiterimaFrom: $("#txtReturnReceiveFileDateFrom").val(),
            TanggalFileDiterimaTo: $("#txtReturnReceiveFileDateTo").val(),
            WaktuFileDiterimaFrom: $("#txtReturnReceiveFileTimeFrom").val(),
            WaktuFileDiterimaTo: $("#txtReturnReceiveFileTimeTo").val(),
            TanggalDownloadFrom: $("#txtReturnDownloadDateFrom").val(),
            TanggalDownloadTo: $("#txtReturnDownloadDateTo").val(),
            WaktuDownloadFrom: $("#txtReturnDownloadTimeFrom").val(),
            WaktuDownloadTo: $("#txtReturnDownloadTimeTo").val(),
            RecordTimeFrom: $("#txtReturnRecordDateFrom").val(),
            RecordTimeTo: $("#txtReturnRecordDateTo").val(),
            ApprovalTimeFrom: $("#txtReturnApprovalDateFrom").val(),
            ApprovalTimeTo: $("#txtReturnApprovalDateTo").val(),
            TaxInvoiceStatus: $("#lookupNameddlTaxInvoiceStatus").val(),
            TransitoryStatus: $("#lookupNameddlTransitoryStatus").val(),

            CreditNoteOriginal: $("#lookupNameddlReturnOriginal").val(),
            CreditNoteTTD: $("#lookupNameddlReturnTTD").val(),
            CreditNoteDGT: $("#lookupNameddlReturnDGT").val(),



            TransitoryNumber: $("#lookupTransitoryNumber").val(),
            TransitoryDateFrom: $("#txtTransitoryDateFrom").val(),
            TransitoryDateTo: $("#txtTransitoryDateTo").val(),
            BusinessUnit: $("#lookupNameddlReturnBusinessUnit").val(),
            TransactionDataFile: $("#lookupReturnTransactionDataFile").val(),
            CreditNoteNumber: $("#lookupReturnCreditNoteNumber").val(),
            CADACNumber: $("#lookupReturnCADACNumber").val(),
            TaxInvoiceNumber: $("#lookupReturnTaxInvoiceNumber").val(),
            DANumber: $("#lookupReturnDebitAdviceNumber").val(),
            NPWPCustomer: $("#lookupReturnCustomerNPWP").val(),
            NamaCustomer: $("#lookupReturnCustomerName").val(),
            VATBaseAmount: $("#txtReturnVATBaseAmount").val(),
            VATBaseAmountOperator: $("#ddlReturnVATBaseAmountOperator").val(),
            VATAmount: $("#txtReturnVATAmount").val(),
            VATAmountOperator: $("#ddlReturnVATAmountOperator").val(),
            RecordStatus: $("#lookupNameddlReturnRecordStatus").val(),
            DownloadStatus: $("#lookupNameddlReturnDownloadStatus").val(),
            ApprovalStatus: $("#lookupNameddlReturnApprovalStatus").val(),
            BatchFileName: $("#lookupReturnBatchFileName").val(),
            EFakturStatus: $("#lookupNameddlEFakturStatus").val()


        };
        onGet(1);
    });

    $("#ddlPageSize").change(function () {
        onGet(1);
    });

    //fungsi Sort BY
    function sortItem(field) {
        if (sort.sortBy == field) {
            sort.sortDirection = !sort.sortDirection;
        }
        else {
            sort.sortBy = field;
            sort.sortDirection = true;
        }
        onGet(1);
    }
    //Ajax POST/GET Method
    function onGet(page) {
        @if (ViewBag.IsAuthPage)
        {
            @:clearCheckedItems();
        }
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetVATOutSalesReturnList")",
            data: {
                data: JSON.stringify(searchParam),
                sortBy: sort.sortBy,
                sortDirection: sort.sortDirection,
                page: page,
                Id : id,
                size: $("#ddlPageSize").val()
            },
            beforeSend: function () {
                $('#btnSearch').button('loading');
                if (DEBUG) {
                    console.log('Search Start');
                }
            },
            success: function (result) {
                $("#gridVATOutSalesReturn").html(result);
                freezeTable.init();
                if (DEBUG) {
                    console.log('Search Result Rendered');
                }
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (DEBUG) {
                    var title = XMLHttpRequest.responseText.match(/<title[^>]*>([^<]+)<\/title>/);
                    console.log("error: " + title[1]);

                    var check = XMLHttpRequest.responseText.includes('timeout');
                    if (check) {

                        msgError("Load too much data, please refine your filters");
                    }
                    else {

                        msgError("Error " + title[1]);
                    }
                }
            },
            complete: function () {
                $('#btnSearch').button('reset');
                if (DEBUG) {
                    console.log('Search Done');
                }
            }
        });
    }

    function btnPrint(type) {
        vatOutSalesReturnIdList = [];
        var isValid = true;
        isContainDownloaded = false;
        isPermittedDownload = true;

        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATOutSalesReturnId').val();
                var thisDownloadStatus = $(this).find('.VATOutSalesReturnDownloadStatus').html();
                var thisApprovalStatus = $(this).find('.VATOutSalesReturnApprovalStatus').html();
                if (!$("#checkall").is(":checked")) {
                    vatOutSalesReturnIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }
                if (thisApprovalStatus.toLowerCase() == 'reject') {
                    isPermittedDownload = false;
                }
                if (thisDownloadStatus.toLowerCase() == 'yes') {
                    isContainDownloaded = true;
                }
            }
        });
        var warning = '';


        //popup for CSV
        if (type == 'csv' && isContainDownloaded) {
            warning = 'Checked item(s) contain an already downloaded CSV. Do you want to proceed?';
            if (!confirm(warning)) {
                return;
            }
        }
        if (type == 'csv' && !isPermittedDownload) {
            warning = 'Checked item(s) contain Reject Approval Status!';
            alert(warning);
            return;
        }
        //validasi ceklist//
       if (vatOutSalesReturnIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        if (isValid) {
            console.log(JSON.stringify(searchParam));
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GeneratePrintFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    vatOutSalesReturnIdList: JSON.stringify(vatOutSalesReturnIdList),
                    type: type,
                    checkAll: $("#checkall").is(":checked")
                },
                success: function (result) {
                    if (result.ResultCode) {
                        debugger;
                        if (result.Data != null && result.Data != "") {

                            $.each(result.Data, function (item, data) {
                                window.open("@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + data);
                            })
                            onGet(1);
                            msgOk(result.ResultDesc)

                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        var title = XMLHttpRequest.responseText.match(/<title[^>]*>([^<]+)<\/title>/);
                        console.log("error: " + title[1]);

                        var check = XMLHttpRequest.responseText.includes('timeout');
                        if (check) {

                            msgError("Load too much data");
                        }
                        else {

                            msgError("Error " + title[1]);
                        }
                    }
                }
            });
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }

    }

    //Ajax POST/GET Method
    function onGet(page) {
        @if (ViewBag.IsAuthPage)
        {
            @:clearCheckedItems();
        }
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("GetVATOutSalesReturnList")",
            data: {
                data: JSON.stringify(searchParam),
                sortBy: sort.sortBy,
                sortDirection: sort.sortDirection,
                page: page,
                Id : id,
                size: $("#ddlPageSize").val()
            },
            beforeSend: function () {
                $('#btnSearch').button('loading');
                if (DEBUG) {
                    console.log('Search Start');
                }
            },
            success: function (result) {
                $("#gridVATOutSalesReturn").html(result);
                freezeTable.init();
                if (DEBUG) {
                    console.log('Search Result Rendered');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                    var title = XMLHttpRequest.responseText.match(/<title[^>]*>([^<]+)<\/title>/);
                    console.log("error: " + title[1]);

                        var check = XMLHttpRequest.responseText.includes('timeout');
                        if (check) {

                            msgError("Load too much data");
                        }
                        else {

                        msgError("Error " + title[1]);
                    }

            },
            complete: function () {
                $('#btnSearch').button('reset');
                if (DEBUG) {
                    console.log('Search Done');
                }
            }
        });
    }

    function Download(type) {
        vatOutSalesReturnIdList = [];
        var isValid = true;
        isContainDownloaded = false;
        isPermittedDownload = true;

        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATOutSalesReturnId').val();
                var thisDownloadStatus = $(this).find('.VATOutSalesReturnDownloadStatus').html();
                var thisApprovalStatus = $(this).find('.VATOutSalesReturnApprovalStatus').html();
                if (!$("#checkall").is(":checked")) {
                    vatOutSalesReturnIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }
                if (thisApprovalStatus.toLowerCase() == 'reject') {
                    isPermittedDownload = false;
                }
                if (thisDownloadStatus.toLowerCase() == 'yes') {
                    isContainDownloaded = true;
                }
            }
        });
        var warning = '';

        //popup for CSV
        if (type == 'csv' && isContainDownloaded) {
            warning = 'Checked item(s) contain an already downloaded CSV. Do you want to proceed?';
            if (!confirm(warning)) {
                return;
            }
        }
        if (type == 'csv' && !isPermittedDownload) {
            warning = 'Checked item(s) contain Reject Approval Status!';
            alert(warning);
            return;
        }
        //validasi ceklist//
       if (vatOutSalesReturnIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        if (isValid) {
            console.log(JSON.stringify(searchParam));
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("GenerateDownloadFile")",
                data: {
                    data: JSON.stringify(searchParam),
                    vatOutSalesReturnIdList: JSON.stringify(vatOutSalesReturnIdList),
                    type: type,
                    checkAll: $("#checkall").is(":checked")
                },
                beforeSend: function () {
                    $('#btnDownloadChoice').button('loading');
                    if (DEBUG) {
                        console.log('Generate Download Start');
                    }
                },
                  success: function (result) {
                    if (result.ResultCode) {
                        if (result.Data != null && result.Data != "") {
                            window.location = "@Html.Toyota().Page.GetActionUrl("DownloadTemp")" + "?filePath=" + result.Data;
                            onGet(1);
                            msgOk(result.ResultDesc)

                        }
                        else {
                            msgError("There is no file found");
                        }
                    }
                    else {
                        msgError(result.ResultDesc);
                    }

                },
                //error: function (XMLHttpRequest, textStatus, errorThrown) {
                //    if (DEBUG) {
                //        console.log("error: " + errorThrown);
                //    }
                //}

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (DEBUG) {
                        var title = XMLHttpRequest.responseText.match(/<title[^>]*>([^<]+)<\/title>/);
                        console.log("error: " + title[1]);

                        var check = XMLHttpRequest.responseText.includes('timeout');
                        if (check) {

                            msgError("Load too much data");
                        }
                        else {

                            msgError("Error " + title[1]);
                        }
                    }
                },
                complete: function () {
                    $('#btnDownloadChoice').button('reset');
                    if (DEBUG) {
                        console.log('Generate Download Done');
                    }
                }
            });
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }

    }

    function onCallback(pg) {
        var mx = $("#txtMaxPage").val();
        if ((pg <= mx) && (pg > 0)) {
            onGet(pg);
        }
        else {
            msgWarning('Page not found');
        }
    }

    function ValidasiEfakturStatus() {
        if ($("#lookupNameddlEFakturStatus").val()) {
            if ($("#txtReturnDateFrom").val() && $("#txtReturnDateTo").val()) {
                document.getElementById("btnSearch").disabled = false;
                return true;
            }
            else {
                msgWarning('Return Date  is required and can\'t be empty');
                document.getElementById("btnSearch").disabled = true;
                return false;
            }
        }
        return true;
    }
    function EnabledbtnSearch() {

        document.getElementById("btnSearch").disabled = false;
        return true;

    }

    function DeleteVATOutReturn() {
        vatOutSalesReturnIdList = [];
        var isValid = true;


        $('tbody tr').each(function (i) {
            if ($(this).find('.check').is(':checked')) {
                var thisId = $(this).find('.VATOutSalesReturnId').val();
                //var thisTransitoryStatus = $(this).find('.TransitoryStatus').html();
                if (!$("#checkall").is(":checked")) {
                    vatOutSalesReturnIdList.push(thisId);
                }
                if (DEBUG) {
                    console.log(thisId + ' is selected');
                }


            }
        });


        //popup for Delete
        var warn = '';

        if (vatOutSalesReturnIdList.length == 0 && !$("#checkall").is(":checked")) {
            isValid = false;
        }
        var warning = 'Are you sure you want to delete the data?';
        if (isValid) {
            if (confirm(warning)) {
                console.log(JSON.stringify(searchParam));
                $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.GetActionUrl("DeleteVATOutSalesReturn")",
                    data: {
                        data: JSON.stringify(searchParam),
                        vatOutSalesReturnIdList: JSON.stringify(vatOutSalesReturnIdList),

                        checkAll: $("#checkall").is(":checked")
                    },
                    beforeSend: function () {
                        $('#btndelete').button('loading');
                        if (DEBUG) {
                            console.log('Delete Start');
                        }
                    },
                    complete: function () {
                        $('#btndelete').button('reset');
                        if (DEBUG) {
                            console.log('Delete Done');
                        }
                    },
                    success: function (result) {
                        if (result.ResultCode) {
                            onGet(1);
                            if (DEBUG) {
                                console.log('Delete Success');
                            }
                            msgOk(result.ResultDesc);
                        }
                        else {
                            msgError(result.ResultDesc);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (DEBUG) {
                            console.log('Delete Error');
                            console.log("error: " + errorThrown);
                        }
                    }
                });
            }
        }
        else {
            msgWarning('Please checklist at least one item to perform this action');
        }
    }
</script>