﻿<form role="form" class="form-horizontal" id="searchReturnForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Invoice Date/ DA</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnTaxInvoiceDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnTaxInvoiceDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-xs ">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Return Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker' onclick="EnabledbtnSearch()">
                        <input id="txtReturnDateFrom" type="text"  class="form-control" placeholder="From" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker' onclick="EnabledbtnSearch()">
                        <input id="txtReturnDateTo" type="text"  class="form-control" placeholder="To" value="@DateTime.Now.Day" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnReceiveFileDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnReceiveFileDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Receive File Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReturnReceiveFileTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReturnReceiveFileTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnDownloadDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnDownloadDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Time</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReturnDownloadTimeFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _timepicker'>
                        <input id="txtReturnDownloadTimeTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnRecordDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>

                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnRecordDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnApprovalDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtReturnApprovalDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- begin update imron 27102020 -->
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Credit Note Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTaxInvoiceStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlTransitoryStatus" multiple></select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtTransitoryNumber" type="text" class="form-control" readonly>
                        <input id="lookupTransitoryNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOut", new { Id = "lookupTransitoryNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transitory Date</label>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateFrom" type="text" class="form-control" placeholder="From" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class='input-group input-group-xs _datepicker'>
                        <input id="txtTransitoryDateTo" type="text" class="form-control" placeholder="To" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- end update imron 27102020 -->
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Business Unit</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnBusinessUnit" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Transaction Data File</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnTransactionDataFile" type="text" class="form-control" readonly>
                        <input id="lookupReturnTransactionDataFile" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnTransactionDataFile" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Credit Note Number</label>

                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnCreditNoteNumber" type="text" class="form-control" readonly>
                        <input id="lookupReturnCreditNoteNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnCreditNoteNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group form-group-xs">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">CA/DAC Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnCADACNumber" type="text" class="form-control" readonly>
                        <input id="lookupReturnCADACNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnCADACNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted"> Tax Invoice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnTaxInvoiceNumber" type="text" class="form-control" placeholder="000.000-00.00000000" readonly>
                        <input id="lookupReturnTaxInvoiceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnTaxInvoiceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Debit Advice Number</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnDebitAdviceNumber" type="text" class="form-control" readonly>
                        <input id="lookupReturnDebitAdviceNumber" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnDebitAdviceNumber" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer NPWP</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnCustomerNPWP" type="text" class="form-control" placeholder="00.000.000.0-000.000" readonly>
                        <input id="lookupReturnCustomerNPWP" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnCustomerNPWP" })"><i class="fa fa-search"></i></a>
                        </span>

                    </div><!-- /input-group -->
                    @*<small class="help-block" data-bv-validator="notEmpty" data-bv-for="InvoiceNumber" style="display: block;">Format Customer NPWP: (00.00.00.0-000.000)</small>*@
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Customer Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnCustomerName" type="text" class="form-control" readonly>
                        <input id="lookupReturnCustomerName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnCustomerName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Based Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlReturnVATBaseAmountOperator">
                        999
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtReturnVATBaseAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">VAT Amount</label>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <select class="form-control" id="ddlReturnVATAmountOperator">
                        <option></option>
                        <option value="EQ">=</option>
                        <option value="LT">&lt;</option>
                        <option value="LTE">&lt;=</option>
                        <option value="GT">&gt;</option>
                        <option value="GTE">&gt;=</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6" style="padding-left:0px">
                    <input type="text" class="form-control" id="txtReturnVATAmount" />
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Record Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnRecordStatus" multiple>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Download Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnDownloadStatus" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Approval Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnApprovalStatus" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Batch File Name</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group input-group input-group-xs">
                        <input id="txtReturnBatchFileName" type="text" class="form-control" readonly>
                        <input id="lookupReturnBatchFileName" type="hidden" />
                        <span class="input-group-btn">
                            <a class="btn btn-primary modal-link" href="@Url.Action("PopupTextAreaSearch", "VATOutSalesReturn", new { Id = "lookupReturnBatchFileName" })"><i class="fa fa-search"></i></a>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Credit Note Original</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnOriginal" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Credit Note Sign Off</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnTTD" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">Credit Note DGT</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlReturnDGT" multiple>
                    </select>
                </div>
            </div>


            @*ADD AD Filter Color*@
            <div class="form-group form-group-xs _searchCriteria">
                <label class="col-xs-12 col-sm-3 col-md-4 control-label text-muted">EFaktur Status</label>
                <div class="col-xs-12 col-sm-9 col-md-8">
                    <select class="form-control" id="ddlEFakturStatus" multiple>
                    </select>
                </div>
            </div>
            @*END*@

        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            <a id="lnsearch-toggle" class="_linkact">Expand search criteria</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Loading...">Search</button>
                <button type="button" class="btn btn-default" onclick='clearSearch()'>Clear</button>
            </div>
        </div>
    </div>
</form>
<script style="Text/Javascript">
    //Clear TextBox
    function clearSearch() {
        document.getElementById("txtReturnTaxInvoiceDateFrom").value = "";
        document.getElementById("txtReturnTaxInvoiceDateTo").value = "";
        document.getElementById("txtReturnDateFrom").value = "";
        document.getElementById("txtReturnDateTo").value = "";
        document.getElementById("txtReturnReceiveFileDateFrom").value = "";
        document.getElementById("txtReturnReceiveFileDateTo").value = "";
        document.getElementById("txtReturnReceiveFileTimeFrom").value = "";
        document.getElementById("txtReturnReceiveFileTimeTo").value = "";
        document.getElementById("txtReturnDownloadDateFrom").value = "";
        document.getElementById("txtReturnDownloadDateTo").value = "";
        document.getElementById("txtReturnDownloadTimeFrom").value = "";
        document.getElementById("txtReturnDownloadTimeTo").value = "";
        document.getElementById("txtReturnRecordDateFrom").value = "";
        document.getElementById("txtReturnRecordDateTo").value = "";
        document.getElementById("txtReturnApprovalDateFrom").value = "";
        document.getElementById("txtReturnApprovalDateTo").value = "";
        document.getElementById("ddlReturnBusinessUnit").value = "";
        document.getElementById("txtReturnTransactionDataFile").value = "";
        document.getElementById("lookupReturnTransactionDataFile").value = "";
        document.getElementById("txtReturnCreditNoteNumber").value = "";
        document.getElementById("lookupReturnCreditNoteNumber").value = "";
        document.getElementById("txtReturnCADACNumber").value = "";
        document.getElementById("lookupReturnCADACNumber").value = "";
        document.getElementById("txtReturnTaxInvoiceNumber").value = "";
        document.getElementById("lookupReturnTaxInvoiceNumber").value = "";
        document.getElementById("txtReturnDebitAdviceNumber").value = "";
        document.getElementById("lookupReturnDebitAdviceNumber").value = "";
        document.getElementById("txtReturnCustomerNPWP").value = "";
        document.getElementById("lookupReturnCustomerNPWP").value = "";
        document.getElementById("txtReturnCustomerName").value = "";
        document.getElementById("lookupReturnCustomerName").value = "";
        document.getElementById("ddlReturnVATBaseAmountOperator").value = "";
        document.getElementById("txtReturnVATBaseAmount").value = "";
        document.getElementById("ddlReturnVATAmountOperator").value = "";
        document.getElementById("txtReturnVATAmount").value = "";

        document.getElementById("ddlReturnRecordStatus").value = "";
        document.getElementById("ddlReturnDownloadStatus").value = "";

        document.getElementById("ddlReturnApprovalStatus").value = "";
        document.getElementById("txtReturnBatchFileName").value = "";
        document.getElementById("ddlEFakturStatus").value = "";

        document.getElementById("lookupReturnBatchFileName").value = "";

        $('#ddlReturnBusinessUnit').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnBusinessUnit").value = "";
        document.getElementById("lookupNameddlReturnBusinessUnit").value = "";

        $('#ddlReturnRecordStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnRecordStatus").value = "";
        document.getElementById("lookupNameddlReturnRecordStatus").value = "";

        $('#ddlReturnDownloadStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnDownloadStatus").value = "";
        document.getElementById("lookupNameddlReturnDownloadStatus").value = "";

        $('#ddlReturnApprovalStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnApprovalStatus").value = "";
        document.getElementById("lookupNameddlReturnApprovalStatus").value = "";

        document.getElementById("ddlTaxInvoiceStatus").value = "";
        document.getElementById("ddlTransitoryStatus").value = "";
        document.getElementById("ddlReturnTTD").value = "";
        document.getElementById("ddlReturnDGT").value = "";
        document.getElementById("ddlReturnOriginal").value = "";

        document.getElementById("txtTransitoryDateFrom").value = "";
        document.getElementById("txtTransitoryDateTo").value = "";

        $('#ddlTaxInvoiceStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlTaxInvoiceStatus").value = "";
        document.getElementById("lookupNameddlTaxInvoiceStatus").value = "";

        //add by AD
        $('#ddlEFakturStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlEFakturStatus").value = "";
        document.getElementById("lookupNameddlEFakturStatus").value = "";
        //END

        $('#ddlTransitoryStatus').multiselect('clearSelection');
        document.getElementById("lookupIdddlTransitoryStatus").value = "";
        document.getElementById("lookupNameddlTransitoryStatus").value = "";

        $('#ddlReturnTTD').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnTTD").value = "";
        document.getElementById("lookupNameddlReturnTTD").value = "";

         $('#ddlReturnDGT').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnDGT").value = "";
        document.getElementById("lookupNameddlReturnDGT").value = "";

        $('#ddlReturnOriginal').multiselect('clearSelection');
        document.getElementById("lookupIdddlReturnOriginal").value = "";
        document.getElementById("lookupNameddlReturnOriginal").value = "";

        document.getElementById("txtTransitoryNumber").value = "";
        document.getElementById("lookupTransitoryNumber").value = "";
        //add by DA utk validasi color
        document.getElementById("btnSearch").disabled = false;
    }
</script>
