﻿@using TAM.EFaktur.Web.Models.VATOutSalesReturn
@using TAM.EFaktur.Web.Models

@{
    List<VATOutSalesReturnViewModel> VATOutSalesReturn = (List<VATOutSalesReturnViewModel>)ViewData["VATOutSalesReturnListDashboard"];
}
<div id="gridVATOutSalesReturn">
    <div class="table-responsive _table-flow">
        <table class="table table-striped table-bordered table-condensed fixed-columns">
            <thead>
                <tr>
                    <th class="fixed-column _col-checkbox" width="35px;"><input type="checkbox" id="checkall" onclick="checkAll()" /></th>

                    <th class="fixed-column _col" onclick="sortItem(2)" style="cursor:pointer">Credit Note Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column _col" onclick="sortItem(3)" style="cursor:pointer">Return Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column _col" onclick="sortItem(4)" style="cursor:pointer">Return Tax Invoice Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(5)" style="cursor:pointer">Cancel DA/CA Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(6)" style="cursor:pointer">Return DA &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(7)" style="cursor:pointer">Tax Invoice/DA Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(8)" style="cursor:pointer">Customer NPWP &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(9)" style="cursor:pointer">Customer Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(10)" style="cursor:pointer">Return VAT Based Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(11)" style="cursor:pointer">Return VAT Amount &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(12)" style="cursor:pointer">Business Unit &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(1)" style="cursor:pointer">Transaction Data File &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(13)" style="cursor:pointer">Receive File Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Receive File Time</th>
                    <th class="fixed-column-hide _col" onclick="sortItem(16)" style="cursor:pointer">Download Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(17)" style="cursor:pointer">Download Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Download Time</th>
                    <th onclick="sortItem(14)" style="cursor:pointer">Record Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(15)" style="cursor:pointer">Record Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th class="fixed-column-hide _col" onclick="sortItem(18)" style="cursor:pointer">Approval Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(19)" style="cursor:pointer">Approval Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(20)" style="cursor:pointer">Credit Note Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(21)" style="cursor:pointer">Transitory Status &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(22)" style="cursor:pointer">Transitory Number &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(23)" style="cursor:pointer">Transitory Date &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                    <th onclick="sortItem(24)" style="cursor:pointer">Batch File Name &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    @*add file*@
                    <th onclick="sortItem(25)" style="cursor:pointer">Credit Note Original &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(26)" style="cursor:pointer">Credit Note Sign Off &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                    <th onclick="sortItem(27)" style="cursor:pointer">Credit Note DGT &nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>

                    <th>E-faktur Status&nbsp;&nbsp;&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (VATOutSalesReturn != null && VATOutSalesReturn.Count > 0)
                {
                    foreach (var VATOutReturn in VATOutSalesReturn)
                    {
                <tr>
                    <td class="text-center fixed-column">
                        <input id="@string.Format("chkGrid{0}", VATOutReturn.RowNum)" type="checkbox" class="check" onchange="javascript:checkGrid(this.id)" />
                        <input type="hidden" class="VATOutSalesReturnId" value="@VATOutReturn.Id" />
                    </td>
                    <td class="fixed-column">@VATOutReturn.CreditNoteNumber</td>
                    <td class="fixed-column">@VATOutReturn.ReturnDate.FormatViewDate()</td>
                    <td class="fixed-column">@VATOutReturn.ReturnTaxInvoiceNumber</td>
                    <td>@VATOutReturn.CANumber</td>
                    <td>@VATOutReturn.ReturnDA</td>
                    <td>@VATOutReturn.DaDate.FormatViewDate()</td>
                    <td>@VATOutReturn.NPWPCustomer</td>
                    <td>@VATOutReturn.NamaCustomer</td>
                    <td class="text-right">@VATOutReturn.ReturnVATBasedAmount.FormatViewCurrency()</td>
                    <td class="text-right">@VATOutReturn.ReturnVATAmount.FormatViewCurrency()</td>
                    <td>@VATOutReturn.BusinessUnit</td>
                    <td>@VATOutReturn.TransactionDataFile</td>
                    <td>
                        @if (VATOutReturn.ReceiveFile.HasValue)
                        {@Html.Raw(VATOutReturn.ReceiveFile.Value.FormatViewDate());
                    }
                    </td>
                    <td>
                        @if (VATOutReturn.ReceiveFile.HasValue)
                        {@Html.Raw(VATOutReturn.ReceiveFile.Value.FormatViewTime());
                    }
                    </td>
                    <td class="fixed-column-hide VATOutSalesReturnDownloadStatus">@VATOutReturn.DownloadStatus</td>
                    <td>
                        @if (VATOutReturn.DownloadDate.HasValue)
                        {@Html.Raw(VATOutReturn.DownloadDate.Value.FormatViewDate());
                    }
                    </td>
                    <td>
                        @if (VATOutReturn.DownloadDate.HasValue)
                        {@Html.Raw(VATOutReturn.DownloadDate.Value.FormatViewTime());
                    }
                    </td>
                    <td>@VATOutReturn.RecordStatus</td>
                    <td>@VATOutReturn.RecordDate.FormatViewDate()</td>
                    <td class="fixed-column-hide VATOutSalesReturnApprovalStatus">@VATOutReturn.ApprovalStatus</td>
                    <td>@VATOutReturn.ApprovalTime.FormatViewDate()</td>
                    <td>@VATOutReturn.TaxInvoiceStatus</td>
                    <td>@VATOutReturn.TransitoryStatus</td>
                    <td>@VATOutReturn.TransitoryNumber</td>
                    <td>@VATOutReturn.TransitoryDate.FormatViewDate()</td>
                    <td>@VATOutReturn.BatchFileName</td>
                    <td>@VATOutReturn.CreditNoteOriginal</td>
                    <td>@VATOutReturn.CreditNoteTTD</td>
                    <td>@VATOutReturn.CreditNoteDGT</td>

                    <td>
                        <div style='text-align:center;width:fit-content;margin: auto;'>
                            @if (VATOutReturn.EFakturStatus.Contains("|"))
                            {
                                <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@VATOutReturn.EFakturStatus.Split('|')[0];width:10px;min-height: 20px;' title='@VATOutReturn.EFakturStatus.Split('|')[1]'></p>
                            }
                            else
                            {
                                <p style='margin:auto;min-width: 20px!important;padding: 5px;background-color:@VATOutReturn.EFakturStatus;width:10px;min-height: 20px;' title='@VATOutReturn.EFakturStatus'></p>

                            }
                        </div>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="danger" colspan="20"><b class="padding-5">No Record</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            @Html.Partial("_UIPaging")
        </div>
    </div>
</div>